[2022-05-30 06:08] Acture commented on #3333
Hi @abravalheri , I've also encountered this issue a few weeks ago after installing a requirement.txt. I'm not sure if this issue was caused by that directly, and unfortunately, I didn't keep a copy of that. But perhaps you can try some requirement texts.

[2022-05-31 05:57] andy-maier commented on #3198
A late but big "Thank You!!" for fixing this :-)

We had already removed installation via setup.py from the documentation of our project some time ago, and I'll also remove it now from our install test.

[2022-05-31 12:42] jwodder opened #3341 "[FR] Support specifying MANIFEST.in config via pyproject.toml"
### What's the problem this feature will solve?

Now that setuptools has support for specifying `setup.cfg` options in `pyproject.toml`, one config file remains: `MANIFEST.in`.  It would be nice if `MANIFEST.in` options could be specified in `pyproject.toml` so that a setuptools project could be configured entirely through one file.

(And before anyone suggests it, `setuptools_scm` does not help m

[2022-06-01 06:53] thomie commented on #3301
I believe I have the same issue. I'm on a Mac.

[code]

With setuptools `59.8.0`, `pip install --user -e .` installs the egg-link into `~/Library/Python/3.9/lib/python3.9/site-packages` (=USER_SITE, OK)

With the latest setuptools (`62.3.2`), `pip install --user -e .` installs the egg-link into `~/Library/Python/3.9/lib/python3.9/site-packages` (NOT OK)

Adding `SETUPTOOLS_USE_DISTUTILS=stdlib` fi

[2022-06-01 09:49] williamhCode opened #3343 "build_ext --inplace argument doesn't work when directory has __init__.py"
### setuptools version

62.3.2

### Python version

3.10.0

### OS

macOS Monterey 12.2

### Additional environment information

MacBook Pro (13-inch, M1, 2020)

### Description

When I use the --inplace argument to build a .pyx file, such as `python setup.py build_ext --inplace` the .so file gets copied to the correct directory only if `__init__.py` doesn't exist.

File Structure:
[code]

Termina

[2022-06-01 11:32] abravalheri commented on #3301
Hi @thomie, this issue is Debian specific.

Maybe the issue you are facing is related to the existence of a `distutils/distutils.cfg` file that is not being read by setuptools? Would that be the case? If so, it is related to https://github.com/pypa/setuptools/issues/3310

[2022-06-01 12:29] #3343 closed

[2022-06-01 12:36] williamhCode commented on #3343
https://stackoverflow.com/questions/71983019/why-does-adding-an-init-py-change-cython-build-ext-inplace-behavior
Here is one that I found. I remember seeing more when I was trying to solve this myself, but there are a lot hidden out there on the internet. I guess it's really easy to stumble across this isue.

[2022-06-02 12:45] thomie commented on #3301
Hello @abravalheri,

Thank you for your response.

I don't think my problem is related to (the not reading of) `distutils.cfg`, because that file only contains only absolute paths (install.prefix, build_ext.include_dirs, build_ext.library_dirs).

The problem I'm facing is that the egg-link gets installed into "{userbase}/lb/python{**py_version_short**}/site-packages", instead of "{userbase}/lb/pyt

[2022-06-03 02:56] mriedem commented on #3118
Quick follow up on this, I found that building in Travis CI with python 3.9 works around this problem.

[2022-06-03 20:29] jwodder commented on #3340
I'm facing the same problem, and I'm not clear on the nature of the change suggested by @abravalheri.  Are you saying that directories in the package hierarchy that contain only data files and no Python code should be included in the project's list of packages despite not actually being Python packages?

[2022-06-04 19:51] abravalheri commented on #3340
Hi @jwodder, thank you very much for the input. Please find my comments bellow:

I think that this assumption[^1] no longer holds.

According to [PEP 420](https://peps.python.org/pep-0420/), `package` is a term that "refers to Python packages as defined by Python’s import statement".
An evidence that a directory without Python code is treated by the Python import statement as a package is given by

[2022-06-04 20:01] jwodder commented on #3340
@abravalheri So you *are* saying that "data-only packages" should be included in the project's list of packages?  Is that the only change you're currently recommending to authors of such projects?  Does it matter whether the data files are included via `package_data` or `MANIFEST.in`+`include_package_data`?

[2022-06-04 20:06] abravalheri commented on #3340
Yes, I recommend adding all the sub-directories to the list of packages, even if they only include data files. On the bright side that can be done with `find_namespace_packages` (`setup.py`) or `find_namespace:` (`setup.cfg`).

It should make no difference if you are using `package_data` or `MANIFEST.in` (although I am not sure if users are going to see the warning if they don't use `include_packa

[2022-06-04 20:07] abravalheri commented on #3340
Do you have a suggestion about how to improve the warning message to make it more clear?

[2022-06-04 20:13] jwodder commented on #3340
@abravalheri I find the first paragraph of the warning to be a bit confusing.  I would rewrite it from:

to something more like:

[2022-06-06 11:29] jelmer commented on #1805
Apparently one of the consequences is that this field allows package managers to figure out dependencies before they have to go and download the wheel.

[2022-06-06 14:27] abravalheri commented on #3301
Thank you very much @thomie for the update.

Unfortunately it is a bit complicated to trace back and isolate what actually is causing the problem... I believe that the maintainers for the `python@3.10` formula changed the way they customize the installation locations and now they no longer rely on `distutils.cfg` .

Given the following observation:

I am thinking that this can actually be related

[2022-06-07 15:05] abravalheri commented on #3338
Hi @dcvcv, I don't plan to work on this right now, but could you add a few examples on what do you expect from this feature and how users could expect from it? This way any people interested in creating a PR can give it a try...

Another question would be how this feature is different from using the keyword arguments of the exiting `Extension` class: [`extra_compile_args`/`extra_link_args`](https:

[2022-06-07 15:22] abravalheri commented on #1805
This requires a "modernization" on how `setuptools` builds `sdist`, specifically, we need to make the `PKG-INFO` file properly aligned with the core metadata specifications.

If anyone would like to contribute, help implementing would be very appreciated.

Some time ago I started to contribute to https://github.com/pypa/packaging/pull/498, but it seems that there is a lot to be discussed there and

[2022-06-07 16:04] abravalheri commented on #2671
Thank you @bhrutledge, I will have a look on that.

[2022-06-07 20:02] abravalheri commented on #3341
Hi @jwodder thank you very much for the suggestion.

How about we take this opportunity (the move to `pyproject.toml`) to come up with a better/clearer design for specifying which files to include/exclude?

I have the impression that people have a [hard time](https://blog.ionelmc.ro/presentations/packaging/#slide:11) with `MANIFEST.in`... Or is it just my impression?

(In terms of personal priorit

[2022-06-07 22:03] RonnyPfannschmidt commented on #2671
:+1:

[2022-06-08 18:03] comabrewer opened #3350 "[BUG] Dotfiles are not included as packaga_data unless explicitly listed"
### setuptools version

setuptools==62.3.3

### Python version

Python 3.9

### OS

Windows

### Additional environment information

_No response_

### Description

Dotfiles (files with a leading `.` like `.gitignore`) are not packaged as datafiles unless they are explicitly listed.

So this all works for all non-dotfiles:
[code]

Or explicitly listing all levels (single-star):
[code]

But dotfile

[2022-06-08 19:53] comabrewer commented on #3350
Apparently setuptools uses `glob.glob` from the standard library. The observed behavior stems directly from `glob` and can be reproduced with `import glob; for p in glob.glob("*"): print(p)`.

The [Python documentation]() states that:

So if the behavior is only a surprise to me, please feel free to immediately close the issue.

Otherwise it might make sense to document the behavior in the setupto

[2022-06-08 19:56] abravalheri commented on #3350
@comabrewer, this behaviour is not exclusive to Python. In general glob patterns have this behaviour everywhere. For example, in your behaviour you can try:
[code]
So I think for the time being we can close this issue.

Would you like to submit a PR with the suggested changes for the docs? That would be very useful.

[2022-06-08 19:56] #3350 closed

[2022-06-08 20:02] comabrewer commented on #3350
@abravalheri thank you very much for your responses (which I saw just after my previous comment).
From my understanding I would also have expected `find_namespace` to be necessary, but it also seems to work correctly with `find:`. Anyway I will adapt the corresponding line.

Regarding the glob pattern I totally agree that it was because of my lack of understanding, sorry for that.
I would be glad

[2022-06-08 20:10] abravalheri commented on #3350
Thank you very much for the kind words @comabrewer.

I will work for this particular example, but it is a bit clumsy (Python does not have the concept of a "data" directory... all directories are considered packages, so I am trying to get people to embrace that mindset).

I have mixed feelings about the `**` pattern to be sincere. It might be useful, but there is a change it can cause inconsistenc

[2022-06-08 20:21] comabrewer commented on #3350
As an additional remark, pathlib works differently, at least on Windows:
[code]
Also shows files starting in `.`

This behavior comes from `fnmatch`:
[code]

[2022-06-08 20:34] abravalheri commented on #3350
Ouch, I was not expecting from this difference...

[2022-06-08 22:14] MuellerSeb commented on #3264
I am more in fover of https://github.com/pypa/setuptools/issues/3341

[2022-06-08 22:23] MuellerSeb commented on #3341
Totally looking forward to getting rid of MANIFEST.in.

[2022-06-09 06:18] cdfarrow commented on #3340
I was following this issue because I was very confused (as a newbie) by the warning that came up. Can I suggest a further edit to the warning message:
    Currently {importable!r} _is only_ added to the distribution because it may
    contain data files...
-->
    Currently {importable!r} **has been automatically** added to the distribution because it may
    contain data files...
This is my under

[2022-06-10 04:25] ni-balexand opened #3356 "[BUG] setup.py check -r results in TypeError when package has no long_description"
### setuptools version

setuptools==62.2.0

### Python version

Python 3.7

### OS

Windows 10

### Additional environment information

_No response_

### Description

Running the command `python setup.py check -r` with setuptools==62.2.0 installed causes a TypeError when the setup call in setup.py has not specified a long_description.  This issue is not present in setuptools==62.1.0 .

It's kind

[2022-06-10 04:29] cdfarrow opened #3357 "[Docs] Provide fuller explanation of package_dir semantics"
### Summary

Overall, I'm impressed with the comprehensiveness of the setuptools and packaging documentation. However, I've been having a hard time understanding how `package_dir` works, and I've made some suggestions on [docs.python.org](https://github.com/python/cpython/issues/93666).

The setuptools [glossary](https://setuptools.pypa.io/en/latest/references/keywords.html) has a very minimal def

[2022-06-10 06:13] #1186 closed

[2022-06-10 07:02] abravalheri commented on #3356
Hi @ni-balexand , thank you for reporting this.

The `setuptools/_distutils` folder is periodically merged from another repository ([pypa/distutils](https://github.com/pypa/distutils)), so we avoid modifying it directly in the `pypa/setuptools` project. Would you like to contact the team in `pypa/setuptools` and provide a PR with the fix? There is a chance they will accept it there (and eventually

[2022-06-10 12:12] abravalheri commented on #3357
Hi @cdfarrow, please let me know if this issue can be solved by #3357.

[2022-06-11 04:19] cdfarrow commented on #3357
Looks great. Thanks so much. I've added some small suggestions to the PR.

[2022-06-11 04:19] #3357 closed

[2022-06-11 05:47] cdfarrow opened #3359 "[Docs] Further clarification of package_dir behaviour"
### Summary

Further to the [improvements to the keywords](https://github.com/pypa/setuptools/issues/3357) page, I think these sections could do with being edited for clarity:

[2.1. Listing whole packages](https://docs.python.org/3/distutils/setupscript.html#listing-whole-packages)

The example syntax here is the same as for the "src layout", but the description seems to be saying that the Python

[2022-06-11 09:14] rayzchen opened #3360 "[FR] egg_info.writers on current installing package only"
### What's the problem this feature will solve?

I want to add some package metadata into .egg-info by using egg_info.writers. However, that only affects future installations and not the current one.

### Describe the solution you'd like

Temporarily add a function to the `egg_info.writers` group before `setup()` is called.

### Alternative Solutions

I tried using other packages for custom metada

[2022-06-11 09:56] abravalheri commented on #3360
Hi @rayzchen, thank you very much for the input.

I think this can be broadly categorized under the same umbrella as https://github.com/pypa/setuptools/issues/2900 right? I.e.: a way of using the entry-points for the build of the package itself.

[2022-06-11 10:13] rayzchen commented on #3360
I also want to avoid #2346 (aka only run the hook on the current package and not subsequent installs).

[2022-06-11 10:23] abravalheri commented on #3360
If we go for something like `entry_points_for_build` that I proposed in #2900, the idea is that the entry-points would be valid *only* for the build of the project itself and not available after it is installed...

If we also change [`build_meta`](https://github.com/pypa/setuptools/blob/fbe659b74cbccbb095dd469a15324eb73285b714/setuptools/build_meta.py#L166-L167) implementation to re-use the genera

[2022-06-11 10:26] rayzchen commented on #3360
I'd like the hook to be run every build so that it always refreshes in case something changes too, but #2900 does seem applicable.

[2022-06-11 10:29] rayzchen commented on #2900
For option a.2 how would you include this file in source distributions but not binary distributions without using MANIFEST.in?

[2022-06-11 10:35] abravalheri commented on #2900
Hi @rayzchen, I think option a.2 would require `MANIFEST.in` or VCS plugin (e.g. `setuptools-scm`, `setuptools-svn`). You need a [backend wrapper](https://setuptools--3355.org.readthedocs.build/en/3355/build_meta.html#dynamic-build-dependencies-and-other-build-meta-tweaks), but that means that the user needs to make sure the file is present in the `sdist`.

The backend wrapper approach is (as far

[2022-06-11 10:46] abravalheri commented on #3359
Hi @cdfarrow thank you very much for the feedback, suggestions and the detailed explanations. They are very good.

I don't think we will be able to change the first link belonging to the Python website, but we can indeed add a modified version of it to the setuptools website. (All the documentation for distutils is currently copied into the setuptools website in a ["stashing area"](https://setupto

[2022-06-12 02:02] kloczek opened #3362 "[FR] Add support for running 62.3.4 directly with pytest and a installed version of setuptools."
### setuptools version

62.3.4

### Python version

3.8.13

### OS

Linux/x86_64

### Additional environment information

list of module sinstalled in build env
[code]

### Description

I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- b

[2022-06-12 02:19] kloczek commented on #3362
Here is pytest output:
[code]
And here is full pytest output
[setuptools-pytes,txt](https://github.com/pypa/setuptools/files/8885064/setuptools-pytes.txt)

[2022-06-12 17:00] abravalheri commented on #3362
Hi @kloczek, thank you very much for the information.

I don't consider this issue to be a bug for the reason that no testing methodology is supported by `setuptools` other than the one implemented for the CI (this methodology is encoded in the `tox.ini` and `.github/workflows/...` files). Instead this issue would be a kind of "feature request", i.e. a request to add support for running the tests

[2022-06-12 17:03] #3362 closed

[2022-06-12 17:20] jaraco commented on #3322
I don't trust that v62.3 release is implicated here. In #3330, abravalheri put together a test to capture the failure, but if I apply that test to the release prior to 62.3, the test still fails, suggesting that the issue wasn't caused by the 62.3 release:

<details>

[code]

</details>

[2022-06-12 17:26] jaraco commented on #3322
Trying to replicate the issue using the reported instructions, I'm unable to do so:

[code]

[2022-06-12 17:31] jaraco commented on #3322
And digging deeper into the history, I see the comment was added to the setup.cfg in https://github.com/yt-project/yt/commit/d3500c7d9a1395340ee5e75972278a46c7891ec5, so it wasn't a Setuptools regression at all, but the user expecting a behavior that was likely never present.

[2022-06-12 17:43] neutrinoceros commented on #3322
I see. Sorry for the confusion. I don't really get how my adding a comment there survived CI however, but I can live with it. Thank you for your feedback !

[2022-06-12 17:45] abravalheri commented on #3322
Thank you Jason and Clément. Let's leave this aside for now. Ideally we want to try avoiding adding more features to `setup.cfg`.

[2022-06-12 17:45] #3322 closed

[2022-06-12 17:49] neutrinoceros commented on #3322
Perfectly understandable. Good luck to you guys with supporting `pyproject.toml`, and thank you for your work in general !

[2022-06-12 18:00] jaraco commented on #3118
I'm not confident there's anything Setuptools could do here, and until we have a repro that can be used to locally investigate, we're kinda stuck. Besides some of the workarounds described above, there may be other options, such as writing a routine to clear out manually old versions of setuptools before running build tools.

If we could identify something that could be patched in the current or p

[2022-06-12 18:30] jaraco commented on #3310
Thanks alexreg for the report and abravalheri for the detailed investigation.

I'm surprised I haven't encountered this issue, because I develop on an M1 mac using Python installed using Homebrew and use editable installs (`pip -e`/`setup.py develop`) as a standard part of my workflow. Oh, I guess the difference is that I almost exclusively use virtualenvs for those editable installs.

It's true t

[2022-06-12 18:31] jaraco commented on #3310
This issue is certainly rooted in distutils, so moving it there.

[2022-06-12 20:26] jaraco opened #3365 "CI failing for Python 3.11"
In https://github.com/pypa/setuptools/actions/runs/2484717804, I'm attempting to add Python 3.11 to the build matrix, but it fails, presumably because of a new incompatibility with Python 3.11.

[2022-06-12 22:03] kloczek commented on #3362
BTW lokoks like to testpaths  can be added `pkg_resources/tests` and with that path things are not so well as with `setuptools/tests`

[2022-06-13 03:03] jaraco commented on #3365
Since Python 3.11 isn't yet available for homebrew, I updated [jaraco/multipy-tox](https://hub.docker.com/r/jaraco/multipy-tox) to support Python 3.11 and then ran the tests, but they were so slow, probably because of the amd64 on arm64 emulation, so I spent some time learning how to add arm support to docker images, and now jaraco/multipy-tox supports arm64 and amd64, and the tests run much faste

[2022-06-13 03:09] jaraco commented on #3365
In my local run, I'm unable to replicate the failure in CI. The failure in CI is something of a different nature specific to the setup of the CI environment.

The test that fails when I test locally is the one for checkdocs. It's a warning from pep517 when it tries to invoke a deprecated method in importlib.resources.

[2022-06-13 15:36] kloczek commented on #2318
As Ive reported in https://github.com/pypa/setuptools/issues/3362 looks like now is possible to run pytest with below patch
[code]

[2022-06-13 16:58] kloczek commented on #2318
Just retested latest  62.4.0 with above patch and there are some failing units.
Here is pytest output:
<details>

[code]
</details>
Full log in attachment
[python-setuptools-pytest_full_log.txt](https://github.com/pypa/setuptools/files/8893038/python-setuptools-pytest_full_log.txt)

Second thing is that there is second batch of test units in pkg_resources/tests and here situation is much worse bec

[2022-06-13 17:00] kloczek commented on #2318
Nevertheless good thing is that currently it is possible to pas at least collecting units 😃

[2022-06-13 19:08] rwarren commented on #3329
Over at the downstream location where I encountered this problem ([here](https://github.com/wxWidgets/Phoenix/issues/2165#issuecomment-1150432580)), @DKMR figured out how to fool `distutils` into locating the VS2019 build tools.

If you manually create the the following registry keys (what I'm showing is a `.reg` file contents), the `mc.initialize()` in the above script works fine.

[code]

I thin

[2022-06-13 19:58] pradyunsg commented on #2816
This is now a blocker for pip (and ensurepip) excluding setuptools in new virtual environments. The latest version of pip is capable of using the build isolation when setuptools is not available within the environment, even when there’s no pyproject.toml file.

[2022-06-13 21:28] jaseg opened #3369 "[BUG] Bad MANIFEST.in exclude can globally break sdist"
### setuptools version

59.5.0

### Python version

3.10.5

### OS

Arch Linux

### Additional environment information

_No response_

### Description

I discovered an interesting setuptools foot-gun that took me a few hours to figure out.

1. Using wildcard global excludes in MANIFEST.in, it is possible to create installable but broken packages by excluding certain metadata files. Minimal example

[2022-06-13 21:47] alalazo commented on #980
@jaraco Hi! Another developer from Spack doing some necromancy to maybe resurrect an old issue :skull: We were hit by this problem today:
 - https://github.com/spack/spack/issues/31109

which was triggered by the new 64.0.0 release. The gist of it seems to be that, trying to install from source setuptools 62.3.2 with the following command:
[code]
from a virtual environment that has setuptools 64.0

[2022-06-13 22:12] abravalheri commented on #980
Hi @alalazo, there might be some variation of commands between versions of setuptools (that is expected as setuptools development progresses).
This is the case of `setuptools.command.build`, which does not exist for older versions.

It seems that your setup is using an older version of setuptools to build a new one, which would explain the error...

Ideally we want setuptools to build itself witho

[2022-06-13 23:09] abravalheri commented on #980
I run some experiments, and I think the problem the problem is the following:

- It is uncommon, but newer versions of setuptools may have a different set of entry-points. This is part of the natural evolution of the project (this will be the case for example when we implement PEP 660).

- If you run the build with `pip`/`--no-build-isolation` on pip or `build`/`--no-isolation`, existing entries o

[2022-06-14 05:34] alalazo commented on #980
I tried some manual experiments and `build` works fine both with and without isolation:
[code]
This is not the case with `pip`[^1], which makes me think `pip` might be at fault here?

[^1]: I tried pip 20.0.2 and 22.1.2

Another data point is that currently we rely heavily on setting PYTHONPATH ourselves. Since we install each package into its own hashed directory (see https://github.com/pypa/setu

[2022-06-14 08:41] abravalheri commented on #3369
Hi @jaseg, thanks for reporting this. Unfortunately, I cannot reproduce the behaviour you are seeing in an isolated fashion:

[code]

This example runs successfully.

Could you provide a modified reproducer that don't depend on the specific state of your machine? (You can work in a modified version of the example above that uses containers for isolation).

Please also note the following:

- Setupt

[2022-06-14 09:47] jaseg commented on #3369
Hmm, after some debugging I found that the issue only happens if the ```setuptools_scm``` package is installed.
I'm not sure if maybe this is a setuptools_scm issue then? This reproduces the issue on fedora:

[code]

Output:

[code]

It affects the latest versions of both packages:
[code]

The issue only appears when the package is installed using ```python3 setup.py install --user``` and when usi

[2022-06-14 09:53] jaseg commented on #3369
I have updated the issue description with repro instructions. I find it weird that ```python3 setup.py install --user``` and ```python3 -m pip install --user .``` produce different results given the same input.

[2022-06-14 12:54] abravalheri commented on #3369
Hi @jaseg, thank you very much for checking that and for the detailed investigation.
What seems to be happening here is the following:

- The `.egg-info` directory is not exactly part of any standard created by PyPA.
  The `PKG-INFO` file at the root of the `sdist` is the only thing that seems to be required.
  The `sdist` created by setuptools *does seem* to conform with that spec...
- `importlib

[2022-06-14 12:56] abravalheri commented on #3369
`python3 setup.py install --user` uses `easy_install` behind the scenes, while `pip install --user` relies on, well, `pip`. `easy_install` is long deprecated.

[2022-06-14 15:06] alalazo commented on #980
@abravalheri You're correct, `build` works fine only with isolation - or without if `setuptools` is not installed on the system.

[2022-06-14 17:32] alalazo commented on #980
I hacked with my virtual environment and I confirm that the issue is indeed https://github.com/pypa/setuptools/issues/980#issuecomment-1154535704 Just before the failure these variables are set:
[code]
and they seem to respect what `pyproject.toml` prescribes. Inspecting the entry points though, one could see those stemming from the setuptools v62.4.0 installed on the system.

[2022-06-15 09:27] abravalheri commented on #3360
Thank you very much Ray, let's consolidate this FR in 2900.

[2022-06-15 09:27] #3360 closed

[2022-06-15 16:40] IgnacioHeredia opened #3377 "[BUG] pip editable modules incorrectly installed when `setuptools>=60.0.0`"
### setuptools version

setuptools>=60.0.0

### Python version

3.8.10

### OS

Ubuntu 20.04

### Additional environment information

_No response_

### Description

Hi all,

I found a bug in Ubuntu 20.04 related to pip and setuptools.

When you pip install a Python module in Ubuntu 20.04 in **editable** mode (`-e` flag), the module is not listed in pip.
When the module is installed normally (no `

[2022-06-15 16:43] IgnacioHeredia commented on #3377
Sorry, closing this as it is duplicated with https://github.com/pypa/setuptools/issues/3301

[2022-06-15 16:43] #3377 closed

[2022-06-16 16:48] bow commented on #227
Hey all, I stumbled to this page, got curious, and tried to reproduce the behavior.

I could not: got a permission denied error when attempting to do so (which is the right behavior IMO).

What I could do though, is to add a symlink within the package directory. `setuptools` will then pull the contents of the symlinked file into the generated source distribution.

I do not know if this is intended

[2022-06-16 21:54] jaseg commented on #3369
Hi @abravalheri,

I think there are two things that would be good to change.

1. When any error is thrown inside setuptools during parsing of a package, setuptools should augment the error with human-readable information on the path of the package it tried to parse. Something like ```raise SystemError(f'Cannot parse package at {path}') from e ```. This would allow easier troubleshooting by users a

[2022-06-17 07:52] nre-ableton commented on #3007
I ran into this behavior recently while trying to build Python 3.10.4 on Ubuntu 22.04, which resulted in a confusing error, `ModuleNotFoundError: No module named 'binascii'`. Thankfully exporting `SETUPTOOLS_USE_DISTUTILS=stdlib` worked, but I agree it's not an ideal workaround.

This issue was closed, having been fixed by #3031. I'm a bit confused as to whether the issue is actually fixed or not,

[2022-06-17 12:43] mhkline commented on #3340
How about the case where we want *.py files in a subdirectory included as data files? This occurs in a couple projects for me that define a plug-in interface. Basically there are a couple python files in a package subdirectory that I provide as examples of plug-in implementation. These are also loaded through the common plug-in interface via importlib.

Will the inclusion as a namespace package st

[2022-06-17 12:53] jaraco commented on #3007
The issue reported here was addressed (stdlib builds do work for the most part). It appears, however, that there are some select cases where the CPython build detection isn't taking effect, so continues to lead to trouble.

Let's continue the conversation in python/cpython#91169, which is the open issue describing the defect.

[2022-06-17 13:13] abravalheri commented on #3340
Hi @mhkline. The warning is not about the files themselves, but about the directory.
Right now there is no concept of a "data directory" for the package ecosystem.

Since PEP 420, effectively all directories are packages regardless of containing a `__init__.py` file or not. With this warning, my intention is to align the expectations of the users with the behaviour we observe in Python.

If you wa

[2022-06-17 15:14] abravalheri commented on #3369
Hi @jaseg, I would be very happy to review a PR addressing the suggestions you provided, they seem pretty reasonable to me. Would you be interested in submitting one?

[2022-06-17 16:10] jaraco opened #3383 "Distutils hack still causing test failures in CPython"
In python/cpython#91169, we learn that despite #2965 and #3007, when the tests are run outside of the source directory, some tests will still fail because Setuptools is unable to detect that these tests are implicated.

For at least three of these tests (`test_distutils` and on Python 3.9, `test_importlib` and `test_peg_generator`), these issues may be avoidable by further suppressing the supplyin

[2022-06-18 13:58] jaraco opened #3389 "Sage CI failing in makefile loop"
Sometime in the past month, the Sage CI builds have started failing:

![image](https://user-images.githubusercontent.com/308610/174441711-2bac4aba-35e1-4b9e-b092-368ce5bc608d.png)

Looking at them briefly, I see what looks like infinite recursion in make logic.

![image](https://user-images.githubusercontent.com/308610/174441750-80dc8c8f-10e4-4be1-8d0e-d92995877497.png)

@mkoeppe Can you investiga

[2022-06-18 17:34] marktsuchida opened #3390 "[BUG] Empty setup.py/cfg is not sufficient for editable installs to work with pyproject.toml/PEP 621"
### setuptools version

setuptools==62.5.0

### Python version

Python 3.9.13

### OS

macOS

### Additional environment information

_No response_

### Description

The documentation [notes](https://github.com/pypa/setuptools/blob/9c7163bc6030e546ba1133de823d0b4ac06a02d9/docs/userguide/pyproject_config.rst) that "pip still might require a setup.py file to support editable installs" and shows an e

[2022-06-18 17:55] abravalheri commented on #3390
Hi @marktsuchida thank you for reporting this.

I will try to have a look as soon as possible, but probably I will only have access to a desktop computer tomorrow. Meanwhile can you try something out?

a) setuptools doesn't not currently support arbitrary remappings in package_dir togheter with editable installs. The only thing it supports right now is remapping the special value `""` which repres

[2022-06-18 20:08] wawan-ikhwan commented on #3275
I have same problem

It said
[code]

While I already installed MSVC 2022 v143

[2022-06-18 20:19] wawan-ikhwan commented on #3329
@rwarren can you explain detail where should I edit ```ProductDir```. I open registry editor from win + R I don't see such variabel

[2022-06-19 03:25] mkoeppe commented on #3389
Fixed by https://trac.sagemath.org/ticket/34017 via https://trac.sagemath.org/ticket/33288

[2022-06-19 09:11] abravalheri commented on #3390
Hi @marktsuchida, I had another look at the issue this morning, and I can confirm that the problem is not related to `pyproject.toml` or the existence/absence of `setup.cfg`/`setup.py`.

This is a pre-existing limitation of setuptools. Editable installs will not work with arbitray package dir mappings. Only `{"" = ...}` is allowed.

The examples provided for `setup.cfg` and `pyproject.toml` are in

[2022-06-19 09:15] abravalheri commented on #3390
(For the given example I just recommend not setting any `packages` or `package-dir` and letting setuptools do the auto-discovery. It should be very robust in the case of a src-layout, unless you have files under the `src` directory that you don't want to distribute).

[2022-06-19 15:10] goschtl commented on #2514
I had todo this...

export _PYTHON_HOST_PLATFORM="macosx-11-x86_64"

but i used pyenv for dealing with different python versions on my mac

not sure if it help you. I debugged it down but i forgot about the details...

[2022-06-19 17:25] marktsuchida commented on #3390
@abravalheri Thank you so much!

It did not occur to me that I could use `package-dir = {"": "src"}` in `pyproject.toml` (despite it making total sense) and that I was comparing apples to oranges. I also somehow missed the (very clearly documented) fact that src-layout is handled automatically.

I'm closing this issue because the root cause (which no longer affects me) is well described in the iss

[2022-06-19 17:25] #3390 closed

[2022-06-19 18:36] #1951 closed

[2022-06-20 06:52] abravalheri commented on #385
It seems that the RTLD_NOW flag is defined in the `os` module for Python3: https://docs.python.org/3/library/os.html#os.RTLD_NOW.

Would it be safe if we simply replace the checks from `dl` to `os` and `ctypes` when appropriate?

[2022-06-20 08:36] abravalheri commented on #3389
Thank you very much @mkoeppe.

The tests run yesterday night again, but it seems that there is still something missing: https://github.com/pypa/setuptools/actions/runs/2524939058.

Do we need to change any workflow configuration to make the latest changes in the sagemath repository take effect?

[2022-06-20 10:57] zoj613 commented on #1461
@abravalheri 	here is the project branch: https://github.com/zoj613/polyagamma/tree/remove_poetry

This is an attempt to replace `poetry` with setuptools since the only dependency of the project is `numpy`. It uses a local C-library that is compiled via `cython`. I have found issues while building a `sdist` and `wheel` locally. If I use `setuptools-scm` as a build requirement then it seems like it

[2022-06-20 12:00] abravalheri commented on #1461
Hi @zoj613, thank you very much for providing the link.

I tried the following:

[code]

As a result, I managed to obtain the following distributions:
[code]

[code]

Which seems to be more or less what you want (`PKG-INFO` and `*.egg-info` are always generated/included by `setuptools`).

You can use `MANIFEST.in` to exclude directories/files included by default with `setuptools-scm`. `prune` will

[2022-06-20 13:05] zoj613 commented on #1461
Hi @abravalheri , thanks a lot your proposed patch works and I can reproduce your results locally. The problem now is that the shared library cannot be used. It appears as though the import statement cannot find it: I get the following error after installing the package via the wheel and sdist:
[code]
The shared library is named `polyagamma._polyagamma` in the `setup.py` file and compiles successf

[2022-06-20 13:42] abravalheri commented on #1461
If I had to guess, I would say that this problem is very likely to be caused because you are trying to test a package that uses a ["flat-layout"](https://setuptools.pypa.io/en/latest/userguide/package_discovery.html#flat-layout) from the project root.

Have you tried `cd`-ing into a different folder before running the Python REPL? Everytime you run `python`, it will add the working directory (`$PW

[2022-06-20 14:58] zoj613 commented on #1461
@abravalheri you were right, It worked once I changed to another directory. Thank you so much for the help. I will look into automating versioning via `setuptools-scm` at a later stage.

[2022-06-20 19:54] ynikitenko opened #3396 "[Docs] clarify keyword "keywords" requirements"
### Summary

At https://setuptools.pypa.io/en/latest/references/keywords.html there is a keyword `keywords`:

However, in [PEP 314](https://peps.python.org/pep-0314/#keywords-optional) there is no requirement for the string to be comma-separated (in fact, the example there is without commas, and I earlier used strings without commas):

Please fix your documentation or refer to a proper source.

##

[2022-06-20 19:55] ynikitenko commented on #3396
I found that there were recent documentation changes, but this doesn't seem to be addressed by them. https://github.com/pypa/setuptools/pull/3307

[2022-06-20 19:58] ynikitenko commented on #3396
One more note: I really use a string without commas in my `setup.py`, and they seem to be automatically inserted on PyPI (https://pypi.org/project/lena/). So probably commas are still not required in the setup file.

[2022-06-20 19:59] abravalheri commented on #3396
Hi @ynikitenko thank you very much for the PR.

The core metadata standard is a live standard, it means that its most recent version can be found in:
https://packaging.python.org/en/latest/specifications/core-metadata/#keywords.

That pages does mention commas.
Should we close this PR having in mind that the standard have changed since PEP 314?

[2022-06-20 20:43] ynikitenko commented on #3396
Hi @abravalheri , thanks for the quick update and for the link! Just out of curiosity, what happens if I don't use commas? As I wrote, PyPI separated all my keywords by commas (if I ever intended it to be one sentence :) .

[2022-06-20 20:54] abravalheri commented on #3396
I don't know if setuptools or PyPI has some fallback logic to handle that... It might be the case. But it is better to stick to the standard, since the fallback logic may be removed in the future.

[2022-06-20 21:20] #3396 closed

[2022-06-21 12:27] Martmists-GH opened #3399 "[BUG] Editable installs don't include all folders"
### setuptools version

62.6.0

### Python version

3.10.5

### OS

Arch Linux

### Additional environment information

_No response_

### Description

I have an issue with my project where certain modules are not installed. [here's a link to the repo](https://github.com/Martmists-GH/kaudio-python/)

The core is written in native code, and built as a C extension (named `_kaudio`) from `build/gener

[2022-06-21 13:00] abravalheri commented on #3399
Maybe I have misinterpreted your post.

There is another existing limitation: complex `package_dir` are not currently supported.
setuptools will only support no `package_dir` or `pacakge_dir = {"": ...}` (no extra folders).

Support for extra folders might also be added when tackling PEP 660. But that currently is under consideration.

[2022-06-21 13:38] Martmists-GH commented on #3399
If data_files aren't supported in editable I don't think that's an issue, but ideally I don't have to set up symlinks to every folder I want to use that isn't in the main source directory. I'll take a look at PEP 660 :+1:

[2022-06-21 13:56] abravalheri commented on #3399
I understand. I am currently working on the implementation of PEP 660. Would you be interested in participating in some beta tests? I could ping you when it is available...

(It is not finished yet, but hopefully it will be soon).

[2022-06-22 06:29] jacalata commented on #2302
@arencambre I think this issue is fixed and can be closed?

[2022-06-22 07:01] jacalata commented on #3305
How about adding a comment line in the example toml file at about line 66, like this?
[code]

[2022-06-22 07:13] jacalata commented on #2532
This seems to be solved by PEP 660? If not, I can't repro the failure and bootstrap.py itself is gone, so presumably it has been addressed somehow.

[2022-06-22 07:58] abravalheri commented on #3305
Yeah, that sounds great. We can also add the requires-python to the example.

Would you like to submit a PR?

[2022-06-22 07:59] abravalheri commented on #2532
I think the main problem is still the cyclic dependency on wheel.

[2022-06-22 08:42] jacalata commented on #1698
I think the original topic in this issue has been covered, and it can be closed?

Separately, I opened a discussion proposing moving/removing several pages at https://github.com/pypa/setuptools/discussions/3400

[2022-06-22 08:52] jacalata commented on #1344
I'm guessing it would be this script - https://github.com/gvalkov/setuptools-py2cfg

I think the docs could do with a page for "migrating from setup.py to pyproject.toml and setup.cfg", and it would seem useful to reference this script with proper disclaimers on "we haven't ever run this but if you wanted to you could try it and let us know".

[2022-06-22 09:24] #316 closed

[2022-06-22 09:49] jacalata opened #3401 "[Docs] fully replace python.org/distutils docs"
### Summary

https://docs.python.org/3/distutils/setupscript.html comes up high in a search, looks like authoritative official guidance on the best way to configure a python project, and it tells people to use setup.py

This page says it will go away when all of the information is available in setuptools documentation:

### OS / Environment

_No response_

### Additional Information

The fastest w

[2022-06-22 13:44] #2302 closed

[2022-06-24 10:14] dennisvang commented on #3089
[Reproduced this][1] on Windows 10 in a fresh conda environment with the following:

- python 3.8.13
- setuptools 62.6.0
- pyinstaller 5.1

[code]

[1]: https://github.com/pypa/setuptools/issues/3089#issuecomment-1032305835

[2022-06-24 14:14] abravalheri opened #3408 "[CI Problems] It seems that `pytest-perf` is failing for cygwin"
I noticed that recent builds for documentation-only changes started failing for cygwin:

- https://github.com/pypa/setuptools/runs/7039869057?check_suite_focus=true#step:4:512
- https://github.com/pypa/setuptools/runs/7038552895?check_suite_focus=true#step:4:512

The relevant part of the error message seems to be:

[code]

If required, we can add a `git config` command before running the tests, bu

[2022-06-24 14:16] abravalheri commented on #3408
@jaraco, @lazka, do you have any information that could help to deal with this error?

[2022-06-24 14:23] lazka commented on #3408
I think you can set `safe.directory` to `*` too

[2022-06-24 15:19] abravalheri commented on #3408
Thank you very much @lazka, I am trying something first in https://github.com/pypa/setuptools/pull/3410, before using a wildcard. Hopefully it will work 🤞

[2022-06-24 15:20] lazka commented on #3408
GITHUB_WORKSPACE will be a Windows style path, so I'm not sure if that will work

[2022-06-24 17:16] abravalheri commented on #2591
I think we can get around requiring the users to explicitly add the sub-command, by changing the plugin to use `finalize_distribution_option` to automatically insert the sub-command.

I did created a proof of concept in https://github.com/abravalheri/experiment-setuptools-plugin.

@jaraco what do you think of this approach?

I think in the long term we will want to go for a different entry-point,

[2022-06-24 22:34] daniel-starke opened #3411 "[BUG] missing else case in get_msvcr()"
### setuptools version

setuptools==62.0.0

### Python version

Python 3.10

### OS

Windows 7

### Additional environment information

MSys2, MinGW64

### Description

The following code searches for the MSVC Version in `sys.version` but fails to process the case that there is no such information available.

https://github.com/pypa/setuptools/blob/669be5ef1d93e2fa088cc5d1dfd999e0db61abcf/setuptoo

[2022-06-25 07:47] #3305 closed

[2022-06-25 08:09] daniel-starke commented on #3411
It turns out that no explicit linkage of MSVC is needed for MinGW. Therefore, just returning an empty list is sufficient in this case.

[2022-06-25 12:49] #3408 closed

[2022-06-25 17:48] mkoeppe commented on #3389
In Sage we dropped support for gcc < 6.3. I'll send a PR that updates the system configurations tested.

[2022-06-25 21:42] #3389 closed

[2022-06-26 10:21] abravalheri opened #3415 "hooks to pull in the pep-621 metadata"

[2022-06-26 10:29] abravalheri commented on #2671
I am splitting the remaining aspects of the feature request in #2671.
Anyone interested please feel free to add comments there.

[2022-06-26 10:29] #2671 closed

[2022-06-26 10:32] agronholm commented on #2671
Did you just link to this same issue?

[2022-06-26 10:40] abravalheri commented on #3415
@RonnyPfannschmidt, I am thinking along the lines of:

[code]

[2022-06-26 10:41] abravalheri commented on #2671
Woops, thanks @agronholm.

[2022-06-26 11:01] abravalheri commented on #2671
My interpretation of the status of the original steps is:

- > basic toml support in setuptools (just mirroring setup.cfg in pyproject.toml, as setup.cfg is still a supoerset of that the peps support

  Basic support for `pyproject.toml` configuration is currently implemented in setuptools.
  I am being **very** conservative about the `[tool.setuptools]` table because I want us to use this opportu

[2022-06-26 11:01] RonnyPfannschmidt commented on #3415
Standards for Metadata providing hooks would help better

[2022-06-26 11:02] abravalheri commented on #3415
Do you have a suggestion @RonnyPfannschmidt (e.g. a signature)?

[2022-06-26 11:24] RonnyPfannschmidt commented on #3415
Not yet, but if both setuptools and hatch where able to use the same api fit that it would be great

I already have the hacks in place and I'm not keen on supporting many versions of setuptools with different api sets

[2022-06-26 15:09] DWesl commented on #3302
Closed by #3366

[2022-06-26 15:09] #3302 closed

[2022-06-27 11:10] abravalheri commented on #3415
I cannot speak for everyone in the setuptools project, but I am more than open to discuss any API/interoperability (as long as it does not involve an overhaul on the setuptools internal design -- ideally we are looking for something that can be integrated easily into the existing flow).

[2022-06-27 11:12] ranrubin opened #3416 "[BUG] TypeError: expected string or bytes-like object on pkg_resources/_vendor/packaging/version.py file"
### setuptools version

62.6.0

### Python version

3.9.12

### OS

Ubuntu 18

### Additional environment information

_No response_

### Description

While trying to install a package from source ([pytorch-quantization](https://github.com/NVIDIA/TensorRT/tree/8.4.1/tools/pytorch-quantization)), using `python setup.py install`, on a `conda` environment, I got the following error:

[code]

### Expe

[2022-06-27 11:25] abravalheri commented on #3416
Hi @ranrubin, thank you very much for pointing this out.

Just a quick question, is there any chance the `version` variable in your `setup.py` maybe be having a `None` value?

(I had a very quick look at your repo, maybe the `VERSION` file is missing in the `MANIFEST.in`?)

[2022-06-27 19:25] benoit-pierre opened #3418 "[BUG] performance after switching to nspektr / importlib_metadata as cratered"
### setuptools version

setuptools>=60.8.0

### Python version

3.10.5

### OS

Arch Linux

### Additional environment information

_No response_

### Description

It's slow...

### Expected behavior

It's not slow.

### How to Reproduce

[code]

### Output

…

[2022-06-27 19:45] benoit-pierre commented on #3418
It's the switch to importlib_metadata / nspektr, my experience trying to switch from pkg_resources, apart from all the (to be expected) issues due to loosing the accumulated experience of pkg_resources, is that performance is bad.

[2022-06-27 19:46] benoit-pierre commented on #3418
Not to mention more work compared to using pkg_resources.

[2022-06-27 19:48] abravalheri commented on #3418
In #3395, I identified that `dist._install_dependencies` (which is the function that calls `nspektr`) is the second biggest time spent when building packages. I am proposing in that PR a simple check that can avoid runing `nspektr` at all.

I am not very sure about `importlib_metadata` (it should be faster than `pkg_resources` right?).

[2022-06-27 19:57] benoit-pierre commented on #3418
Only if you have a very limited number of calls to the API. And because `importlib_metadata` does not do half the stuff that's provided by `pkg_resources`, it's more work and slower... In `pkg_resources`, because most functions will hit the working set, all the work is already done, so it's slower for example if you don't need metadata access to most distributions, but if you do, then the working

[2022-06-27 20:07] benoit-pierre commented on #3418
Honestly, I don't even understand why `_install_dependencies` was added: I thought setuptools was out of the business of installing build requirements (`fetch_build_egg` is deprecated).

[2022-06-27 20:11] abravalheri commented on #3418
Thank you very much @benoit-pierre for the explanation. I think the majority of places `importlib.metadata` is currently being used (at least directly) in setuptools is to access the entry-points, so it should not cause that much of a problem...

I guess backwards compatibility would be the answer here. But I think we can fairly skip it in most of the cases which would provide a significant perfor

[2022-06-27 20:15] benoit-pierre commented on #3418
But that's my point, it does not look like backward compatibility, more like a new feature. Assuming PEP 518 is in charge of ensuring the build requirements are installed, why is there a need to check each entry points dependencies? Even if PEP 518 support was not called, isn't the (deprecated) code path that handles `setup_requires` (calling `fetch_build_egg`) in charge of making sure that all re

[2022-06-27 20:23] abravalheri commented on #3418
``pip`` (and by extension ``build``) does not honour the "extras" part of the entry-points (``module:obj [extras]``).

When ``setup_requires`` was a thing, it would make sure that the ``extras`` would be honoured when calling the entry-points (including ``distutils.commands``). This would be a fundamental difference between ``setup_requires`` and PEP 517, and what motivates the effort for backward

[2022-06-27 20:24] benoit-pierre commented on #3418
OK, so the old code would use `ep.require(installer=self.fetch_build_egg)`. That's from 2005 (version 0.6a0!), just before adding support `setup_requires` in 0.6a1. So again, I'm not even sure it's needed.

[2022-06-27 20:26] abravalheri commented on #3418
I agree with you. I think it is a fair assumption that entry-points nowadays are not defining ``extras``.

[2022-06-27 20:26] benoit-pierre commented on #3418
Because that's not pip's job. If you want to use an entry point that depend on an extra, you should make sure you're specifying the extra at install.

So in that case, you would make sure the corresponding `setup_requires` requirement as the necessary extra.

[2022-06-27 20:29] abravalheri commented on #3418
Sorry, let me correct myself: "I **also** think that entry-points nowadays are not defining `extras`".

Your line of thought makes absolute sense. However, we cannot deny that old setuptools code would fix missing `extras`, so indeed we can think about the `dist._install_dependencies` as backwards compatibility.

Do I think we can get away without it? Absolutely.

[2022-06-27 22:21] benoit-pierre commented on #3418
Here's a test:
[code]

Which does not pass in `v62.6.0` because the code forgets to activate the egg:
[code]

Going back to `v60.9.3`, the code is also buggy:
[code]

`v60.7.1` works as expected. But again, I think the onus should be on the package developer to ensure `setup_requires` is consistent. The example should be amended:
[code]
(which works as expected in `v60.7.1`, `v60.9.3`, and `v62.6.

[2022-06-28 00:10] cdfarrow opened #3419 "[Docs] Clarify version number conventions wrt PEP440"
### Summary

The setuptools' [Version page](https://setuptools.pypa.io/en/latest/userguide/distribution.html) gives a lot of example schemes that are not PEP440 compliant. I followed that page to create a post-release version number, but then it was rejected by PyPI. The page mentions PEP440 in passing in the opening paragraph, but it would be more helpful to explain that for certain situations (e

[2022-06-28 08:43] abravalheri commented on #3418
Thank you very much @benoit-pierre for the deep investigation. Since `_install_requires` does not seem to be having any effect, it could be removed right now... (if someone was relying on the feature, we would have noticed the issues right?).

[2022-06-28 09:54] abravalheri commented on #3416
Ah, I see. sorry for the confusion!

Yeah that is the part that I found very curious. In theory the default behaviour of `open` should be to open files in the text more/read-only (`r`), so `version` should already be a string... I have to investigate this issue more deeply.

[2022-06-28 11:34] benoit-pierre commented on #3418
Agreed, PR here: #3421.

[2022-06-28 19:20] abravalheri commented on #3416
This problem is crazy difficult to track down.
I tried to follow the instructions for building the package, but it is very difficult and I suspect it depends on the hardware you have available in your machine. The C code simply does not compile in my machine (probably because it requires you to have the correct hardware and drivers).

If I comment out the `ext_modules=[...]` part o `setup.py` thin

[2022-06-29 10:03] atodorov opened #3424 "[BUG] ERROR: No matching distribution found for setuptools_scm_git_archive>=1.0 with setuptools-62.6.0"
### setuptools version

setuptools==62.6.0

### Python version

Python 3.8

### OS

Linux, Ubuntu, GitHub CI

### Additional environment information

Even if setuptools is not pinned to a specific version the test job fails in GitHub CI, but passes locally on my machine.

### Description

Between two subsequent executions in our GitHub CI the same job, named [build-for-pypi (3.8)](https://github.c

[2022-06-29 10:27] abravalheri commented on #3424
Hi @atodorov, thank you very much for reporting this.

I believe that there are missing steps here (I tried to run it and I got some unrelated errors). Probably instructions on how to set the test dependencies in a virtual env?

[2022-06-29 10:46] abravalheri commented on #3424
I did the following:

[code]

Both pip end twine seem to be dealing with things well. Maybe your test environment has dependencies that are too restrictive and conflicting with each other?

Could you please provide a minimal reproduction for your error? (e.g. isolating the conflicting dependencies?)

[2022-06-29 12:00] atodorov commented on #3424
FTR as a workaround I did `pip install setuptools-scm-git-archive` before trying to install the tarballs.

[2022-06-29 12:42] abravalheri commented on #3424
That is a tricky one...

I am using Ubuntu 20.04.4 LTS, Python 3.8.10 and I could execute the commands above without any problem.

Since there is no binary available for Python 3.8.10 yet in the Ubuntu repositories, I also tried the following (after a few attempts):

[code]

Again there was no problem with this installation.

@atodorov, unfortunately, it seems that this problem is very specific to

[2022-06-29 15:45] rufatpro commented on #2017
Fixed when I use Python 3.8 and `pip3 install setuptools==57.4`.

[2022-06-29 15:48] rufatpro commented on #2017
But it doesn't work on Windows when I use Python 3.9 or Python 3.10 with any version of setuptools.

[2022-06-29 16:23] abravalheri commented on #2017
Hi @rufatpro, according to https://github.com/pypa/setuptools/issues/2017#issuecomment-596307305, the issue reported here is caused by a deprecated functionality removed long time ago.

Since setuptools does not provide LTS support for old versions, the best action forward is to try updating your dependencies and/or inform the maintainers of third party libraries if they are still relying on `Feat

[2022-07-01 15:49] kanderso-nrel commented on #3340
The above discussion covers how to go about building a correct distribution without using deprecated `setuptools` functionality.  Thanks all for that!

My question here is more philosophical than practical. It seems like `setup(packages=...)` and `MANIFEST.in` are at least partially overlapping in functionality.  In our [MANIFEST.in](https://github.com/pvlib/pvlib-python/blob/master/MANIFEST.in) w

[2022-07-01 16:38] abravalheri commented on #3340
Hi @kanderso-nrel , you can remove the `packages=` configuration and setuptools will try to infer which packages are provided.

There are a few limitations:

- if you provide `packages=`, `py_modules=` this "autodiscovery/automatically inference" feature will be turned off. The same thing happens if your `setup.py` specifies `ext_modules`.

- If you are using a [flat-layout](https://setuptools.pyp

[2022-07-02 13:18] jaraco commented on #1055
@Thebaldguy15 By quoting that paragraph, are you attempting to revive that conversation.

Since we had this conversation, it's my understanding that the best recommendation has shifted to asking each plugin to resolve their own configuration as addressed in #2155. If you have further considerations that aren't addressed, please raise them in a new issue.

[2022-07-02 13:29] jaraco commented on #3418
I've previously been mostly unconcerned about runtime performance in Setuptools as most use-cases run in human time, so correctness and compatibility beats performance in most cases. But I agree that any degradation of more than 1s is noticeable and probably impactful in some cases.

Thanks everyone for the investigation. I haven't delved deep into it, and I'm happy to move forward with simplifyin

[2022-07-02 13:38] jaraco opened #3428 "[Testing] Provide a CI check for disallowed code changes"
This repo contains lots of code that's not meant to be changed here, mainly the vendored dependencies and distutils.

Would someone be willing to investigate a CI step that would examine which paths are changed in the PR and fail if it contains `_vendor` or `_distutils`?

[2022-07-03 21:10] #3418 closed

[2022-07-04 05:48] kloczek commented on #3362
Should I submit that patch as PR? 🤔

[2022-07-04 06:34] abravalheri commented on #3362
Please don't,  this patch has problems described in https://github.com/pypa/setuptools/issues/3362#issuecomment-1153233827.

[2022-07-04 06:43] kloczek commented on #3362
Hmm I'm uning that patch in my rpm build procedure and despite some number of units failing at least it is possible to use pytest. Currently without that patch it is not possible (pytest fails on collectiing units)
CI is unisg tox.

[2022-07-04 06:54] abravalheri commented on #3362
You know that by adding this patch you are skipping a bunch of tests, right? Please refer to the other comment I linked above.

Unfortunately setuptools test suite is designed to run the way it is encoded in our tox/ci files. If you try to run it differently, it will probably break.

I listed in a previous comment some conditions that must be observed if you want to submit a PR.

[2022-07-04 07:53] kloczek commented on #3362
You kiow .. I completly do not undrerstand that situation.
Do you have ANY intention to provide possiblity to test setuptools using pytest? 🤔

[2022-07-04 09:11] abravalheri commented on #3362
This is explained in https://github.com/pypa/setuptools/issues/3362#issuecomment-1153233827

Setuptools already uses pytest. The circumstances of the call are what differ.

We don't have any plans to officially support any test methodology other than the one encoded via the `tox.ini` and CI-related files.

We would consider a positive change if we manage to test setuptools as if it was loaded from

[2022-07-04 09:38] kloczek commented on #3362
Issue ids that thios methot is radically different with typical methodology used on packaging python modules.

[2022-07-04 13:27] ghost opened #3431 "[BUG] macOS: legacy 'setup.py install' installs are broken in 63.1.0 with Python 3.9"
### setuptools version

setuptools==63.1.0

### Python version

Python 3.9.x

### OS

macOS 10.15 or 11 under x86_64 (may happen in other versions as well)

### Additional environment information

This doesn't happen if we do have the `wheel` package installed, nor under setuptools 63.0.0. I didn't see this happening on other versions of Python nor other OSs either.

### Description

I tried to in

[2022-07-05 20:53] mohitsaxenaknoldus commented on #3428
Hey, can I work on this?

[2022-07-05 20:59] jaraco commented on #3428
You bet. Thanks!

[2022-07-05 21:09] mohitsaxenaknoldus commented on #3428
Can you assign?

[2022-07-05 23:27] jaraco commented on #3428
Oh! That's great. Last time I tried to do that, I could only assign those who were on the team. Glad to have this feature for anybody to be assigned!

[2022-07-06 23:52] glexey opened #3435 "[BUG] macOS: sdist installs with build isolation are broken in 63.1.0 with Python 3.9"
### setuptools version

setuptools==63.1.0

### Python version

Python 3.9

### OS

MacOS

### Additional environment information

No Homebrew is installed.

### Description

Installing any pyproject.toml-based sdist package fails if Homebrew is not installed with the error  `error: [Errno 2] No such file or directory: 'brew'`

### Expected behavior

Installation of pyproject.toml-based sdist pack

[2022-07-06 23:55] glexey commented on #3435
This commit seems to be the source of the bug: https://github.com/pypa/distutils/commit/152c13de811b302dcc673f6ed4c595cd29fd671d#diff-b8c2b4cde6548b0f786c42f81cac8368126e15ab80def4091edf04656d5ae6a9R18

[2022-07-08 01:26] liudonghua123 commented on #3329
I have the same problems when I install wxPython via `pip install -U wxPython`.

Since I installed vs 2019 Community version, so the path I changed as follows. And then I installed wxPython successfully.

[code]

[2022-07-08 16:40] DKMR commented on #3329
@liudonghua123 since Python 3.10 has no available wheels for wxPython and you're building the whole package from ground up, I'd suggest you try building the [latest](wxPython-4.2.0a1.dev5447+fd6b4814.tar.gz) snapshot of wxPython and see if that works out.

[2022-07-08 22:46] grv87 commented on #2993
@jaraco, have you finished your work on this issue? Please, take a look at pypa/pip#10809

[2022-07-09 00:55] pradyunsg commented on #3439
This is realistically an issue with setuptools' hack, so I've moved the issue over.

[2022-07-10 07:27] Mr-ZJH commented on #2741
useful

[2022-07-10 08:10] A6GibKm commented on #3431
I don't know if it is related, but I am also having issues in Linux with libpwquality which also doesn't build wheels, see https://gitlab.gnome.org/GNOME/gnome-build-meta/-/issues/516.

[2022-07-10 08:37] nanonyme commented on #3431
Note that the libpwquality case is worse in the sense that it will explicitly call setup.py install through makefile. It cannot be worked around simply through installing wheel.

[2022-07-10 10:49] liudonghua123 commented on #3329
@DKMR Thanks for the suggestions, I tried to build on the master branch. But after I fix `from collections import Mapping` issue on python 3.9+, I still got the following errors, `configure.in No such file or directory` primarily.

[code]

[2022-07-10 14:14] jaraco commented on #3439
I'm sorry I missed the ping. I have hundreds of unread messages in my email inbox, so would have gotten to it eventually (most likely).

The distutils hack does have an [exemption for pip](https://github.com/pypa/setuptools/blob/4d00d5091e0817f6e539c48f4afc2e69b8ac2591/_distutils_hack/__init__.py#L140-L148) to force it to use the stdlib distutils, but nothing specific to "get-pip.py", so I don't y

[2022-07-10 14:25] jaraco commented on #3439
Attempting to replicate the issue, I created this Dockerfile:

[code]

Unfortunately, it works fine:

[code]

[2022-07-10 16:19] DKMR commented on #3329
@liudonghua123 I'm not sure you followed the instructions contained in _README.rst_ file you extracted from the snapshot. TL;DR, install these packages with pip if you don't have them already:

- appdirs
- setuptools
- sip == 6.6.2
- wheel
- twine
- requests
- requests[security]
- cython==0.29.24
- pytest
- pytest-xdist
- pytest-forked
- pytest-timeout
- sphinx==2.2.0 ; python_version >= '3.0'
- J

[2022-07-10 19:01] moshez commented on #3415
@abravalheri -- would part of fixing this ticket involve moving `finalize_distribution_options` to *after* `parse_config_files()`?

Or would plugin authors need to hook into new entry points to run after `parse_config_files()`?

Would it make sense to split this ticket into two: moving `finalize_distribution_options` to after `parse_config_files` and as a separate effort, have an API for plugins t

[2022-07-11 14:42] burnpanck commented on #2129
As obscure this bug may be, one of our users may have run into this or something related today. At least the error message matches, and the username begins with "egg" too. Generally, we're using up-to-date software versions, so I would have imagined that the fix for this issue should be in. I haven't verified this explicitly yet though.

[2022-07-11 15:06] jaraco commented on #2129
The fix was added in 49.6.0, so I'd compare your installed version of Setuptools to determine if it's affected.

[2022-07-11 17:52] mxmlnkn commented on #436
I can confirm that deleting the `.egg_info` directory helps. I thought I was going insane. It kept adding files even though I removed those from the manifest...

[2022-07-12 11:08] jiasli opened #3441 "[BUG] Importing `setuptools` is slow and takes nearly half a second"
### setuptools version

63.1.0

### Python version

3.10.5

### OS

Windows

### Additional environment information

_No response_

### Description

Importing `setuptools` is slow and takes nearly half a second. This imposes significant performance impact on CLI applications (https://github.com/Azure/azure-cli/issues/23177).

### Expected behavior

Importing `setuptools` should be fast.

### How t

[2022-07-12 11:27] yonzhan commented on #3441
Good catch!

[2022-07-12 11:45] abravalheri commented on #3441
Hi @jiasli thank you very much for the study. Would you like to suggest any PRs tackling this issue?

For Python <= 3.12, `_distutils_hack` is still necessary, but probably for `Python >= 3.12` that can be an easy gain.

I think we can also delay the import of `unittest.mock` in `distutils/_msvccompiler.py`, but that would have to be addressed in the `pypa/distutils` repository.

Currently the pla

[2022-07-12 12:17] jiasli commented on #3441
Thanks lot @abravalheri for the analysis.

I would certainly like to, but sadly I am not an expert on the delicate implementation of Python infrastructures. 🤣

This will certainly make `setuptools` significantly faster. We spent lots of effort getting rid of `pkg_resources` (https://github.com/Azure/azure-cli/pull/14905), but now it's back via `setuptools`. 😂

If `setuptools` can be as fast as the

[2022-07-12 16:03] neutrinoceros commented on #2806
Hi @abravalheri, do you think this could get some "official" answer ?

[2022-07-12 17:59] abravalheri commented on #2806
Hi @neutrinoceros, compilers are still outside of my area of expertise in setuptools. Recently I got more acquainted with `build_ext` but I still don't feel like I can contribute directly on this discussion. Sorry for that.

I noticed that in https://github.com/pypa/setuptools/issues/2372, @jaraco seems to be open to implement some changes in order to support the migration, e.g.:

- provide setupt

[2022-07-12 19:07] neutrinoceros commented on #2806
Thanks for your reply ! I will answer on behalf of [yt](https://github.com/yt-project/yt)

Pretty much, though any official recommendation would satisfy us.

`CCompiler` and `new_compiler` are the only components that we use.

Not that I know of.

[2022-07-12 19:12] neutrinoceros commented on #2806
As a side note, we also rely on `distutils.sysconfig.customize_compiler`. Should I open a different ticket or is this relevant enough to this conversation ?

[2022-07-12 21:14] albertosottile opened #3442 "[Docs] Clarify expected interface for running distutils.commands"
### Summary

I am the maintainer of [py2exe](https://github.com/py2exe/py2exe) and I am in the process of migrating it from `distutils` to `setuptools`. While reading the new documentation, I found out [this extremely useful page](https://setuptools.pypa.io/en/latest/userguide/extension.html) that carefully explains how to add a new command and even new keywords for the `setup()` method, effective

[2022-07-13 11:09] burnpanck commented on #2129
Ah, there we go. In CI, our version of python was pinned at chocolatey's 3.9.2, which was shipping 49.1.0. Thanks for the pointer!

[2022-07-13 11:23] abravalheri commented on #3442
Hi @albertosottile thank you very much for opening this discussion.

Command objects are useful in different contexts, not only when called via the CLI. Two major examples here would be when an user wants to add a custom build step (e.g. transpiling typescript files into javascript files to be embedded in a `wheel` for distribution) or when a plugin wants to overwrite one of the default build step

[2022-07-13 11:39] abravalheri commented on #2806
Thank you very much @neutrinoceros. If the other maintainers are ok with exposing this interface, I can go ahead and try something out (please also feel free to submit a PR - I am a bit busy for July so it may take time...).

I would not mind to track them together...

[2022-07-13 15:19] neutrinoceros commented on #2806
@abravalheri @minrk I've opened a PR to try to address this: #3445
Your feedback is very welcome

[2022-07-13 16:24] numericaseth opened #3446 "[BUG] Pip Installation of Setuptools 63.1.0 Fails Due to Download Error"
### setuptools version

setuptools===63.1.0

### Python version

Python 3.8.13

### OS

WSL Ubuntu 20.04.4 in Windows 11

### Additional environment information

Installing in the following Conda env:
[code]

### Description

A Pip installation (pip install setuptools==63.1.0) of the latest setuptools fails with a download error:

* pip._vendor.urllib3.exceptions.ProtocolError: ("Connection broken

[2022-07-13 16:48] abravalheri commented on #3446
This does not seem to be directly related to setuptools itself, but rather some network issue...

I tried in my machine both the local installation with pip and downloading the file from the URL, and both seem to be fine. So it is also unlikely to be a problem in `warehouse`.

Have you checked if your local network is not blocking PyPI's CDN? (Maybe a firewall?)

[2022-07-13 17:04] numericaseth commented on #3446
Thanks for the response -- I'll keep looking into network issues.

The odd thing is installing other PyPI packages works, for instance:

[code]

While installing other setuptools versions fails as well (with 104 responses as above, or with 503):

[code]

[2022-07-13 17:13] abravalheri commented on #3446
I don't know how PyPI CDN works... maybe they do some kind of partitioning based on the project name?

Anyway, I don't think setuptools is involved in the process of *downloading* from PyPI, so this issue is very unlikely to be related to the setuptools implementation.

https://pypi.org/pypi/setuptools/json also seems to show all the release files, so very unlikely that something got deleted accid

[2022-07-13 17:22] #3446 closed

[2022-07-13 17:22] abravalheri commented on #2806
Thank you very much @neutrinoceros, that is very helpful.

I think we should ask Jason to review the PR to see if he agrees with this direction.

[2022-07-13 19:17] gentlegiantJGC opened #3447 "[BUG] finalize_distribution_options"
### setuptools version

63.1.0

### Python version

3.9.13

### OS

Windows

### Additional environment information

_No response_

### Description

I am trying to implement a sub-command to extend setuptools to add a compile step however this is only run if the local path is added to the python path. This may be an issue in conjunction with the [build library](https://github.com/pypa/build).

I a

[2022-07-14 00:08] jaraco opened #3448 "Integration tests failing on kiwisolver."
In the latest release, the [integration tests failed](https://github.com/pypa/setuptools/runs/7330614985?check_suite_focus=true).

[2022-07-14 00:08] jaraco commented on #3448
I tried to replicate the issue locally, so I ran `tox -e integration -- -k kiwisolver`, but that execution failed because of the way the integration tests are configured in tox.ini:

https://github.com/pypa/setuptools/blob/f747e8bca333a45aaf7fbc58fa1ce12c663bebe3/tox.ini#L32-L33

Passing any posargs causes `setuptools/tests/integration` to be omitted from the args.

Moving that phrase outside the

[2022-07-14 00:19] jaraco commented on #3448
I suspect something change about API of warehouse that affects the way version-specific releases are referenced. kiwisolver is the only one that doesn't specify LATEST.

[2022-07-14 00:27] jaraco commented on #3448
Confirmed the breaking change was intentional: https://github.com/pypi/warehouse/pull/11775

[2022-07-14 00:38] jaraco commented on #3448
I manually cut the v63.2.0 release.

[2022-07-14 06:07] mgorny opened #3449 "[BUG] (minor) .pyc files present in recent setuptools releases sdists"
### setuptools version

63.2.0

### Python version

n/a

### OS

Gentoo Linux

### Additional environment information

_No response_

### Description

Not a big deal but just noticed that there are some `.pyc` files found in the `tools/` directory of the generated sdist:

[code]

### Expected behavior

No .pyc files there ;-).

### How to Reproduce

[code]

### Output

[code]

[2022-07-14 06:42] AlmogBaku opened #3450 "[BUG] Recent release introduced a breaking change on MingW"
### setuptools version

### Python version

*

### OS

Windows

### Additional environment information

_No response_

### Description

https://github.com/pypa/setuptools/commit/7134521c327f522c9d378949cf32460bfbcaccb5#diff-33b1124f858029240f7b1bce31b093b3e054100b2450ac8b3c067cfe9e464670R343

This line introduced a breaking change. Although theoretically removing the dynamic library should behave

[2022-07-14 06:53] lazka commented on #3450
Does your package build with MSVC?

[2022-07-14 07:04] abravalheri commented on #3450
Hi @AlmogBaku , thank you very much for reporting this. Could you please improve the "how to reproduce" section? Ideally what we are looking for is a self-container minimal example.

You can find some tips on how to do that on https://stackoverflow.com/help/minimal-reproducible-example.

[2022-07-14 07:15] ptmcg opened #3451 "[BUG] Users report problems with installing modules when they have the latest 3.0.9 version of pyparsing installed"
### setuptools version

62.6.0 and "latest"

### Python version

Unknown

### OS

Unknown

### Additional environment information

Users report problems with installing modules when they have the latest 3.0.9 version of pyparsing installed.

https://github.com/pyparsing/pyparsing/issues/419

### Description

Somehow, the vendored version of pyparsing (3.0.8) references a file (template.jinja2) whi

[2022-07-14 07:24] jpp08022002 commented on #3451
I use windows 11, python 3.9.12 and the latest setuptools and pyparsing versions and got that error

[2022-07-14 07:27] ptmcg commented on #3451
The pyparsing 3.0.8 code that references the missing file is (see changes in https://github.com/pyparsing/pyparsing/commit/f655b957aefc1b278d9ef42e0aa203cad97b4a34)

[code]

The vendored version includes template.jinja2 where it is expected, but in pyparsing 3.0.9, this file no longer exists.

Why would the vendored pyparsing be looking for template.jinja2 in the installed 3.0.9 pyparsing?

[2022-07-14 07:28] ptmcg commented on #3451
@jpp08022002 - please be specific on the installed versions of setuptools and pyparsing, not just "latest"

[2022-07-14 07:38] ptmcg commented on #3451
Will releasing a new pyparsing version containing the file resolve this issue? I don't mind doing it, but I'd at least like to know _why_  doing it fixes this problem.

[2022-07-14 09:35] abravalheri commented on #3451
Hi @ptmcg thank you very much for reporting this.

I imagine that the best action here would be provide a fix on the setuptools end. Probably an update of the bundled version for packaging is the easiest thing to do.

Setuptools uses a `MetaPathFinder` for its vendored dependencies, and `MetaPathFinder`s are tricky 😢. There is a chance the bundled pyparsing thinks its `__name__` is `pyparsing`...

[2022-07-14 09:52] edmorley opened #3452 "[BUG] `AttributeError: 'PathDistribution' object has no attribute '_normalized_name'` with setuptools 60.9.0+"
### setuptools version

setuptools==60.9.0

### Python version

Python 3.10

### OS

Ubuntu 20.04

### Additional environment information

Also affects latest setuptools (62.2.0) + Python 3.8 and 3.9.

### Description

With setuptools 60.9.0+ this requirements file (reduced from a user-provided report), installs successfully initially, however on subsequent installs (ie: when `site-packages` is al

[2022-07-14 13:39] ptmcg commented on #3451
Given pyparsing's rollercoaster releases since 3.0.0, I wanted to double-check how much risk you would be looking at in upping to 3.0.9. The [CHANGES ](https://github.com/pyparsing/pyparsing/blob/master/CHANGES)log doesn't show any changes to internal parsing or whitespace-skipping (the two areas that give most problems in updating), mostly type annotations and doc string updates. And the one file

[2022-07-14 16:03] abravalheri commented on #3451
In https://github.com/pypa/setuptools/pull/3453, I am updating the version of the vendored pyparsing.

However, to investigate this issue deeply (and see if there is anything else we can do) I would need a proper **minimal** reproduction, which seems to be missing in the original ticket...

(I saw the original problem involves pyinstaller... Does it mean that the error just happens with pyinstalle

[2022-07-14 16:03] abravalheri commented on #3451
Thank you very much @ptmcg, this is very valuable information!

[2022-07-14 16:15] edmorley commented on #3452
I'm glad the Docker repro helped! Thank you for looking into this and for reducing the testcase further -- the original requirements file had 96 requirements, so I was happy to get it down to 3 at least :-)

[2022-07-14 16:17] jaraco commented on #3452
In 03da59c, I explored applying the workaround for all Python versions, but it didn't have the intended effect:

<details>

[code]

</details>

"invalid command 'egg_info'".

I believe what's happening is that when `importlib_metadata` installs its MetaPathFinder, it [disables the finders for the stdlib distribution](https://github.com/python/importlib_metadata/blob/051b26a890a717dd9aa59fcbbb039b5

[2022-07-14 16:21] jaraco commented on #3452
I discovered another possible workaround, to force use of pep517 when building (which builds the target project using isolation even though it doesn't declare a pyproject.toml):

[code]

That command succeeds and is minimally invasive.

[2022-07-14 16:41] jaraco commented on #3452
In c28caa6, I have another idea which is simply to detect and warn when the conditions are present that could cause problems. I'm not sure how effective a warning will be, because warnings rarely make it to user visibility when running under builders like pip.

My temptation at this point is to do nothing and let this bug serve as documentation on what the issue is and what workarounds exist.

[2022-07-14 16:55] abravalheri commented on #3452
Hi @jaraco, I think that the "workaround" in https://github.com/pypa/setuptools/commit/c28caa6ef4dfbb4fe8061e1fc64e520a41213cbd is also the only thing we can do right now to "address" https://github.com/pypa/setuptools/issues/3319, right?

[2022-07-14 19:13] jaraco commented on #3452
I don't believe the workaround will help that situation at all, as it only affects Python 3.10+ and the issue in #3319 is for Python <3.10.

[2022-07-14 19:27] jaraco commented on #3319
The reported issue is not with Setuptools, except for the fact that Setuptools is using importlib_metadata 4.3+.

Your description is correct. The issue is that importlib_metadata 4.3+ and as found in Python 3.10+ is expecting a _normalized_name to be present on PathDistributions.

Perhaps importlib_metadata could be more lenient and provide a compatibility layer when newer versions of importlib m

[2022-07-14 20:27] konstin commented on #3319
Depending on importlib_metadata would be feasible through vendoring; It's a bit of a pity though because I otherwise get away with zero dependencies.

I'm more concerned about how to make sure that the version I depend on matches what setuptools uses (or whatever other tool calls `find_distributions`), and more generally, what the type signature of `find_distributions` should be. Solving https://g

[2022-07-14 21:51] gentlegiantJGC commented on #3447
I am trying to add code that runs during the build step to modify the files.

I added a minimal reproducible example as a zip above the console logs in the report but it just prints a line.
I want to use this functionally to merge an unwieldy number of small files into a compressed archive for distribution.

The project I am using this in is here.
https://github.com/gentlegiantJGC/PyMCTranslate/tr

[2022-07-15 05:22] jpp08022002 commented on #3451
reproduction:

Have these two python files, a png image and an ico file:

![image](https://user-images.githubusercontent.com/32941449/179155103-2e4a2209-2899-4139-a8f6-533985e649ea.png)
So I open auto-py-to-exe in anaconda,
Select the proces_excel_main_module.py as script location.
Select home.ico as icon file.
For additional files, select:
- proces_excel_sub_module.py
- app picture
- the home.ico

[2022-07-15 18:28] abravalheri commented on #3447
Hi @gentlegiantJGC thank you very much for the extra info.

If you want to do that for a single project, maybe instead of `finalize_distribution_options` I think you could try something different (see the following suggestion).

If you want to do that for multiple projects, than you can use the `entry-points` approach to create a setuptools plugin.

### Suggestion

Let's keep the custom build step

[2022-07-16 08:17] gentlegiantJGC commented on #3447
Thanks. That is nicer than the original subclassing system I had.
I am surprised though that there isn't a nicer way to add functionality.

Do you know why `finalize_distribution_options` works when the root path is added to the python path?
Is that intended behaviour or a bug?

[2022-07-16 09:05] abravalheri commented on #3447
If I am not wrong, this happens because `importlib_metadata` reads the `.egg-info` directory in all items of `sys.path`.

I think it is problematic to add the customisation to your project’s own entry-points, right? This would mean that setuptools will try to use the custom build step you define with every single package you try to build in that env...

I don't think it is bug. Setuptools uses thi

[2022-07-16 11:26] abravalheri commented on #3442
I am really sorry @ronaldoussoren I don't have that information for you.

I joined the team after setuptools started giving indications that it wanted to go in this direction, so there are many things I don't know yet...

[2022-07-16 22:52] mxmlnkn commented on #2938
I still have this problem on Ubuntu 22.04 with Python 3.10 and setuptools 63.2.0 installed. Is that normal?

[2022-07-17 12:24] gentlegiantJGC commented on #3447
Okay. Thanks for the help.

I think for this to work in editable mode as well the command would need to be registered as a subcommand of the develop command as well.

[2022-07-17 12:24] #3447 closed

[2022-07-17 22:21] moshez commented on #3415
Thanks @abravalheri .

As someone who has written a plugin, I can tell you that my preference would be for "finalize..." to be called after the parsing of the toml file, because I assume that anything I modify in "finalize..." does not change any more. However, if there is a new hook, I can modify my plugin to use that. Either way, the lack of any hook that is *after* the parsing of the toml file

[2022-07-18 18:53] DWesl commented on #3450
The maintainers asked for a minimal example, that is, an example `setup.py` that will exhibit the problem.  Your example requires a C extension module; I usually use Cython for examples for this type of report so I only have to write five lines of code or so.  Since you have a date for when the behavior changed, you may want to show what `python setup.py build_ext` does with a version of setuptool

[2022-07-18 19:02] DWesl commented on #3257
Out of curiousity, would something like [this patch](https://src.fedoraproject.org/rpms/python3.10/blob/4dc2200b8e81beeff7e672aa095f533e87b184c5/f/00001-rpath.patch) fix this problem?  Found in [this distutils comment](https://github.com/pypa/distutils/issues/73#issuecomment-1150084730)

[2022-07-19 04:56] hauntsaninja opened #3455 "[BUG] Breaking change in setuptools 61.2"
### setuptools version

61.2

### Python version

3.10.5

### OS

macOS

### Additional environment information

_No response_

### Description

At work, we store some project metadata in pyproject.toml.

setuptools has started validating information in pyproject.toml, when it previously didn't. On it's own, this isn't a bad idea, but as it stands this is problematic because:
- setuptools insists

[2022-07-19 05:00] hauntsaninja commented on #3455
Looks like setuptools 61.2 was released a month or two ago, not sure why everything at work is only blowing up now...

[2022-07-19 06:51] abravalheri commented on #3455
Hi @hauntsaninja , thank you very much for bringing this discussion.

My understanding is that [PEP 621](https://peps.python.org/pep-0621/) does require either:

1. The `version` field to be specified, or
2. The `dynamic` field to be specified containing `"version"` as one of the elements of the array.

The evidence of this requirement is given by the following paragraph:

The [core metadata spec]

[2022-07-19 07:16] hauntsaninja commented on #3455
Thanks, that makes sense, missed that part of PEP 621.

I still have a question — why does setuptools seemingly give pyproject.toml precedence over setup.py? To me it seems user intent to use setuptools is more clearly expressed by a setup.py (possibly unless there's an explicit `[tool.setuptools]` in pyproject.toml). Maybe there's a link to discussion of this somewhere? :-)

[2022-07-19 07:16] #3455 closed

[2022-07-19 07:42] abravalheri commented on #3455
This is also motivated by the text in PEP 621:

Build back-ends MUST raise an error if the metadata specifies a field in dynamic but the build back-end was unable to provide the data for it.

The idea behind PEP 621 is to incentivise package authors to specify metadata statically as much as possible (to the point that you get in trouble if you don't add `dynamic` and forget a field). This is clear

[2022-07-19 07:44] abravalheri commented on #3455
PEP 621 is very strict 😅!

[2022-07-19 14:22] squahtx opened #3457 "[BUG] setuptools>=48.0.0 installs msgpack==1.0.3 to `site-packages` instead of `dist-package` when using `pip install --no-cache-dir`"
### setuptools version

setuptools>=48.0.0

### Python version

Python 3.7

### OS

Debian 10

### Additional environment information

Occurs in the `debian:buster` Docker container, where packages go into `.../dist-packages`:

[code]

### Description
`pip install --no-cache-dir msgpack==1.0.3` with setuptools>=48.0.0 installs msgpack to `/usr/lib/python3.7/site-packages/`, where Python can't find

[2022-07-20 07:53] kloczek commented on #3257
Issue is that `setuptools` should not fiddle in linker options .. at all.
If someone neds link with rpath it should be passed over LDFLAGS env variable.

[2022-07-20 10:51] abravalheri commented on #3457
Hi @squahtx, thank you very much for opening the issue.
There are several aspects to unpack here... I tried to cover them in my comments/experiments bellow:

1. Please note that setuptools release process addresses problems by adding bug fixes to the *latest version* (in a linear style). So I recommend also testing this against the latest version of setuptools.

2. In the latest versions of `setup

[2022-07-20 13:52] squahtx commented on #3457
Testing on the latest setuptools version produces the same unwanted result:
<details>
<summary>Output</summary>

[code]
</details>

That fixes things, thank you!

<details>
<summary>Output</summary>

[code]
</details>

[2022-07-20 13:52] #3457 closed, assigned to nobody

[2022-07-22 05:53] jpp08022002 commented on #3451
I got still the same error!
I use auto-py-to-exe, so there must be something done with that module to make it not searching for pyparsing/..../template.jinja      !!!

[2022-07-23 06:41] FirefoxMetzger commented on #2806
I'm also interested in getting the CCompiler, because I want to write a custom command to compile a _shared_(!) library that is then accessed by `ctypes`. Clarifications on how this is meant to be done would help a ton 🚀

We can do this for statically linked archives (.lib) using the `build_clib` command and the `libraries` kwarg of `setup()`, but I couldn't find anything for dynamically linked li

[2022-07-23 14:25] merwok commented on #3340
I find this unexpected and unintuitive.  Why make a namespace package when you have no need or intent to use it as a namespace package?  IMO cleaner recommendations could be:
- have data files inside an existing package (`pyopencl/example.c`)
- add `__init__.py` to mark the dir as a regular package (`pyopencl/cl/__init__.py` + `pyopencl/cl/example.c`)
- support data files in subdirectories (`pyope

[2022-07-23 14:56] jaraco commented on #2806
Thanks everybody for the patience. This issue had not risen to my attention until now, so bear with me as I catch up.

I appreciate the work done here, but I'd like to take this in a different direction.

Definitely not. That location is an implementation detail. If you wish to access distutils modules through the compatibility interface, use `import distutils*`. That is, `import distutils.ccompil

[2022-07-23 15:27] althonos commented on #2806
@jaraco : Thanks for tackling this issue!

I have the same use-case in several scientific computing packages, where I have several components:
- a C or C++ library that I'm writing bindings for
- a Cython extension exposing a Python interface
- several additional files which are platform-specific (e.g. a specialized SSE2 implementation of some algorithms).

In general, I need to have access to a C

[2022-07-23 15:38] neutrinoceros commented on #2806
our use case for yt is also very well described by @althonos' answer: we use distutils to build Cython extensions.
Here's the setupext.py file we want to port https://github.com/yt-project/yt/blob/main/setupext.py

Wait, this is news to me. Does it mean that `distutils` can be imported *even in Python 3.12* if `setuptools` is installed ? If I'm reading this right, and if you guys plan to maintain

[2022-07-23 16:36] abravalheri commented on #3340
Hi @merwok , since the Python runtime will effectively consider any directory without a `__init__.py` a namespace packages, if a dev organizes files in a directory,  the dev is effectivelly making use of a namespace package... If a dev have a use for directories without a `__init__.py`, the dev will automatically have an use for a namespace package...

Am I understanding corectly here? Do you obje

[2022-07-23 18:45] FirefoxMetzger commented on #2806
My main use-case is similar to that of @althonos. Set platform-specific flags before building extensions.

The other use-case that I have is that I have a package that offers `ctypes` bindings into a C library. Traditionally, we installed the python package and the C library separately; however, now I would like to switch and build and package the C library at the same time we package the python p

[2022-07-24 11:52] merwok commented on #3340
My point is that the dev is not making use of a namespace package because it is not intended that `pyopencl.cl` can be extended by other distributions providing modules in that namespace.  It really is a directory containing data files.

[2022-07-24 15:09] jaraco commented on #2806
Yes. That's correct. The only exception is that if `SETUPTOOLS_USE_DISTUTILS=stdlib` is set, then no `distutils` will be found. However, the default since Setuptools 60 is `SETUPTOOLS_USE_DISTUTILS=local`, so that default behavior remains unchanged across Python versions, including 3.12+.

We do, though it's our goal to obviate the need for accessing distutils altogether (eventually deprecating an

[2022-07-24 16:59] jaraco opened #3460 "Limit scope of distutils hack workaround for pip"
In pypa/pip#8761, a more direct workaround is being implemented, meaning the workaround in Setuptools can be retired.

[2022-07-24 17:05] jaraco commented on #3460
I've also created https://github.com/pypa/setuptools/tree/feature/remove-distutils-hack-pip-workaround to track the removal in the future.

[2022-07-24 18:56] FirefoxMetzger commented on #2806
@jaraco Sounds like a workable solution from my side. Thanks for taking the time to move this issue forward!

[2022-07-25 07:28] illume commented on #2088
It's a bit runny sir. I think data_files are bit more runny than you like it sir. Oh, the cat's eaten it!

I'm afraid we're all out of man pages.

Normally sir yes. But I'm afraid the van broke down.

[2022-07-25 12:24] pganssle commented on #2088
I think this issue is basically settled at this point, no? I'm going to close it.

[2022-07-25 12:24] #2088 closed

[2022-07-25 12:45] ptmcg commented on #3451
@jpp08022002 It seems that the actual code in your files is relevant to reproducing this problem. Is this code in a public Github repository?

I know it is frustrating that @abravalheri is unable to reproduce a problem that is clearly reproducible to you. But they have tried their best with the information you have provided.

If there is any way that you can whittle down the problem on your end -

[2022-07-26 02:44] jamesbraza opened #3465 "[FR] pkg_resources.parse_requirements: supporting nested requirements.txt"
### What's the problem this feature will solve?

I parse `requirements.txt` with `pkg_resources.parse_requirements`, and this has worked great in the normal case.

It's also possible to have nested `requirements.txt`:

[code]

Currently, `pkg_resources.parse_requirements` doesn't support this, it throws an `InvalidRequirement` exception:

[code]

### Describe the solution you'd like

It would be n

[2022-07-26 08:04] Joshua-IRT opened #3466 "Cygwin currently does not support --enable-new-dtags"
### setuptools version

63.2.0

### Python version

Python 3.9.10

### OS

Cygwin on Windows 10

### Additional environment information

_No response_

### Description

I have installed Python 3.9, proj and setuptools (59.5.0) from the Cygwin package manager. Attempting to install pyproj using pip results in pip collecting the latest setuptools and trying to build pyproj, but failing with an unkno

[2022-07-26 09:12] frenzymadness opened #3467 "[FR] Improve error feedback for improper one-liner requirement with environment markers in `setup.cfg`"
### setuptools version

63.2.0

### Python version

3.9 and 3.11

### OS

Fedora Linux

### Additional environment information

_No response_

### Description

Project: https://github.com/thoth-station/micropipenv
The line I have a problem with: https://github.com/thoth-station/micropipenv/blob/2127293c4c9fa344fd1535c5189c39ca7ba4594d/setup.cfg#L40

It seems to me that there is a difference betwee

[2022-07-26 09:31] frenzymadness commented on #3467
From the configparser perspective, the difference is this:
[code]
versus
[code]

[2022-07-26 09:52] hroncok commented on #3467
The (broken) wheel has this in the metadata:

[code]

[2022-07-26 09:53] abravalheri commented on #3467
Hi @frenzymadness , this is a limitation in terms of `setup.cfg` that is explained in the [docs](https://setuptools.pypa.io/en/latest/userguide/declarative_config.html):

The rationale is that if you don't include newlines in the value, the character used to split different requirements is `;`.

[2022-07-26 09:57] frenzymadness commented on #3467
I've fixed the problem in release 1.4.1 so now it's even easier to reproduce. The old version fails to install no matter which version of Python you use:
Python 3.11:
[code]
Python 3.9
[code]
The new version works correctly and omits toml for Python 3.11:
[code]
Python 3.9
[code]

[2022-07-26 10:00] hroncok commented on #3467
My assumption is that:

[code]

Is read as:

[code]

While:

[code]

Is read as:

[code]

This behavior seems consistent with [the examples from the docs](https://setuptools.pypa.io/en/latest/userguide/declarative_config.html):

[code]

Albeit, quite confusing with environment markers.

[2022-07-26 10:09] hroncok commented on #3467
Oh, I sent my comment before seeing this. I agree that this is a known limitation, however I would argue that it is a trap.

We've discussed with @frenzymadness and we belive a warning might be presented when the entire line:

 - contains exactly 1 ;
 - parses as a valid requirement string
 - the part after ; parses as a valid environment marker

WDYT?

[2022-07-26 10:10] frenzymadness commented on #3467
Thanks for the info @abravalheri ! What do you think about an automated check for this? I think it'd be easy to implement it. Something like: If you have extras_require on a single line and after split by `;` one of the requirements contains env marker, issue a warning (or error?).

[2022-07-26 10:15] abravalheri commented on #3467
@hroncok yes, that is precisely the [documented](https://setuptools.pypa.io/en/latest/userguide/declarative_config.html#specifying-values) behaviour.

`extras_require` is parse as a `list-semi` value, which means that if the value does not contain any new line character, the value will be split using the `;` separator.

@frenzymadness , I am afraid this behaviour is not a bug but rather an intenti

[2022-07-26 10:18] abravalheri commented on #3467
That could be a nice addition. Thank you very much @hroncok and @frenzymadness . You one of you guys would like to give it a try in a PR?

[2022-07-26 11:03] DWesl commented on #3450
With `setuptools==62.0.0` and `setup.py` looking like this:
[code]
I get
[code]
which is the messy compiler error message the new exception is designed to hide and clarify.

@AlmogBaku, what do you get with this `setup.py`, the `hello.pyx` given above, and `setuptools==62`?

Alternately, does your original issue still occur with `setuptools==62` or `SETUPTOOLS_USE_DISTUTILS=stdlib`?

[2022-07-26 13:00] pradyunsg commented on #2816
Closing this out, since https://github.com/pypa/setuptools/pull/3265 implemented this.

It still has an experimental flag on it, but it works and that's the part that I care about. I've now seen multiple people point to this issue to say that editable installs are a mess in Python -- all the pieces have worked for quite some time now. :)

[2022-07-26 13:00] #2816 closed

[2022-07-26 13:25] samuelcolvin commented on #2816
Thanks so much @pradyunsg.

[2022-07-26 13:41] frenzymadness commented on #3467
We will try it soon.

[2022-07-26 13:51] djhoese commented on #2816
Is there a milestone or pull request for when that will happen? I see the PR was merged to the `feature/pep660`, but don't see anything else using that branch. I'm not familiar with the setuptools workflow so let me know if I'm missing something. I'm one of those people that would like to use pyproject.toml without a setup.py and it seems I need that PR.

[2022-07-26 14:05] astrojuanlu commented on #2816
I couldn't find an open PR for the `feature/pep660` branch either, however @abravalheri announced a month ago that they were conducting preliminary tests https://discuss.python.org/t/help-testing-pep-660-support-in-setuptools/16904?u=astrojuanlu

[2022-07-26 14:26] xiaoge1001 opened #3468 "After upgrading, the installation directory of other software packages is changed"
### setuptools version

setuptools===63.2.0

### Python version

python 3.9.9、python 3.10.2

### OS

openEuler

### Additional environment information

_No response_

### Description

I used to use setuptools 59.4.0, and there was no problem with iotop building. Recently, I upgraded setuptools to the latest version (63.2.0), it led to the failure of iotop building. I don't know whether other softw

[2022-07-26 15:02] webknjaz commented on #2971
Well, this commit is yours: https://github.com/pypa/setuptools/commit/995d309317c6895a123c03df28bc8f51f6ead5f5. The previous deprecation attempt was https://github.com/pypa/setuptools/commit/7f8144544f23f4fd84d339d846b91d4e3b703dd4.

There's a comment there pointing at https://bitbucket.org/hpk42/devpi/issues/388/support-rtd-model-for-building-uploading#comment-34292423 which has moved to https://

[2022-07-27 04:25] ryancheley commented on #2946
I had this same issue and [this StackOverflow](https://askubuntu.com/a/1403604) answer was able to resolve it for me

[2022-07-27 08:44] jaraco commented on #2946
This issue no longer exists:

[code]

[2022-07-27 08:44] #2946 closed

[2022-07-29 05:10] SylvainDe opened #3470 "[BUG] Unexpected name for attribute "spec_for_test.test_distutils" in class _distutils_hack.DistutilsMetaFinder"
### setuptools version

63.2.0

### Python version

Python 3.11.0b5

### OS

Linux

### Additional environment information

Only on the latest Python beta version (11.b5) - found on Github actions.

### Description

Disclaimer: This is probably not an actual bug and highly non-important but something which surprised me a bit and I wanted to be sure it was the expected behavior.

I wanted to match

[2022-07-29 07:15] abravalheri commented on #3470
Hi @SylvainDe , `_distutils_hack` relies on both `setattr` and `getattr`, so unless the interpreter spontaneously throws an error, I would not be concerned...

You mentioned that in Python 3.11.0b5 you see an error. Is this error something your code is throwing, or something that just happens without any intervention?

BTW, in other contexts you can also use the [`str.isidentifier`](https://docs.p

[2022-07-29 09:52] SylvainDe commented on #3470
Hello @abravalheri , thanks for your feedback! I was just surprised by the usage of such an attribute name but it does not cause any exception to be thrown anywhere by the interpreter. The only error comes from a wrong assumption in my code parsing attribute name.

As for the str.isidentifier function, this is an excellent suggestion but my use case is slightly more tricky: I actually try to parse

[2022-07-30 07:37] nanonyme commented on #3431
After reading into this deeper, these two cases may not be related. Pip invokes setuptools with `--single-version-externally-managed` which triggers yet another codepath in setuptools (there are at least three ways for package to get installed). If setup.py is invoked without this parameter, end result is that egg will get intalled instead of a flat directory.

[2022-07-30 07:40] nanonyme commented on #3431
@martingalvan-nordic if you would like to run pip install with -v (for verbose), you could see what exact parameters it passes to setuptools.

[2022-07-31 00:51] DWesl commented on #3450
Alternate framing of this issue: pypa/distutils#150 should have gone with [the Cygwin patch that inspired it](https://cygwin.com/git-cygwin-packages/?p=git/cygwin-packages/python39.git;a=blob;f=3.1-enable-new-dtags.patch;h=716af3b14d3483e5a4cdb65d0ec45ba92bd03ceb;hb=HEAD) for consistency with Darwin/OSX rather than raising a `DistutilsPlatformError` (perhaps extending the patch to cover whatever p

[2022-07-31 01:13] DWesl commented on #3257
Does applying the patch in pypa/distutils#160 to the copy of `distutils` that `setuptools` bundles in `setuptools._distutils` allow the binary package creation to pass its checks?

[2022-08-01 06:57] martingalvan-nordic commented on #3431
@nanonyme regardless of what pip does internally, the bug is still there at least for me. I believe debugging this is a task for the setuptools maintainers.

[2022-08-01 09:43] nanonyme commented on #3431
Well, it looks like there is API between pip and setuptools. With matching version ranges of pip and setuptools you get sensible results.

[2022-08-01 10:42] martingalvan-nordic commented on #3431
Yes, but such internal details shouldn't leak to normal users. If pip stops being compatible with setuptools at some version ranges, IMHO this should be very explicitly documented somewhere.

[2022-08-01 12:11] andyfaff commented on #2806
I wouldn't rule out the possibility that people would want to compile C-code during program execution, e.g. for construction of compiled plugins.

[2022-08-01 13:26] minrk commented on #2806
Yes, I think that's a totally valid and reasonable use case. I can't speak for it myself, and can't immediately find an example. [cffi, for example](https://foss.heptapod.net/pypy/cffi/-/blob/branch/default/cffi/ffiplatform.py) instantiates Distribution and Extension objects, invoking `build_ext` without reaching directly into the compiler.

[2022-08-01 14:30] xiaoge1001 commented on #3468
This seems to be related to the following changes:

v60.0.0
19 Dec 2021

Breaking Changes
#[2896](https://github.com/pypa/setuptools/pull/2896/files): Setuptools once again makes its local copy of distutils the default. To override, set SETUPTOOLS_USE_DISTUTILS=stdlib.

[2022-08-01 14:30] #3468 closed

[2022-08-01 15:50] abravalheri commented on #3467
Hi @frenzymadness, thank you very much for having a look on this.

I am not entirely sure about this approach... For example, is it a given that valid markers are invalid/reserved package names? (I just found a few packages on PyPI that might invalidate this assumption, e.g. [`python_version`](https://pypi.org/project/python_version/), [`extra`](https://pypi.org/project/extra/)).

[2022-08-01 16:51] frenzymadness commented on #3467
You are right that
[code]
shows the warning even it's a correct definition. Any idea how to make it more robust?

[2022-08-01 16:59] abravalheri commented on #3467
I imagine that the best we can do here is to reduce the probability of false positives...

How about performing the check only if:
- the string value is a single line **AND**
- the number of requirements is exactly 2

?

(This way we can only check the second requirement for a marker)

[2022-08-01 20:11] zooba commented on #3329
[code]

This is incorrect. The proper module is `distutils._msvccompiler`, because you're _not_ supposed to access it directly.

The one you're importing is the ~2.7 implementation, which would have been removed when the new one was added, but I was told to leave it there for compatibility. So yeah, it is totally busted, but the proper one should be fine.

[2022-08-02 08:18] frenzymadness commented on #3467
Thanks for the help. I've run all tests to see what structure the `section_options` attribute contains and now I have this solution:

[code]

[2022-08-02 09:24] frenzymadness commented on #3467
Another idea from @hroncok is: If there is no `\n` in the original input and the length of parsed requirements is == 2, concatenate them with `;` between them and then try to parse this string as a `Requirement` - if the parsing succeeded and the parsed requirement has `marker` attribute, the warning should be shown.

[2022-08-02 09:37] hroncok commented on #3467
If the marker attribute is not None.

[2022-08-02 09:37] abravalheri commented on #3467
That sounds good and resilient!

I have a single note about the implementation details: ideally (if possible) it would be nice to split the added code in a separated auxiliary function (but that is already part of the code review :P).

Thank you very much @frenzymadness for working on this.

[2022-08-03 02:07] #3139 closed

[2022-08-03 02:12] jack1142 commented on #3139
I'd like to add that as I found out few days ago, you can use recursive dependencies since pip 21.2 which allows you to i.e. declare `pkg_name[black,isort]` as a dependency for the `dev` extra:
https://hynek.me/articles/python-recursive-optional-dependencies/

This should also work in the PEP 621 scenario which can't use the interpolation I suggested earlier.

[2022-08-03 10:27] frenzymadness commented on #3467
Ok, we can move the discussion to the PR: #3481

[2022-08-03 12:25] jaraco commented on #3470
The reason why these attributes exist is more apparent when looking at [the implementation](https://github.com/pypa/setuptools/blob/d90cf84e4890036adae403d25c8bb4ee97841bbf/_distutils_hack/__init__.py#L169-L196). `DistutilsMetaFinder` uses methods named `spec_for_{name}` to handle a module indicated by `{name}`. In order to provide special handling for `tests.test_distutils`, the `DistutilsMetaFin

[2022-08-03 12:25] #3470 closed

[2022-08-03 17:45] olemoign commented on #3340
I'm faced with the inverse situation: my ```packages=``` and ```MANIFEST.in``` are well defined, with exactly the files I want included in my wheel. There are files within the package that I don't want to see included (e.g. tests, sass files, non minified js, etc.). Now, setuptools adds them to the wheel, with no "Stop doing this, I know what I'm doing" flag that I can see. Am I missing something?

[2022-08-03 18:32] olemoign commented on #3340
I get the same behavior if, instead of specifying packages, I try to ```find``` then ```exclude``` the unwanted packages. :cry:

[2022-08-03 19:24] abravalheri commented on #3340
Hi @olemoign, can you share a link to your project source code (or a similar reproduction)? I would need to have a look on what is the configuration/file structure to understand what is going on. In theory if well specified `MANIFEST.in` and `[options] packages=` should prevent files from being added...

[2022-08-05 15:48] abravalheri commented on #2816
@djhoese, @astrojuanlu, you can track the progress in #3488. I am considering that the round of community feedback is reaching its end, so I plan to do a release soon (in another week or so).

[2022-08-05 22:11] smheidrich opened #3489 "[Docs] Short explanation or example on direct URL dependencies AKA direct reference specifications"
### Summary

setuptools allows specifying "direct URL dependencies" on packages that are to be pulled from a VCS (e.g. Git) repository in the form
[code]
where `branch` could also be another kind of Git ref (e.g. tag). Such dependencies are not allowed in packages on PyPI but come in handy in many situations anyway.

As far as I can tell, this format isn't explicitly *spelled out* anywhere in setu

[2022-08-06 16:54] abravalheri commented on #3489
Hi @smheidrich thank you for bringing this discussion up. Would you like to propose a starting point via a PR? We can iterate from there...

[2022-08-06 18:40] #3467 closed

[2022-08-06 18:40] #3451 closed

[2022-08-06 18:58] abravalheri commented on #3451
Thank you guys (sorry if it took a while, I was in holidays meanwhile).
I upgraded the vendored version of pyparsing to fix the issue (even if we don't fully understand what is happening). It should be available in a new release soon.

If at some point in the future someone would like to contribute with a minimal reproducer for the specific version of setuptools that was causing the problem, we ca

[2022-08-06 21:57] smheidrich commented on #3489
@abravalheri Sure, please check #3491.

[2022-08-08 09:43] #3489 closed

[2022-08-08 16:50] abravalheri commented on #3465
Hi @jamesbraza, sorry for getting back to you this late.

The main motivation behind `pkg_resources.parse_requirements` is to parse a string where each line corresponds to a dependency specification. This is not compatible with `requirements.txt` files, since this kind of files may contain `pip` specific logic (for example the `-e` flag), and therefore do not fit in the same mindset.

I personally

[2022-08-08 21:47] jamesbraza commented on #3465
Hello @abravalheri thank you for the response!

Yes I am aware of `pip-tools`, unfortunately `pip-tools` currently doesn't support what I am looking to do.  Hence why I am DIY'ing stuff.  I was hoping to not re-invent a requirements parser, and came across `pkg_resources.parse_requirements` as a viable option.

Currently I do employ a DIY solution, so I am not blocked by this, it would just be nic

[2022-08-09 08:37] abravalheri commented on #3465
Let's close this issue for now. The main idea is that in the future `pkg_resources` will be replaced by more optimised tools like `importlib.metadata` and `importlib.resources`. Because of that, it is very unlikely that we want to augment the scope of `pkg_resources`.

[2022-08-09 08:37] #3465 closed

[2022-08-09 11:15] KOLANICH commented on #3415
I think that there should be a way to specify mode of invocation of a plugin. There should be at least 2 modes:

a. a plugin is always invoked
b. a plugin is invoked only if `pyproject.toml` has a section for it. If `pyproject.toml` doesn't have a section, plugin's package must not be imported at all.

It is proposed to provide the possibility to specify this it via "entry_points metadata" - JSON

[2022-08-09 11:43] KOLANICH commented on #3415
In #2031 it was also proposed to determine which data to provide via the entry point function signature using the annotations and arguments names.

[2022-08-09 17:23] KOLANICH opened #3495 "[FR] Move `.config.` (`setup.cfg` parser) into a separate package and vendorize it"
### What's the problem this feature will solve?

Even though `setup.cfg` files are deprecated and their support gonna be removed somewhen, it is here to stay, there are enough packages using it. So there is a need to read these files. Unfortunately they cannot be read properly by generic `configparser` (at least without additional postprocessing). So an out-of-the-box solution is needed.

### Desc

[2022-08-09 21:11] abravalheri commented on #3415
Hi @KOLANICH thank you very much for the comment and references to the previous PRs/issues. I tried to go over them and get a gist of the proposal, but I confess that I might not have understood them 100%. So, please be patient with me while I try to understand 😅.

Approaches (a) and (b) sound reasonable (although we can also argue that as long as we have a way of providing the configuration from

[2022-08-09 21:17] abravalheri commented on #3415
Hi @moshez, I am terribly sorry that this slipped under my radar.

I think that we need someone to champion a design (or a small set of designs that can be voted/commented by the community in a pool as you suggested). One important part of this work is to explain which problem(s) the plugin writers are trying to solve and get the "buy-in" of the other (more experienced) maintainers of setuptools.

[2022-08-09 21:28] abravalheri commented on #3495
Thank you very much @KOLANICH for starting this discussion:

A different alternative was also previously proposed in https://github.com/pypa/setuptools/issues/1688#issuecomment-570933225: to create a tool that translates `setup.cfg` into `pyproject.toml`.

This other issue is also relevant for this discussion: https://github.com/pypa/setuptools/issues/3214.

[2022-08-10 03:46] moshez commented on #3415
Hi @abravalheri , so re step 1, explaining the problem that plugin writers can face, I tried to do a PoC in https://github.com/moshez/onedotoh/ -- this is a "parody" of a setuptools plugin: it just overrides the version to always be "1.0.0".

I have two kinds of projects in the repo: one a "classic", `setuptools_example`, and the other, a modern version, `pyproject_example`.

I checked in a script

[2022-08-10 06:39] graingert commented on #3415
My understanding of PEP 621 was that the metadata in the pyproject.toml always took precedent and that your build wrapper tool should crash if it sees a .whl that doesn't match the metadata

Eg pip or python -m build should reject the whl if it saw your version set to 0.1 in the pyproject.toml and 1 in the .whl

But it looks like that's not happening here because setuptools is fixing the .whl meta

[2022-08-10 10:04] graingert commented on #3415
I actually think in this scenario it would be better if setuptools crashed rather than silently disobey a plugin or violate PEP 621. Out of interest what does build/pip do if a build backend does violate PEP621 and are there any sdists on pypi that do this?

[2022-08-10 10:44] abravalheri commented on #3415
Given the existing circumstances (1. plugins might run even if the users don't opt in for using them; 2. the user is, after all, explicitly telling setuptools to use the given version), the behaviour may make sense as it is... I am happy to review a PR if someone is interested in adding this extra check, but one of the things that I would be careful is to avoid growing even more the complexity of

[2022-08-10 21:00] KOLANICH commented on #3415
The pros of entry_points metadata is that they don't involve code being executed. Soketikes it is highly undesireable even to import a package if it is not actually needed:

* an importee can import large dependencies
* an importee can do costly initialization
* an importee can have a viral license, like GPL, so importing it into non-GPL modules can be illegal
* importees can be alternatives to ea

[2022-08-10 21:22] KOLANICH commented on #3495
Yeah, I know about your tool (and I have contributed into it). But your tool still has to parse `setup.cfg`, so it also needs the library for doing it.

[2022-08-11 11:09] abravalheri commented on #3495
I have absolutely no problem if `setuptools` decides to not use `ini2toml` (the tool is already fulfilling its purpose if it helps people to migrate).

I think that having an independent `setup.cfg`-parser is also a great approach. I just wanted to add the topic to the discussion (to complete the `alternatives` description).

In my mind the differences are the following:

- *separated parsing pack

[2022-08-11 14:35] abravalheri commented on #1928
@chrahunt, for the time being I just aligned `--global-options` and `--build-options`. Hopefully the behaviour should imitate `pip` (e.g. `setup.py {config_settings["--global-option"]} {command} {config_settings["--build-option"]}`)

In the future we probably want to have a proper definition of `config_settings`, but this may require some level of alignment with `wheel` (future works).

Please let

[2022-08-11 15:01] agroszer opened #3498 "[BUG] AttributeError: pakcage_dir typo breaks editable installs"
### setuptools version

64.0.0

### Python version

3.9

### OS

ubuntu

### Additional environment information

https://github.com/pypa/setuptools/commit/7ae5a6903c83eb43a96ad02c874990d02ee92672 introduced the typo

### Description

Doing the obvious
`bin/pip install --upgrade -r "data/versions/requirements.txt"`

where requirements.txt has:
`-e .`

### Expected behavior

.

### How to Reproduce

[2022-08-11 15:06] abravalheri commented on #3498
Thank you very much for reporting this @agroszer.

[2022-08-11 15:06] synchronizing commented on #3498
Unsure if related, but since this morning all of our packages have began breaking with the following:

[code]

[2022-08-11 15:08] abravalheri commented on #3498
Hi @synchronizing, probably a different problem, could you open a new issue with a reproducer?

Meanwhile we investigate/fix the problem you can try using `SETUPTOOLS_ENABLE_FEATURES="legacy-editable"` or relying on a non-editable installation.

[2022-08-11 15:09] synchronizing commented on #3498
Both the env, and non-editable installations work. The issue started this morning, however, and was not present pre-64.0.0. Will open new issue, thank you.

[2022-08-11 15:18] leonixyz commented on #3498
In my case, it was indeed an editable dep breaking my testing environment that led me to find the typo in #3497

[2022-08-11 15:23] abravalheri commented on #3498
Sorry for the inconvenient @leonixyz.
The tests for original behaviour in the `develop` command were scarce because of the deprecation, so the particular code path ended up untested (it does not help that we have some issues with the coverage report).

Thank you for providing the fix. If that is OK with you, I was planning to wait and see if we can also investigate and fix the second problem repor

[2022-08-11 15:34] vogre opened #3499 "Editable install using setup.py breaks without legacy feature [BUG]"
### setuptools version

63.2.0

### Python version

Python 3.10

### OS

Ubuntu 22.04 LTS

### Additional environment information

_No response_

### Description

Running `pip install -e .`  in a repository with a `pyproject.toml` present, even if `pyproject.toml` is only used for tool configuration

[code]

Results in the error
[code]

exporting SETUPTOOLS_ENABLE_FEATURES="legacy-editable" does b

[2022-08-11 15:38] synchronizing opened #3500 "[BUG] setup.cfg + pyproject.toml + setup.py (with PBR) breaking."
### setuptools version

setuptools==64.0.0

### Python version

Python 3.8.5

### OS

macOS

### Additional environment information

_No response_

### Description

Reported originally in #3498. Unsure what is going on, but after the latest setuptools the following is thrown when using editable installs:

[code]

### Expected behavior

No error should be thrown, and the package should be installed

[2022-08-11 15:43] synchronizing commented on #3499
@vogre Does your package have `pbr` installed?

[2022-08-11 15:47] vogre commented on #3499
@synchronizing -- no, not using `pbr`, also version lower than `64.0.0` (so no pakcage_dir in trace)

[2022-08-11 15:54] Lyle-Alloy opened #3501 "[BUG] PEP-660 editable installs breaks versioneer"
### setuptools version

49.2.1

### Python version

3.9.2

### OS

macOS 12.5

### Additional environment information

`versioneer.py` is version 0.19
`wheel` is 0.37.1 (not sure if relevant)

### Description

Doing an editable install of our code (with `pip install -e .`) on a github actions runner is failing on macOS. We use [versioneer](https://github.com/python-versioneer/python-versioneer) fo

[2022-08-11 15:56] synchronizing commented on #3501
First reported in #3498. Related to #3499 and #3500.

[2022-08-11 16:03] Lyle-Alloy commented on #3501
Is this the same thing as #3498? I don't see it going down the same code path and hitting the typo'd attribute. Thanks for being so quick with the response though!

Also update on the Linux vs MacOS thing, that was a red herring. All of our linux builds are now also failing

[2022-08-11 16:08] synchronizing commented on #3501
It was a comment in the mix of #3498, but unrelated to the original issue - added it in there for a bit more context, since a contributor replied. All of our builds are failing as well, both MacOS and Linux.

[2022-08-11 16:41] abravalheri commented on #3500
Thank you very much for reporting this and for the reproducer.

I will investigate the issue and try to get back to you as soon as I can.

[2022-08-11 16:43] abravalheri commented on #3499
Thank you very much for the report @vogre, I will investigate this issue and get back to you as soon as possible.

I also believe that the issue described here may be similar to #3500. Do you think they are separated problems?

[2022-08-11 16:44] abravalheri commented on #3501
Thank you very much guys, I am investigating both issues. I hope to get back to you soon.

[2022-08-11 17:23] synchronizing commented on #3500
An interesting find. On the repo linked above, I added the following `Dockerfile`:

[code]

The above errors out with the same issue noted. Changing version to 3.8.5 fixes the problem.

[2022-08-11 17:24] synchronizing commented on #3500
I added `Dockerfile` and `docker-compose.yml` to the repo linked. Doing `docker-compose up` should result in the issue noted.

[2022-08-11 17:24] abravalheri commented on #3499
Hi @vogre, it seems that somehow, your build is indeed using v64 (the editable install was not present in v63.2.0).

`pip` has been reported to have a virtual environment leak on Ubuntu and Debian in the past (I believe it was fixed in recent versions). Maybe your machine also has the same leak.

Could you share some form of reproducer (for example, containing a
 simplified `setup.py`/`setup.cfg`)

[2022-08-11 17:30] abravalheri commented on #3500
I also can reproduce the error in my machine with Python 3.8.10

[2022-08-11 17:32] synchronizing commented on #3500
3.8.10 seems to be working with the Dockerfile above, weirdly enough.

[2022-08-11 17:43] synchronizing commented on #3500
It's dependent on the release, and which Python package is getting pulled based on the tag. Using Github Actions with the matrix functionality fails on all versions: https://github.com/synchronizing/setuptools-error/actions/runs/2841720491

[2022-08-11 17:49] abravalheri commented on #3500
Thank you very much for helping to investigate that. I really appreciate all the effort.

[2022-08-11 17:54] synchronizing commented on #3500
Of course. Version 3.6.x works due to it being tied to setuptools `59.6.0`.
See: https://github.com/synchronizing/setuptools-error/actions/runs/2841783973

[2022-08-11 17:55] abravalheri commented on #3499
In #3502, I think I manage to reproduce this particular error.

[2022-08-11 18:13] kloczek commented on #2318
Just tested 64.0.0 and looks like setuptools.tests is no longer installed (which is fine becaiuse test suite should not be installed) however pytest is now completly useless and no longer is working my hack with passing pytest `testpaths`.
[code]

[2022-08-11 18:26] agroszer commented on #3498
@abravalheri looks like a bunch of other issues arose.... please merge and release

[2022-08-11 18:40] abravalheri commented on #3501
Hi @Lyle-Alloy, maybe I will need a bit more detail on this one...

You reported that the problem also happens on Ubuntu 20.02 right? (Unfortunately I don't have a macOS available for testing).

I tried to use the following reproducer, but things seem to be working:

[code]

I am currently trying to download a container for Python 3.9.2, but it is just taking ages... Meanwhile could you check if t

[2022-08-11 19:12] msarahan commented on #3501
I have the same original error. The reproducer above runs successfully for me. I will work on finding a modification that reproduces the error.

[2022-08-11 19:18] msarahan commented on #3501
To reproduce the issue, you must set the version files:

[code]

[2022-08-11 19:20] basnijholt commented on #3501
I am seeing this error too in Versioningit, even though @abravalheri added support for PEP660 in https://github.com/jwodder/versioningit/pull/38.

The solution will likely be similar.

[2022-08-11 20:45] abravalheri commented on #3501
Thank you very much @msarahan.

I am still trying to understand what is going on...

So far what I think is happening is the following:

- `versionner` assumes that `build_py` will always copy the project files to a temporary build directory.
- This is no longer the case (for editable installs) in v64. In this version, we don't copy the files because they are not added to the wheel... They are jus

[2022-08-11 20:46] abravalheri commented on #3501
@basnijholt thanks for reporting, please feel free to open a new issue with a reproducer.

[2022-08-11 21:20] msarahan commented on #3501
I am partial to your first suggestion - it's just better defensive programming around any issue. It also then doesn't introduce a dependency on having the `editable_mode` attribute.

Unfortunately, this is probably causing issues in more places. In particular, I am not using verisoneer, but rather [miniver](https://pypi.org/project/miniver/), which is a versioneer derivative. My point is that ther

[2022-08-11 21:24] #3499 closed

[2022-08-11 21:24] #3500 closed

[2022-08-11 21:24] #3498 closed

[2022-08-11 21:35] abravalheri commented on #3501
Hi @msarahan thank you very much for the in-depth analysis and suggestion.

Unfortunately things are a bit more complicated...

Previously, the `develop` command special-cased `build_py` and `build_ext` and treated each command considering the knowledge on what they do. It ignored all the other `build` subcommands.

This was problematic because custom build steps could not run during an editable i

[2022-08-11 21:52] ajasmin opened #3504 "[BUG] setuptools 64.0.0 breaks editable install"
### setuptools version

setuptools==64.0.0

### Python version

Python 3.10.6

### OS

Ubuntu jammy

### Additional environment information

_No response_

### Description

After creating a simple project and installing it as editable with `pip install -e`, I'm unable to import modules from the package.

### Expected behavior

We should be able to import a package installed as editable.

### How t

[2022-08-11 22:10] abravalheri commented on #3504
Hi @ajasmin thank you very much for reporting this.

I went through your reproduction steps, but I have a doubt: have you activated your virtual environment? (It does not seem to be part of the steps).

Instead of relying on the activation steps, I tried to reproduce the same experiment, but using the path to the Python executable directly. This is what I run in my terminal:

[code]

... I cannot

[2022-08-11 22:12] ajasmin commented on #3504
I activated the venv in my tests it was missing from the description.

[2022-08-11 22:16] abravalheri commented on #3504
Umm... Could you also try using the explicit path instead of the activation script?

[2022-08-11 22:51] abravalheri commented on #3504
Sorry @ajasmin, my bad! I don't trust the activation script in my own machine so I biased against it.

There was an error when I tried to replicate the error: when I `cd` into the `tmp` folder but the root directory of the project was also named `foo` and that created another acidental namespace package...

I was able to replicate your error by renaming the root directory to a name different than

[2022-08-11 22:52] abravalheri commented on #3504
Please let me know if this works for you!

[2022-08-11 22:57] abravalheri commented on #3500
Felipe, please let me know if v64.0.1 works for you, otherwise we can re-open this issue.

[2022-08-11 22:58] abravalheri commented on #3499
@vogre, please checkout if v64.0.1...

If it does not work for you, let me know and I will re-open this issue.

[2022-08-11 22:59] NickCrews commented on #3504
@abravalheri I think it is a difference between 63 and 64, I think I'm getting hit with this.

[This PR](https://github.com/dedupeio/dedupe/pull/1081), which uses `setuptools>=64`, fails CI with `package dedupe has no attribute ...` errors.
So I made a [followup PR](https://github.com/dedupeio/dedupe/pull/1082), identical to the other except I swapped to `setuptools==63`, and that one is fine (wel

[2022-08-11 23:00] abravalheri commented on #3498
@agroszer, sorry for the delay. Due to the time the CI takes to run, it is good to group all the fixes together.

Please let me know v64.0.1 solves your problem. I can re-open the ticket if necessary.

[2022-08-11 23:13] synchronizing commented on #3500
Yup, fixed! Thank you. https://github.com/synchronizing/setuptools-error/actions/runs/2843387978

[2022-08-11 23:22] ajasmin commented on #3504
Thank you! I will make the change.

Though, for what's it worth. there is a behavior change in 64. I've written a Dockerfile.

Changing the `setuptools==64.0.0`to `setuptools==63.*` will make the import work.

[code]

[2022-08-12 01:01] msarahan commented on #3501
The relevant breaking code in miniver is: https://github.com/jbweston/miniver/blob/master/miniver/_version.py#L152-L163

They have a try/except around removing the file, but the writing the file will also fail because the temp dir is not there. Any fixes would have to account for both. One thing that might help is if setuptools at least created that temp folder. It would silence the error for mini

[2022-08-12 03:19] abravalheri commented on #3501
@msarahan, thank you very much for the pointer.

I am exploring in https://github.com/pypa/setuptools/pull/3506/files a solution to avoid crashing builds with a similar problem.

Please feel free to have a look.

I think the exiting implementation will create the base directory for `build_lib`, but it will not create the parent directory for each file that is not going to be added...

[2022-08-12 08:13] agroszer commented on #3498
thanks that fixes it

[2022-08-12 08:54] lmmx opened #3507 "[Docs] Typo in user guide: development mode"
### Summary

There's a small typo in the user guide, thought I'd send a PR

https://setuptools.pypa.io/en/latest/userguide/development_mode.html

### OS / Environment

_No response_

### Additional Information

Minor fix

### Code of Conduct

- [X] I agree to follow the PSF Code of Conduct

[2022-08-12 09:50] P403n1x87 commented on #3504
We started getting the same issue in our CI jobs. All of a sudden, our library started failing importing a variable from a module. Adding the requirement `setuptools<64` to `pyproject.toml` also fixed the issue for us. However, we also have discovered that by rearranging some of our imports also works: https://github.com/DataDog/dd-trace-py/pull/4079#issuecomment-1212922688. The actual problem in

[2022-08-12 10:01] dionhaefner opened #3510 "[BUG] Installing in editable mode fails when an optional extension fails to build"
### setuptools version

setuptools==60.0.1

### Python version

Python 3.10

### OS

osx-arm64

### Additional environment information

_No response_

### Description

If an optional extension fails to build in editable mode, the whole install aborts because `setuptools` is trying to copy the (non-present) library file. Works fine when not using editable mode.

### Expected behavior

`pip install

[2022-08-12 10:02] pradyunsg opened #3511 "Directory with an empty pyproject.toml files is built into an sdist+wheel by setuptools 64"
### setuptools version

setuptools==64.0.1

### Python version

3.10.6

### OS

RHEL 7

### Additional environment information

_No response_

### Description

A directory with an empty pyproject.toml files is built into an sdist+wheel by setuptools 64

### Expected behavior

Setuptools should refuse to build a project that does not have a name *and* version.

### How to Reproduce

- touch pyproje

[2022-08-12 10:03] pradyunsg commented on #3511
This is the same underlying problem as https://github.com/pypa/setuptools/issues/2329, and my position is the same on this topic as https://github.com/pypa/setuptools/issues/2329#issuecomment-1038403752.

Setuptools should not build such projects, and should error out instead.

[2022-08-12 10:07] pradyunsg commented on #3511
I'll reiterate: Setuptools should not build such projects, and should error out instead in situations with no build configuration.

The current behaviour is confusing, frustrating to explain to users who hit it and setuptools *already* regularly breaks test configurations (pip's test suite is failing, since we have a test that not having setup.py with a pyproject.toml file with no build configurat

[2022-08-12 10:26] #3507 closed

[2022-08-12 11:33] effigies commented on #3501
Hi all, I've pushed versioneer 0.23 which should fix this. Please give it a try and report any issues you find.

[2022-08-12 11:52] abravalheri commented on #3504
Ok, I think I understand what is happening based on the example provided in https://github.com/pypa/setuptools/issues/3504#issuecomment-1212585233. Thank you very much @ajasmin.

#### Deep explanation

- The given package configuration is effectively telling setuptools to include in the wheel all the packages named `"foo.*"`, but to not include the `foo` package itself.
- In a regular installation

[2022-08-12 12:38] alex opened #3513 "[BUG] plat_name attribute is None with setuptools 64.0.1 and editable install"
### setuptools version

64.0.1

### Python version

3.10.6

### OS

macOS

### Additional environment information

_No response_

### Description

While setting up a local virtual environment with `pip install -e .` I received an error I had not previously seen.

### Expected behavior

The package installs properly.

### How to Reproduce

1. `git clone https://github.com/pyca/cryptography`
2. `cd

[2022-08-12 13:14] jwodder commented on #3501
@abravalheri I'm the maintainer of versioningit, and I'm unclear under about how this bug affects my plugin.  [A PR was submitted to my project](https://github.com/jwodder/versioningit/pull/39) that allegedly fixes the problem, but no clear bug report or reproducing test case was provided, and the current test suite already passes without error using the latest setuptools.  Apparently, the bug rel

[2022-08-12 13:54] abravalheri commented on #3501
Hi @jwodder thank you for bringing this up, I will have a look on the report later or during the weekend.

In `setuptools` the (original) `sdist` command is used as a basis for the `manifest_maker` which is in turn used to find which files to include in the distribution or not. The editable mode might try to find out what are these files. I need to have a proper look in the issue to see what is ha

[2022-08-12 14:03] abravalheri commented on #3501
I am about to merge the solution presented in https://github.com/pypa/setuptools/pull/3506 which should also solve the general problem reported here for older versions of versioneer and other packages that use the same approach.

I don't know if this will solve the problem @basnijholt is facing, but anyone is welcome to open a new PR if there is other circumstances that have not been handled (a re

[2022-08-12 14:11] #3501 closed

[2022-08-12 14:11] #3504 closed

[2022-08-12 14:21] jonathanwang375 opened #3514 "[BUG] Setuptools version number doesn't match in virtual environment"
### setuptools version

setuptools==63.0.0

### Python version

3.10.4

### OS

Windows

### Additional environment information

This is running on Git Bash installed on a windows 10 laptop

### Description

Our repository requires the use of a virtual environment to run most of programs. Yesterday morning, we ran into the issue where setuptools version was 64.0.0 I believe and wheel wouldn't buil

[2022-08-12 14:39] abravalheri commented on #3514
Hi @jonathanwang375, I don't think you can use the command `pip  list` to inspect the versions of the packages installed in the temporary venv `pip` creates. By the time the installation ends, the temporary venv that contains the specified version of setuptools is already gone...

When you run `pip list` you are listing the packages that were present in your initial (persistent) venv + the package

[2022-08-12 14:55] abravalheri commented on #3514
You can use `--no-build-isolation` with `pip` to force it to use the exact versions of the dependencies installed in the current virtual environment.

In you case, I guess it would be something like the following:

[code]

Note that when you use `--no-build-isolation`, pip will not automatically download and install the build dependencies in the `requires` array, you have to do it yourself.

[2022-08-12 15:13] #3514 closed, assigned to nobody

[2022-08-12 18:13] abravalheri commented on #3513
Hi @alex, thank you very much for reporting this.

I created #3517 which will hopefully fix this problem. I plan to wait until the CI finishes running (which will likely take ages) and then create a new release.

Unfortunately, I don't have access to a macOS machine to ensure the issue is fixed for that platform, so please feel free to try it out (either from the open PR or after the release is ou

[2022-08-12 18:15] abravalheri commented on #3504
If anyone reading this still experience any problems after installing the latest version, please feel free to comment in this issue and I can reopen it after a quick investigation.

[2022-08-12 18:16] alex commented on #3513
If you're on Linux you should be able to reproduce by simply omitting those environment variables. If you're on Windows, it's more complicated :-)

[2022-08-12 18:17] abravalheri commented on #3513
Yes, I did a test on Linux and managed to reproduce the problem.
When I apply the patch, the project installs in editable mode without a problem. Let's hope the fix also works on macOS.

[2022-08-12 18:19] alex commented on #3513
Great, thanks!

[2022-08-12 18:50] #3510 closed

[2022-08-12 18:50] #3513 closed

[2022-08-12 18:53] abravalheri commented on #3510
Hi @dionhaefner eventually a new version will be out (the CI takes time), so please check out if it solves your problem. Let me know if it still persists.

[2022-08-12 21:35] JacobHayes opened #3518 "[BUG] v64+ editable (import hook) installs break mypy py.typed discovery"
### setuptools version

setuptools==64.0.2

### Python version

3.10

### OS

macOS, Linux

### Additional environment information

_No response_

### Description

After installing editable packages (with a `pyproject.toml`) with setuptools >=64, `mypy` is no longer able to find the `py.typed` files when checking a codebase importing/referencing the editable installed package.

This was opened as

[2022-08-13 08:05] abravalheri commented on #3415
Thank you very much @KOLANICH .
I agree that having static metadata in entry-point might offer a series of advantages.

However, pursuing this approach would require to build consensus in the community and quite possibly a change in the entry-points spec. That is why the API- oriented approach might be the path of least resistence.

[2022-08-13 10:02] P403n1x87 commented on #3504
@abravalheri I think this is still broken: https://github.com/DataDog/dd-trace-py/runs/7818500434?check_suite_focus=true

[2022-08-13 10:24] abravalheri commented on #3504
Hi @P403n1x87 thank you very much for reporting this.
It seems that v64.0.3 fixes the issue reported in this ticket, which matches this reproducer: https://github.com/pypa/setuptools/issues/3504#issuecomment-1212585233.

Maybe this is a separated problem? Could you please open a new issue with the steps to reproduce the error? (If you can simply it to a minimal example, that would help a lot).

[2022-08-13 10:57] abravalheri commented on #3518
Hi @JacobHayes thank you very much for bringing this topic up.

A different way of describing the issue would be stating that tools doing static analysis do not support import hooks (which is a very fair limitation, it makes total sense). Please note that this is not specific to `setuptools`. For example other backend using the [`editables`](https://pypi.org/project/editables/) might also rely on

[2022-08-13 16:46] JacobHayes commented on #3518
Why move forward with the install hooks if it was known there was no consensus yet? `setuptools` (v64 and used ~everywhere) seems quite different than `editables` (v0.3 and used in a couple spots / where?).

I'll test this out within the next couple days. Is there any reason this isn't the default, to reduce the number of breaking workflows by default?

Can you elaborate on this? I think the examp

[2022-08-13 17:10] jaraco commented on #3511
Since our last discussion, I've encountered other use-cases where it's been valuable not to have to specify a name or a version for a package. I was troubleshooting a case where I needed to replicate a user's experience with how the package metadata was generated (dist-info vs. egg-info) and I needed a minimal setuptools project against which to test. The name and version of the generated package

[2022-08-13 17:36] abravalheri commented on #3518
There is consensus in terms of packaging. This is expressed in terms of PEP 660, which was debated over and over again in the community. The PEP's text recognizes import hooks as perfectly valid  implementation strategy. Import hooks have been part of Python's feature list for a long time. There are even other built-in behaviours (e.g. zip imports) that rely on these dynamics. Just because they ar

[2022-08-13 17:58] pradyunsg commented on #3511
I'll reiterate that, while being able to omit these fields is convenient for you, a Python Packaging expert who is deeply familiar with setuptools and its failure modes, it's absolutely not clear to anyone who is not deeply familiar with setuptools and a clear error message would be vastly more obvious and is a matter of two lines of text.

They aren't, and I want to push back against this rationa

[2022-08-13 18:05] abravalheri commented on #3399
@Martmists-GH, could you please checkout if v64.0.3+ solves your problem?

[2022-08-13 18:08] abravalheri commented on #2662
@cvcore, @pedrorrivero, could you please just checkout if v64.0.3+ solves your problem?

[2022-08-13 18:10] abravalheri commented on #1801
@salotz, @jauerb, @htgoebel, could you please check if v64.0.3+ solves your problems?

[2022-08-13 18:15] abravalheri commented on #230
I believe v64.0.3+ solves the problem with `package_dir` and editable installs reported here.

[2022-08-13 18:15] #230 closed

[2022-08-13 18:31] abravalheri commented on #2491
This might be relevant for this thread: I believe that in v64.0.3+ setuptools is using `config_settings["--global-option"]` and `config_settings["--build-option"]` consistently with what used to happen in `pip`.

[2022-08-13 19:31] Martmists-GH commented on #3399
Still the same result, unfortunately.
![image](https://user-images.githubusercontent.com/16361449/184507971-17086fce-bdd8-4e46-b11c-30fee3ffd95e.png)
As for the contents of kaudio.egg-link:
![image](https://user-images.githubusercontent.com/16361449/184508012-cad9ab95-663a-46c0-98df-f0e8d1ecf7e1.png)
The first line is correct; That is the folder where `kaudio` and `_kaudio` (native part) are locat

[2022-08-13 19:49] abravalheri commented on #3399
Um... this is weird.

The log message "Running setup.py develop" and the fact that you still have a `.egg-link` means that you are still using an old installation style. not the new one.

Any chance you are running on Ubuntu and it is related to https://github.com/pypa/pip/issues/6264?

Another possibility (but I don't think this is the case) is that you don't have a `pyproject.toml` file and ther

[2022-08-13 20:45] abravalheri commented on #3399
This is a simplified reproducer I used in a Debian system:

[code]

Indeed this reproducer does not install "kaudio.app". I can see in the logs that `pip` ignores the PEP 660 hooks and uses `develop`.

<details>
<summary> logs </summary>

[code]

</details>

If I add the following `pyproject.toml`, however, it will work:
[code]

<details>
<summary> logs </summary>

[code]

</details>

This means t

[2022-08-14 00:23] Martmists-GH commented on #3399
Is there any way to enforce this behavior without adding yet another configuration file to the project or is a pyproject.toml file the only way to do it?

[2022-08-14 20:08] ofek commented on #3518
Hatch does not by default for this reason https://hatch.pypa.io/latest/config/build/#dev-mode

[2022-08-14 21:37] dionhaefner commented on #3510
Works perfectly, thanks!

[2022-08-14 23:53] jaraco commented on #3466
Setuptools has adopted distutils from the stdlib. Therefore, it's necessary for any cygwin-specific features to gain native support in distutils. It's no longer viable for cygwin to monkeypatch distutils. I'll transfer this issue to pypa/distutils (where contributions will later be merged back into Setuptools). Please find someone who can analyze and describe what `--enable-new-dtags` is meant to

[2022-08-15 05:08] abhinavsingh opened #3548 "Editable installs are broken after `__editable__` and `__path_hook__` changes"

[2022-08-15 06:58] abravalheri commented on #3399
As pointed out by `pip` maintainers, `pip install -e . --use-pep517` might be the another way.

[2022-08-15 07:01] abravalheri commented on #3518
If that is the reason, does it mean that you would also be supportive of the solution proposed in the [email thread](https://mail.python.org/archives/list/typing-sig@python.org/thread/IIVBPYDZR5T5BGPAWFVYS5ZPYDXGVHQN/#OSWHT5VSRGKPSPYD7PQWR2M4OCSL5WO3) (a JSON file that would support static analysis tools to find the modules handled by import hooks)?

[2022-08-15 12:29] bashtage opened #3522 "[BUG] Setuptools 65 does not copy binary files (.so) in editable install"
### setuptools version

65.0.0

### Python version

3.9

### OS

Ubunty 20.04

### Additional environment information

Standard setup using Cythonized sources.  Cython to C then compiled to .so/.pyd files.

### Description

As of 65 the binary extensions are not being copied back into the tree when using an editable install.  This means that they are not available when importing the library.  The

[2022-08-15 14:03] hrnciar opened #3523 "[BUG] build_meta glob *.dist-info targets unrelated .dist-info files"
### setuptools version

setuptools 64+

### Python version

Python 3.10.6

### OS

Fedora Linux

### Additional environment information

_No response_

### Description

I tried to build the new version of setuptools with setuptools itself, but I got an error:
[code]
Here is the content of `candidates`:
[code]

### Expected behavior

It seems that when I run prepare_metadata_for_build_wheel() funct

[2022-08-15 14:11] misl6 commented on #3522
I have a similar issue since `setuptools>=64`, and I may have found the root cause.

Looks like you're doing something similar to me here:
https://github.com/bashtage/arch/blob/1b141cb7710b9c8ba2192038d9ea6158e75c201d/setup.py#L20

Basically, since this commit: https://github.com/pypa/setuptools/commit/075a3c801910a6b65dccf8b9eb26a0637315627a, `setuptools` added a way to export the output mapping,

[2022-08-15 14:15] asottile-sentry opened #3524 "[BUG] top_level.txt is incorrect when `ext_package` is set"
### setuptools version

setuptools==65.0.0

### Python version

python 3.10.4

### OS

ubuntu 22.04

### Additional environment information

appears independent of environment

### Description

when `ext_package` is used, any `ext_modules` show up in `top_level.txt` (though they should not)

### Expected behavior

I expect the contents of `top_level.txt` to respect `ext_package` -- in the below ex

[2022-08-15 14:29] bashtage commented on #3522
Thanks.  Please let me know if you find a good solution - I have just pinned <64 for now.

[2022-08-15 15:08] abravalheri commented on #3522
Thank you very much @misl6 for the comprehensive summary.

Could you please expand a little bit more about the motivation of the use case 2 (which I believe is related to the suggestion of the switch you made...)?

In the case of a project with `pyproject.toml` the use case 3 should aways be the case, right? And if someone decides to call `python setup.py bdist_wheel` directly I suppose setuptools

[2022-08-15 15:08] teije01 opened #3525 "[BUG] invalid command 'bdist_wininst' during bdist_wheel"
### setuptools version

setuptools==65.0.0

### Python version

python 3.8

### OS

Debian GNU/Linux 11 (bullseye)

### Additional environment information

Last known working version was setuptools 63.4.3, did not test with 64.*.*

### Description

Latest setuptools causes pip install to exit with the following error:

`error: invalid command 'bdist_wininst'`

### Expected behavior

[code]

### Ho

[2022-08-15 15:23] abravalheri commented on #3525
Hi @teije01, I have the impression that this might be caused by the existence of an old setuptools installation somewhere in the directories listed as "site-packages" (can be listed in via `python -m site`).

Any chance you have an old setuptools hanging around? Could you try repeating this installation inside of an isolated virtual environment (with the latest setuptools) to check if this hypothe

[2022-08-15 16:39] bashtage commented on #3522
@abravalheri Thanks, I'll give it a try. FWIW I also do support scenario #2, although I mostly use it for testing.

[2022-08-15 16:40] abravalheri commented on #3522
I am preparing a PR to fix this issue, but I would be interested in learning about the second use case (just curiosity).

[2022-08-15 17:03] djhoese opened #3527 "[BUG] Setuptools 64+ has incorrect entry point "dist.module_path""
### setuptools version

setuptools>=64.0.0

### Python version

Python 3.9

### OS

PopOS

### Additional environment information

_No response_

### Description

When installing a package in editable mode with setuptools 64+ the resulting `entry_point.dist.module_path` points to the environment's `site-packages` instead of the location of the editable package source. This makes it impossible or a

[2022-08-15 17:55] abravalheri commented on #3527
Hi @djhoese, thank you very much for bringing this up for discussion.

For flat-layout projects the new implementation uses import hooks instead of a static `.pth` file, so I am not exactly sure how is the expected behaviour for that scenario.

I have a few questions:

- Do you have a link for where the `module_path` API is defined? I tried to look for it to understand exactly what should be the r

[2022-08-15 18:28] djhoese commented on #3527
I don't know about documentation for `module_path`, I'm only maintaining/updating some code that someone else wrote that used it. I had no idea pkg_resources is deprecated and only just noticed the "discouraged" paragraph at the top of https://setuptools.pypa.io/en/latest/pkg_resources.html#. A nice red disclaimer/warning might help that page in the future. I will try importlib resources and get b

[2022-08-15 18:32] abravalheri commented on #3527
Sorry for the inconvenience @djhoese. Let me know if you need help, I can also try to submit a PR to the project to replace with `importlib_resources` if you point me out which parts of the script are problematic.

[2022-08-15 18:54] djhoese commented on #3527
Thanks for the offer. Even if I didn't write this code originally I'm still a core developer of the library so still my responsibility. I was the one who chose to update things to be pyproject.toml-only so this is definitely in my umbrella of responsibility now.

As for importlib, it seems to work but it points out that my example is invalid. The `c` is meant to represent the package where this en

[2022-08-15 19:09] abravalheri commented on #3527
Thank you very much @djhoese.

You are right, maybe I am jumping ahead and rushing to conclude it is deprecated.

But considering the `module_path` is not documented in the [API page](https://setuptools.pypa.io/en/latest/pkg_resources.html) and that it is not clear what it should represent in the case of import hook, I will (at lease momentarily) close this issue.

If anyone else is experience pro

[2022-08-15 19:09] #3527 closed

[2022-08-15 19:46] misl6 commented on #3522
Sure!

So... from my recent tests (which are been done solely on my machine, so should not be considered exhaustive), as now `setuptools` correctly check if Cython is here, and looks usable, this hack is probably not needed anymore on our side.
I will try to set up some tests, so we can make sure of that.

BTW, at [Kivy](https://github.com/kivy), we need to cross-compile for Android and iOS, and C

[2022-08-15 19:52] misl6 commented on #3522
So, in replying to "Why option 2 is needed":

This commit:  https://github.com/pypa/setuptools/commit/ca71bc26f65f1eac9f26b5e5b0d7b4109186fe59 probably fixed the issue which option 2 was trying to circumvent, at least on my use-case.

[2022-08-15 20:12] abravalheri commented on #3522
Thank you very much for the explanation @misl6!

Yeah, in my mind that would be the case, I was just trying to understand if you need to prevent setuptools from automatically using Cython's class...

Anyway, I should release the patch soon (the CI is probably going to take some time until it is fully published). Hopefully that will prevent other builds to fail.

[2022-08-15 20:35] #3522 closed

[2022-08-15 20:35] #3523 closed

[2022-08-15 23:43] jaraco commented on #3525
Setuptools 65 removed the `bdist_wininst` and `bdist_msi` commands as they were marked as deprecated and have been for some time. I was unaware that `install_scripts` [attempts to call `bdist_wininst`](https://github.com/pypa/setuptools/blob/0a1906819c568ceb3ffccc61d531fecd6b8662de/setuptools/command/install_scripts.py#L38), but it also appears to trap an exception. I'm only slightly surprised tha

[2022-08-15 23:45] jaraco commented on #3525
I was able to replicate the issue simply with:

[code]

[2022-08-15 23:50] jaraco commented on #3525
I can also replicate the failure with: `docker run -it jaraco/multipy-tox pip-run -q git+https://github.com/pypa/setuptools -- -m pip install --no-deps --no-binary vds-api-client vds-api-client --no-build-isolation`

[2022-08-16 00:38] jaraco commented on #3525
I pushed a fix, but even attempting to build against it doesn't work around the issue.

Tracing the issue, I see that the issue is rooted in PyScaffold and its vendored copy of pbr:

[code]

Looking into pbr, I can see that two years ago, [pbr removed that call](https://opendev.org/openstack/pbr/commit/e52e608e35938da27dd9ec7209e4fa858ed8adb6).

It seems the issue is that [vds_api_client depends](

[2022-08-16 00:38] #3525 closed

[2022-08-16 01:06] Martmists-GH commented on #3399
that seemed to do the trick :+1:

[code]

[2022-08-16 07:17] #3399 closed

[2022-08-16 08:18] tiran opened #3532 "[FR] Keep setuptool's distutils fully compatible with Python stdlib's distutils"
### What's the problem this feature will solve?

setuptools contains a copy of distutils from Python's stdlib. When setuptools is installed globally or in a virtual environment, the [_distutils_hack](https://github.com/pypa/setuptools/tree/main/_distutils_hack) injects setuptool's distutils into the import system. This overrides Python stdlib's distutils with setuptools' copy.

A lot of projects d

[2022-08-16 08:37] tiran opened #3533 "[BUG] setuptools' distutils override no longer shows DeprecationWarning"
### setuptools version

setuptools==65.0.1

### Python version

any

### OS

any

### Additional environment information

_No response_

### Description

Recent versions of setuptools override Python stdlib's distutils with `setuptools._distutils` via `_distutils_hack`. This version does not contain code to issue deprecation warnings. It's a deviation from upstream code. setuptools should keep the

[2022-08-16 10:23] kasium commented on #3504
I have an issue since setuptools 64 (and also with 65) when using a local flake8 plugin. I have eliminated flake8 and drilled it down to a single import.

**With setuptools <64**

_pyproject.toml_
[code]

_setup.py_
[code]

_src/\_\_init__.py_
[code]

Create also an empty _plugin.py_ in the root dir.
Running then `pip install -e .` and then `python src/__init__.py` works fine.

**With setuptools >

[2022-08-16 11:51] abravalheri commented on #3504
I am sorry to hear you are having problems @kasium, but one of the main reasons why the implementation was done in the way it was done is exactly to prevent spurious files that are not part of the package to be "installed". So my opinion is that this should not be reverted.

Editable installs should emulate as much as possible the installation and that is what setuptools is trying to do here. The

[2022-08-16 11:54] abravalheri commented on #3504
@P403n1x87, based on https://github.com/DataDog/dd-trace-py/pull/4093, it seems that the issue is related to the behaviour of the import statement in a Cython file (probably)...

Please feel free to open a different issue if you find a different bug in setuptools implementation.

[2022-08-16 12:01] #408 closed, assigned to nobody

[2022-08-16 12:04] kasium commented on #3504
@abravalheri thanks for your fast support.
A possible text could be "Note, that files which were included before but were not part of the package might not be included anymore".

Is the only solution to include the files in the `packages`? The idea is, that I need `plugin` during development and in the CI but it should not be exposed in the wheel

[2022-08-16 12:05] brettlangdon commented on #3504
Yes, from my investigation it seems to be related to how Cython < 3 implements `__Pyx_Import`. I haven't dug far enough into what about Cython 3 fixes it, or why it was working with `.egg-link` but not the `.pth`/loader approach. It _seems_ like Cython is just calling `__import__`.

I haven't decided if I am going to keep digging further since we have a mitigation at this time, but I am curious if

[2022-08-16 12:05] abravalheri commented on #1040
I believe that in the context of PEP 660 (i.e. when using `pip install -e.` instead of `python setup.py develop`) this problem might have been solved?

If anyone would like to test and provide some feedback (or a simple reproducer in the case the problem still persists) that would be great!

[2022-08-16 12:08] abravalheri commented on #1789
I believe that this feature is not planned to be supported by setuptools.

A better forum for discussing post-install hooks would be [Python discourse](https://discuss.python.org/c/packaging/14).

[2022-08-16 12:08] #1789 closed

[2022-08-16 12:17] abravalheri commented on #3504
I believe there are a few different ways of achieving this, just to mention a few:

- You might try placing `plugin.py` in a directory and then adding that directory to the `PYTHONPATH` environment variable.
- You can change the way you are invoking your script to rely on the fact that the `python` executable will add some directories automatically to `sys.path`:
  - when you call `python` with a

[2022-08-16 13:35] kasium commented on #3504
@abravalheri thanks a lot. Fyi: in my case with setuptools <64, a file `easy-install.pth` is created in the site_packages which includes the full root path. I verified that this enabled the import of `plugin.py` by changing the path inside the file

[2022-08-16 13:50] pombredanne commented on #3340
@abravalheri I stumbled on a bunch of build warning burried in CI logs that I was reviewing randomly and I am puzzled..... can you articulate what end-user benefit do you expect with this change? (e.g. package maintainers that rely on setuptools) ?

Personally I do not think such as warning can be easily seen. My wheels contains thousands of files and the warnings are just drowned in CI log files

[2022-08-16 15:08] abravalheri commented on #3504
In setuptools < 64, setuptools uses an `.egg-link` file that adds your project directory to `sys.path` (which is considered flawed and undesirable). In setuptools > 64, setuptools will add a `__editable__.<something><something>` file that will load a ["finder"/"import hook"](https://docs.python.org/3/reference/import.html#finders-and-loaders) that will load precisely your top-level packages withou

[2022-08-16 15:55] abravalheri commented on #3340
Right now the configurations debated here work in a "grey area" and mess with the core Python concept of a `package`. By changing it, I hope to make things easier to understand, obvious and more well-defined. I also plan to make it possible for users to do things like `packages=find_packages(exclude=["mypkg.tests*"])` while introducing a more clear behaviour of `include_package_data=True`.

I am a

[2022-08-16 16:19] ofek commented on #3518
Sure 🙂

[2022-08-16 19:51] random-walks commented on #3532
bump

[2022-08-16 22:26] jaraco commented on #3532
Thanks @tiran for the proposal. Originally, I responded in the PR, but I'll move my response to here:

Setuptools works at a different cadence than Python. It has its own release schedule and semver-based versioning. As a result, users of Python 3.7-3.11 (and probably later) can depend on Setuptools < 65 for compatibility.

It's able to move much faster for some things, but still aims not to be di

[2022-08-16 23:51] abravalheri commented on #3523
Thank you very much @hrnciar. Hopefully v65.0.1 solved this issue. Please let me know if you still have problems.

[2022-08-17 03:09] jaraco commented on #3533
That behavior is working as intended. The distutils module is deprecated in stdlib, but not in setuptools, which releases at a difference cadence and with broader compatibility across Python versions. I do intend to deprecate distutils now that it's stabilizing without platform-specifc monkeypatches, but it'll take some work to supplant or obviate all of the behaviors on which users currently rely

[2022-08-17 06:19] tiran commented on #3532
It looks like the issue boils down to the question who "owns" the distutils package namespace.

You seem to have the understanding that the setuptools development team and PyPA now owns the distutils package namespace and can do as the setuptools team sees fit.

As a Python core developer I have a completely different opinion. In my understanding the distutils package namespace is still owned by P

[2022-08-17 07:22] hrnciar commented on #3523
Thank you @abravalheri for the quick fix and release. I can confirm that your patch fixed the issue.

[2022-08-17 07:48] bashtage commented on #3522
@abravalheri your suggestion worked for me, thanks.

[2022-08-17 09:22] EvgenKo423 commented on #3329
@zooba It's [in the API](https://docs.python.org/3.10/distutils/apiref.html#module-distutils.msvccompiler), so it's expected to be correct. That's why [it was patching itself](https://github.com/pypa/setuptools/blob/v65.0.2/setuptools/_distutils/msvccompiler.py#L689-L695).

[2022-08-17 11:44] edmorley opened #3535 "[BUG] `ImportError` running entrypoint in setuptools 64.0.0+ when `PYTHONPATH` defined"
### setuptools version

setuptools==64.0.0

### Python version

Python 3.10

### OS

Debian (official Python docker images)

### Additional environment information

Last known good version: setuptools v63.4.3
First failing version: setuptools v64.0.0 (also confirmed failing with setuptools v65.0.2)

### Description

Installing a local package (which has an entrypoint) as editable, now results in a

[2022-08-17 11:50] edmorley commented on #3535
I'm presuming the issue here is that the new PEP660-style entrypoint wrapper script in `bin/` does something like a `from my_package import hello`, which now only looks in `<repo>/my_package` (due to the `PYTHONPATH=.`).

Whereas before the wrapper script managed to find `<repo>/my_package/my_package` since it iterates through checking whether the entrypoint exists (I've only skimmed the code here

[2022-08-17 14:41] kmaehashi opened #3536 "[BUG] `import setuptools` raises a DeprecationWarning on Windows"
### setuptools version

setuptools==65.0.2

### Python version

Python 3.9

### OS

Windows

### Additional environment information

_No response_

### Description

On Windows, `import setuptools` raises a warning added in https://github.com/pypa/distutils/commit/c802880.

This issue does not occur in setuptools 65.0.1.

### Expected behavior

No warnings.

### How to Reproduce

[code]

### Output

[2022-08-17 15:14] teije01 commented on #3525
I can confirm that the problem is indeed with pyscaffold version 2. Upgrading a project to Pyscaffold version 3 does solve the issue.

Thanks @jaraco for your suggestions, this has helped us greatly.

[2022-08-17 15:28] hodgestar commented on #3536
Is it possible to have the setuptools tests fail if setuptools itself produces warnings? And to run the integration tests on Windows too?

It would be nice if the CI tests could help avoid the excitement that we're experiencing in future.

[2022-08-17 15:40] fgregg opened #3537 "[BUG] new pip install --editable . behavior does sometimes gets confused with namespace packages"
### setuptools version

setuptools=65.0.2

### Python version

3.9

### OS

macOS

### Additional environment information

_No response_

### Description

### Description

the new version of `pip install --editable .` sometimes get a bit confused for namespace packages. @pfmoore told me to report here after i opened https://github.com/pypa/pip/issues/11386.

you can see this behavior on the [dedup

[2022-08-17 15:51] abravalheri commented on #3537
Hi @fgregg, thank you very much for reporting this.

This limitation described in [this section of the docs](https://setuptools.pypa.io/en/latest/userguide/development_mode.html#limitations).

You have a few alternatives:

1. You can try using `pip install -e . --config-settings editable_mode=strict`
2. Migrate to a src-layout
3. Migrate to implicit namespaces.
4. Use a regular installation when r

[2022-08-17 15:59] zooba commented on #3329
Perhaps, but the point is that it's not been updated for building in Python 3.5 and later (and now that it's removed from core, those docs are basically irrelevant).

If setuptools decides to update it to work again, that's on them, but my point was that the code people are writing to test things in this thread are all using the wrong class, and the registry keys being suggested aren't ever refere

[2022-08-17 16:23] fgregg commented on #3537
thanks!

[2022-08-17 16:40] edmorley commented on #3535
Ah this is because the docs were wrong - the feature is actually called `SETUPTOOLS_ENABLE_FEATURE`. (Note the trailing "S".)

I've opened a PR to fix the docs: #3538

[2022-08-17 16:41] abravalheri commented on #3535
Hi @edmorley thank you very much for reporting this problem, the very complete description and the very nice reproducer.

I think what is happening here is that when you set `PYTHONPATH=/src`, Python import system gets confused because it finds the `/src/my_package` folder before setuptools has the chance to tell Python to import `/src/my_package/my_package`.

Note that any folder can be a package

[2022-08-17 16:42] abravalheri commented on #3535
Thank you very much!

[2022-08-17 16:43] abravalheri commented on #3535
Yes, that seems to be the case.

The wrapper script now is generated by `pip` (via `distlib`), not by `setuptools` itself.

[2022-08-17 16:45] abravalheri commented on #3535
I don't know if there is anything setuptools can do about this (the wrappers are created by `pip`).
To be sincere, it seems that everything else is operating how they should operate?

[2022-08-17 17:05] edmorley commented on #3535
Ah I didn't realise it was pip creating the bin wrapper script now.

Yeah I'm not sure there is much setuptools can do here either. I guess this is just another thing under the list of reasons why `src/` based project layouts are just safer!

Part of the reason I opened this was the fact that the fallback method didn't work either, but it does now the docs are fixed. I've also since tried `--confi

[2022-08-17 17:22] abravalheri commented on #3535
Now that I am thinking, maybe there is a different, weird and accidental explanation related to the complex ways namespace packages work (by setting `PYTHONPATH=/src` the user is accidentally creating a namespace package) not to the script wrappers...

In that case, this is covered under the last item in the list of limitations (at least until we get guidance/public APIs from the Python core team,

[2022-08-17 17:27] edmorley commented on #3535
Yeah it is unfortunately - welcome to my world! 😫 😆

I suspect the reason some users are doing this is so they can use the same requirements file for development as in production (but it's just a guess).

[2022-08-17 17:32] bipalauthomize commented on #3499
@abravalheri
I tried upgrading the setuptools version to `setuptools                  64.0.1`, but `pip install -e .` still only works if `pyproject.toml` is removed.

[2022-08-17 17:44] abravalheri commented on #3499
Hi @bipalauthomize can you create a new issue and share a small/simplified reproducer there?

Please also have a look on [this docs section](https://setuptools.pypa.io/en/latest/userguide/development_mode.html#limitations).

[2022-08-17 17:49] abravalheri commented on #3537
@fgregg, I will close this issue for now since the documentation covers this issue and there is no plan to support `pkgutil`-style namespaces *without* setting `editable_mode=`.

[2022-08-17 17:49] #3537 closed

[2022-08-17 18:00] abravalheri commented on #3535
What I could do here is to add a warning to the docs for the users to be careful to now accidentally create a namespace package via `PYTHONPATH` and therefore point to the correspond item in the list of limitations...

But I don't know to which extent this is a common/regular practice between users.
It seems to be very specific and maybe only happens because of the historic behaviour? (Maybe the u

[2022-08-17 18:12] #3535 closed

[2022-08-17 19:15] rtandy opened #3539 "[BUG] setuptools >= 64.0.0 with editable install from subdirectory breaks mypy"
### setuptools version

setuptools >= 64.0.0, up to at least 65.0.2

### Python version

Python 3.10.6

### OS

macOS Big Sur 11.6.8 (20G730)

### Additional environment information

_No response_

### Description

Reproducer: https://github.com/rtandy/setuptools-editable-subdirectory
(Reduced reproducer. In our original project (private) the Python module is one subdirectory of a larger repositor

[2022-08-17 19:26] edmorley commented on #3514
@jonathanwang375 Hi! This section of the pip docs has some more information about what is happening here, that may make things clearer:
https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/#build-isolation

[2022-08-17 19:34] abravalheri commented on #3539
Hi @rtandy, thank you very much for reporting this.

I believe this problem with mypy has already been reported in https://github.com/pypa/setuptools/issues/3518, right?
Can we close this issue as a duplicate?

I cannot say anything about `pip freeze` or `pipenv freeze`... [PEP 660](https://peps.python.org/pep-0660/) explicitly allows backends to implement editable installs via import hooks, so I

[2022-08-17 19:38] rtandy commented on #3539
You're right, it's a duplicate. I guess I missed it because I was looking for bugs about subdirectories installed. Thank you for the quick response, sorry for the noise!

[2022-08-17 23:54] jaraco opened #3540 "[BUG] Tests failing on PyPy on macOS"
When restoring the _distutils.msvc*compiler modules in #3505, the tests [started failing with strange errors](https://github.com/pypa/setuptools/runs/7883634883?check_suite_focus=true) from pathlib:

[code]

It's not at all obvious to me what's going on here. What's an Invalid argument to `pathlib.glob()`? The error isn't consistent. [Here it is passing](https://github.com/pypa/setuptools/actions/

[2022-08-17 23:57] jaraco commented on #3540
In other failed actions, I see tests failing on the same commit:

![image](https://user-images.githubusercontent.com/308610/185263566-0e36261b-77d7-4479-97d1-39112fb63bc3.png)

And there, the failure is yet something completely different.

[code]

That one looks like maybe a spurious error due to network availability.

The tests run fine on my local macOS machine, although I can't test against PyP

[2022-08-18 00:11] jaraco commented on #3536
Setuptools does fail on warnings, but intentionally suppressed this DeprecationWarning because it gets triggered when those modules get tested. I did not realize that Setuptools actually imported this module. That's slightly surprising given that I removed the module and the tests continued to pass. But now that I look at it, it's not all that surprising with all the `except ImportError` wrapped a

[2022-08-18 00:47] jaraco commented on #3532
That claim was a surprise to me, so I checked. The escape hatch does work with build isolation:

<details>

[code]

</details>

The issue in that comment was the inability of the installer to control which setuptools version is used in a build.

[2022-08-18 10:27] milesgranger commented on #3340
@abravalheri

This is the situation I'm in. I've [made an example repo here](https://github.com/milesgranger/setuptools-exclude-ignored). We have tests inside the package, and want to (conditionally) exclude it from distribution. But seems patterns in `exclude` are ignored anyway getting the aforementioned warning and tests package is added.

Practically, we're evaluating moving tests out next to

[2022-08-18 11:33] abravalheri commented on #3340
@milesgranger you are correct. This is a bug (https://github.com/pypa/setuptools/issues/3260).

The problem is that we cannot resolve this bug without first deprecating and removing the behaviour described in this issue (you can see that there is a lot of people depending on it yet...).

I suppose you can have a workaround by one of the following:

- Set `exclude_package_data` to remove all files

[2022-08-18 11:50] hroncok commented on #3532
Alternatively, if setuptools needs their modified version of distutils, they could do so without overriding the standard library one.

[2022-08-18 11:53] hroncok commented on #3532
Another case of a breaking change is https://github.com/pypa/setuptools/issues/3143

[2022-08-18 12:34] #3536 closed

[2022-08-18 12:35] jaraco commented on #3536
Please try again with v65.1.0 (releasing now).

[2022-08-18 12:37] jorisvandenbossche commented on #3340
@abravalheri thanks for the response! That are useful workarounds

I just wanted to give some feedback on the current warning about what caused us some confusion (colleague of @milesgranger, so based on the same example from the above comment). So we run into the issue that `find_(namespace)_packages(exclude=["mypkg.tests*"])` doesn't work if also including package data. I certainly understand the

[2022-08-18 13:02] hodgestar commented on #3536
Thanks, I will give it a try!

[2022-08-18 13:09] hodgestar commented on #3536
Would it be helpful for setuptools to have a sort of buildbot system where a few projects volunteer to build and test against setuptools master, say, daily in their own repos, and to gather the build statuses somewhere? It might help with testing things a bit more. And it would be okay if the list of projects was a bit fluid and changed over time.

I could volunteer the main project I work on (qut

[2022-08-18 13:32] hodgestar commented on #3532
I think we can all agree that historically the `setuptools` and `distutils` code bases were pretty messy and entangled and there was / is a lot of monkey patching that makes it hard to understand what is happening. @jaraco and company are trying to make these tools better, and as someone who has written a `build_ext` override for HPy, I fully support (that was a painful week of my like :).

By rem

[2022-08-18 13:38] jaraco commented on #3540
Tests have started passing again. No idea what was happening:

![image](https://user-images.githubusercontent.com/308610/185408912-56134ce0-1e2b-4c97-8fd6-729e3fe2af3e.png)

[2022-08-18 13:38] #3540 closed

[2022-08-18 13:40] kmaehashi commented on #3536
@jaraco Worked for me. Thanks for the prompt action!

[2022-08-18 14:28] tiran commented on #3532
+1, although that might break projects that mix distutils and setuptools in an unholy way, use distutils entry points, and rely on the fact that their subclasses of distutils commands are properly handled by setuptools. It's a special case. I'm not even sure that the problem occurs in the wild.

Small correction, Python 3.11 still ships distutils. distutils will be removed in 3.12. You are still g

[2022-08-18 19:15] lazka commented on #3532
not sure how common that is, but I use the following in all my projects: https://github.com/pygobject/pycairo/blob/7a725bd1a4e7ba1777835aab63d73de1a5d97399/setup.py#L22 It was from a time when setuptools wasn't that common but it needed to be supported because pip would inject it either way.

[2022-08-19 01:45] jaraco commented on #3524
That looks like a bug. What happens if you define the extension as `a._hello_world` and omit `ext_package`?

[2022-08-19 01:52] jaraco commented on #3524
It looks like the names for top_level.txt are generated here: https://github.com/pypa/setuptools/blob/d680efc8b4cd9aa388d07d3e298b870d26e9e04b/setuptools/dist.py#L1158-L1174

[2022-08-19 02:36] jeamland opened #3545 "[BUG] `ConfigDiscovery.analyse_name` incorrectly sets the `name` attribute on `Distribution`"
### setuptools version

setuptools==65.1.0

### Python version

Python 3.10.2

### OS

macOS 12.5, Oracle Linux Server release 8.6

### Additional environment information

_No response_

### Description

Under certain circumstances (see reproduction steps) `setuptools.discovery.ConfigDiscovery.analyse_name` will overwrite the `name` attribute of the `Distribution` object leading to `python setup.p

[2022-08-19 02:39] adigitoleo opened #3546 "[BUG] unable to build package on python 3.10.0 with declarative config"
### setuptools version

setuptools>=52.0.0

### Python version

Python 3.10.0a6

### OS

Ubuntu

### Additional environment information

Output of `lsb_release -a`:

[code]

I'm not able to move to Ubuntu 22 right now. Because this system is ~~a dinosaur~~ still on Python 2.7 by default, I use [pyenv](https://github.com/pyenv/pyenv) to manage Python versions.

Output of `pyenv versions`:

[code]

[2022-08-19 04:53] adigitoleo commented on #3546
Can confirm that upgrading Python to 3.10.6 fixes the issue, which is good enough for me. I guess these early 3.10 versions might still be a problem for people though.

[2022-08-19 08:32] rgommers commented on #3532
The current breakage seems to be concentrated in `numpy.distutils`, so let me say a few things as the maintainer of that package:
- `numpy.distutils` extends, relies on or monkey patches a very large part of all of `distutils`, and given that `distutils` has no public vs. private API distinction basically any change to `distutils` can break things,
- the `setuptools` maintainers have been quite cl

[2022-08-19 11:19] abravalheri commented on #3546
Hi @adigitoleo, thank you very much for reporting this.

I tested your reproduction in the `python:3.10.0` docker container, without experiencing any problems/errors.

I understand that you have initially tested this with an alpha version of Python 3.10. Since alpha versions are kind of expected to misbehave, I think it would be OK if we close this issue.

Please let us know if you (or anyone) sti

[2022-08-19 11:19] #3546 closed

[2022-08-19 18:05] abravalheri commented on #3340
Thank you very much for the feedback @jorisvandenbossche.
Indeed the scenario you are describing is very trick. The deprecation was introduced to specifically solve this problem, but we have to wait the deprecation period before the problem can be 100% solved... (backward bug-compatibility).

Let me try to clarify somethings in your last post, and then maybe we can work in a better warning message

[2022-08-20 03:02] adigitoleo commented on #3546
Ah that's true, I just tested on 3.10.0 proper as well but I still hit the same error. However, if it works in docker then maybe my pyenv setup or something about my environment is to blame.

[2022-08-20 06:36] abravalheri commented on #3546
There is a possibility.

The original error shows the following message:

[code]

We can investigate this issue further, but for that we would need a minimal reproducer (that does not involve pyenv).

[2022-08-20 10:56] pradyunsg commented on #3548
I can actually transfer the issue, so… here you go. :)

[2022-08-20 11:52] jorisvandenbossche commented on #3340
Yes, that would certainly help. Although in our case we resorted to using `exclude_package_data`, which might be a bit easier to do (as you just need to specify there what you also have in `exclude` of find_packages) than using `include_package_data=False` and having to update how actual data gets included.

In our case, yes, because we explicitly had `exclude=["package.tests*"]`. But when you don

[2022-08-20 12:52] th0ma7 opened #3549 "[BUG] breaks numpy in cross-compiling environment"
### setuptools version

setuptools >= 64.x

### Python version

python 3.10.x

### OS

Linux

### Additional environment information

Environment is using the Synology DSM toolchain for cross-compiling for multiple archs (armv5, v7, v8, ppc, x64, i686).

### Description

While preparing python 3.10.6 update I've took care to update all build requirements, including setuptools.
It hapens that it ma

[2022-08-20 12:55] potiuk commented on #3548
It looks like we started to have the same problem in Airflow.

* `pip install -e .` after checking out basically any version (including `main`) and running any Airlfow `cli` command results in

[code]

This started to happen few days ago and adding Airlfow's source to `PYTHONPATH` solves the problem.

I did some bisecting and pin-pointed it to version 64.0.0 of setuptools. Version 63.4.3 worked pe

[2022-08-20 12:57] potiuk commented on #3548
(The error is also present in other 64.* and 65* versions BTW).

[2022-08-20 16:57] abravalheri commented on #3548
Hi @abhinavsingh,

Could you provide a minimal reproducer explaining more in details the issues you are having? (Maybe it is worthy to split multiple issues in multiple reproducers).

I tried to investigate what you are describing with the following reproducer, but I was not able to find the problematic behaviour you are referring to... (Maybe I understood something wrong, or maybe the reproducer

[2022-08-20 17:28] abravalheri commented on #3548
@potiuk I suspect airflow's use case is different.

By having a look on the `setup.py`, it seems that `airflow` implements a custom `develop` command.

Setuptools's implementation of PEP 660 does not use the `develop` command. Instead, setuptools now rely in a complete different command. Please have a look on [the docs](https://setuptools.pypa.io/en/latest/userguide/extension.html#supporting-sdist

[2022-08-20 18:37] potiuk commented on #3548
Thanks for the pointer @abravalheri . I will take a closer look and see if I can work it out. I was kinda suspecting that we could have been doing something that PEP 660 does not really like :). I will keep you posted.

[2022-08-20 18:38] potiuk commented on #3548
Time to do some more deep PEP reading

[2022-08-20 19:15] abravalheri commented on #3546
For reference, this is the reproducer with Python 3.10.0:

[code]

Everything seems to work.

[2022-08-20 19:17] ofek commented on #3548
@potiuk Hey! Airflow's `setup.py` looks quite complex which intrigues me. Would you be interested in me opening a PR for a PoC switch to Hatchling (which will fix your issue)?

[2022-08-20 19:30] abravalheri commented on #3548
(Copying some opinion from the PyPA discord for eventual readers of this thread).

`setup.py` implementations tend to grow complex with time. Any backend that supports extensions can be used to refactor (which includes setuptools). Documentation on custom build steps can be found at https://setuptools.pypa.io/en/latest/userguide/extension.html.

[2022-08-20 21:32] potiuk commented on #3548
@ofek  Airlfow is an ASF project and community makes decisions not me personally. If you want to make a POC and have some good arguments, you will have to start dicsussion at the airflow devlist https://airflow.apache.org/community/ . But you have to - in general - have a good reasoning and justification for such a change in build system. just fixing an error that we can fix by not switching to an

[2022-08-21 04:19] 0x2b3bfa0 opened #3550 "[BUG] Realtive import of nonexistent package with same name throws RecursionError"
### setuptools version

setuptools 64.0.0

### Python version

Python 3.10

### OS

Ubuntu 22.04

### Additional environment information

Seen in the wild at https://github.com/AMYPAD/CuVec, had to pin `setuptools` in https://github.com/AMYPAD/CuVec/pull/25 to fix this issue.

### Description

Introduced with https://github.com/pypa/setuptools/pull/3488, throws `RecursionError` instead of `ModuleN

[2022-08-21 04:56] abravalheri commented on #3550
Hi @0x2b3bfa0, thank you very much for bringing this issue for discussion.

I believe that the Dockerfile is working as it is supposed to work.
In your `test/__init__.py` file you are trying to do a relative import of a module that don't exist...
That is the main reason for the error... The recursion happen because on top of that the CWD is added to `sys.path`.

I can demonstrate a very similar er

[2022-08-21 05:22] 0x2b3bfa0 commented on #3550
Hi @abravalheri! Thank you ver much for the detailed response.

As pointed out in the “expected behavior” secion of the issue, the error is very similar, but is not the same: the `RecursionError` only happens on setuptools v64 and later.

Still, this issue turned out to be an [x-y problem](https://xyproblem.info); I tried to demonstrate that packages with native code were causing this issue, and r

[2022-08-21 05:24] 0x2b3bfa0 commented on #3550
Note: feel free to reopen if throwing `RecursionError` instead of `ModuleNotFoundError` can be considered a valid issue.

[2022-08-21 05:28] abravalheri commented on #3550
Thank you very much @0x2b3bfa0, I think I have captured the recursion problem in a test case and I am working on a fix.

This issue report was very helpful. Thank you very much!

[2022-08-21 05:39] abravalheri commented on #3550
@0x2b3bfa0 is there any error happening with the second version of the Dockerfile in https://github.com/pypa/setuptools/issues/3550#issuecomment-1221471494?

I tried to build it in my machine and it builds correctly. But I have not tried to run anything in the container...

[2022-08-21 05:43] 0x2b3bfa0 commented on #3550
No, the example in https://github.com/pypa/setuptools/issues/3550#issuecomment-1221471494 works as intended: I tried to prove the opposite, and failed to do so.

I'll have to keep searching for the cause of the “[Y](https://xyproblem.info/)” issue. 😅

[2022-08-21 05:49] 0x2b3bfa0 commented on #3550
Reopening so it gets automatically closed when meriging #3551 🎉

[2022-08-21 06:24] #3550 closed

[2022-08-21 07:36] casperdcl commented on #3550
Unfortunately #3551 still doesn't fix editable installs, see: https://github.com/AMYPAD/CuVec/runs/7937211204?check_suite_focus=true (fails on `setuptools==65.1.1`, [passes](https://github.com/AMYPAD/CuVec/actions/runs/2897227618) on `setuptools<64`)

[2022-08-21 07:45] casperdcl commented on #3550
Ah, perhaps the "real" issue is an upstream package not supporting PEP-660 and therefore `cuvec.cuvec` no longer exists... https://github.com/scikit-build/scikit-build/issues/740

[2022-08-22 10:14] dvarrazzo opened #3557 "[BUG] recent versions of setuptools broke editable mode"
### setuptools version

65.2

### Python version

3.9.13

### OS

Ubuntu

### Additional environment information

_No response_

### Description

Since some recent releases (likely 64, when PEP-660 was implemented), installing psycopg with -e results in a broken package, where `psycopg` is an empty namespace.

This is [an example of broken run](https://github.com/psycopg/psycopg/runs/7949063626?ch

[2022-08-22 11:14] abravalheri commented on #3557
Thank you very much @dvarrazzo for reporting this issue.

Could you please try to create a minimal/standalone reproducer (that does not involve using tox or pytest)?

I tried to do the following:

[code]

And I can see that the module members mentioned in the tox issue seem to exist.

Is there any chance this happens because Python automatically adds the current working dir to `sys.path`? (This wa

[2022-08-22 15:46] dvarrazzo commented on #3557
I thought that, and in my investigation with tox I tried to chdir away, but it didn't fix the problem.

Anyway, does it mean that it is now mandatory to adopt a "src" style project organization?

[2022-08-22 16:44] yudonghai opened #3558 "How to create a whl which includes another b.whl, and Then, when installing a.whl, also install b.whl automatically(b.whl is not released to pypi))"
### setuptools version

any

### Python version

python 3.9

### OS

macOS

### Additional environment information

NA

### Description

I want to push a whl package, and it includes another whl file, for example, b.whl is packaged in to a.whl. when install the a.whl, Can b.whl be installed automatically too?

I don't want release another b.whl to pypi.

for example, two whl files(a.whl and b.whl)

[2022-08-22 16:49] abravalheri commented on #3557
I don't think so...

In terms of "plain Python" usage", I would say things should not change a lot. The flat-layout should have the same flaws as before, right?
Specifically, if you have a folder under CWD with a name coinciding with the installed package, this folder might be imported (but that was already a well-known risk ...).

In terms of `pytest` things may change. I know that they try some

[2022-08-22 16:52] abravalheri commented on #3557
So do you confirm that the package itself works on an editable install, but things start to get weird when a 3rd tool is added to the mix? (Maybe tox, maybe pytest?)

Could it be the case one of these tools relies on a specific assumption about the editable installation layout? (I know that some static analysis tools will try to read a `.egg-link` file, which is gone in setuptools>=64...)

[2022-08-22 18:32] dvarrazzo commented on #3557
I can reproduce the problem with:

[code]

changing cwd works. Using `pip install psycopg` works too:

[code]

Using a rather older set of libraries, editable mode works as expected:

[code]

Tested on my laptop using Python 3.8.10 (Ubuntu 20.04 package)

[2022-08-23 08:58] DanielNoord commented on #3518
We're running into similar issues with `pylint` although I'm not sure it is exactly the same issue. We do support import hooks and try to resolve those so it might be better to open a standalone issue for our problem. If preferred, please let me know.

A small summary:
`pylint` uses `astroid` to generate the `ast` tree of python files with some additional nice-to-haves to help use perform the anal

[2022-08-23 09:10] raymanP opened #3560 "[BUG] No module named 'setuptools.command.build' on cross python environment"
### setuptools version

65.2.0

### Python version

3.9

### OS

Ubuntu 20.04

### Additional environment information

cross environment on docker messense/manylinux_2_24-cross:armv7l

### Description

When running setup.py build_ext bdist_wheel I get exception: No module named 'setuptools.command.build'
When uninstalling setuptools it runs without that exception, however, failing at compiler.

On

[2022-08-23 11:56] abravalheri commented on #3518
Hi @DanielNoord thank you very much for reaching out.

Please feel free to open a new issue if you can isolate the problematic behaviour and you think it is different than the one discussed here.

Does it mean that `pylint` will run the import hooks installed by `setuptools` (e.g. [`_EditableFinder`](https://github.com/pypa/setuptools/blob/1617a58ebb12a588d5272bef340c2596ce9c3997/setuptools/comman

[2022-08-23 12:15] DanielNoord commented on #3518
I think we technically could, but are not doing so right now. Do these import hooks still work on the newer versions? That might be something to explore for us.

Yeah, this is what we do as well. Although I don't think our support for custom import hooks is complete yet. I'll try to see if I can get it to work with the ones you are referring to.

[2022-08-23 16:08] abravalheri commented on #3518
No problems, this is one of the most confusing aspect of Python 🤣

I suppose this means that this issue already captures the challenges with `pylint` interoperability and we don't need to create a new one.

In the [mailing list](https://mail.python.org/archives/list/typing-sig@python.org/thread/IIVBPYDZR5T5BGPAWFVYS5ZPYDXGVHQN/#OSWHT5VSRGKPSPYD7PQWR2M4OCSL5WO3) pointed out by @JacobHayes, there is

[2022-08-23 16:45] abravalheri commented on #3557
Thank you very much @dvarrazzo. So it is confirmed that it is happening because of the existence of the package CWD...

I can see that a regular installation does not have the same problem. If I had to guess I would say that Python starts by creating a namespace package, but then when it finds the other folder (the actual package) on `sys.path` and realises it contains a `__init__.py` file, it "re

[2022-08-23 16:54] abravalheri commented on #3560
Hi @raymanP thank you very much for reporting this.

Could you please confirm the version of setuptools installed in these environments?
As you can see [here](https://inspector.pypi.io/project/setuptools/65.2.0/packages/e5/6f/942e63ec2a5c881df147782b97dc4715ca082dec9de41f43e1013faef710/setuptools-65.2.0-py3-none-any.whl/), Setuptools 65.2.0 does contain the [setuptools/command/build.py](https://in

[2022-08-23 19:43] dvarrazzo commented on #3557
Ok, but what does it mean? Is this a regression that you will address (why would a random directory in cwd be more meaningful that an explicit entry in the pythonpath?) Or is this going to stay broken?

Should we pin a dependency on setuptools < 64 for development? Should we rename our code directory and make all git history operations more painful in order to restore editable mode?

Please let us

[2022-08-23 21:18] DanielNoord commented on #3518
If that works for other tools it should for us as well. `Pylint` is notoriously bad with importing/discovering packages, especially when namespace packages are involved. Since we are wary of potential security risks we are always hesitant to change stuff, especially since some of the code was written 12 years ago by people we no longer know.

That said, `pylint` strives to replicate normal import

[2022-08-24 08:09] proto3 opened #3561 "[BUG] Editable wheel match import paths that are not theirs"
### setuptools version

65.2.0

### Python version

3.10.6

### OS

Ubuntu 20.04

### Additional environment information

_No response_

### Description

I'm currently working with two packages having names beginning the same, let's call them **foo** and **foobar** for example.
I install both of them using `pip install -e`, and both can be imported normally:
[code]

Now I add a module **bar** in t

[2022-08-24 08:24] proto3 commented on #3561
With debugger I can see the moment when foo.bar is chosen in place of foobar:
https://github.com/pypa/setuptools/blob/e551496e9948a272b42f4a654d722500149380d2/setuptools/command/editable_wheel.py#L761

When fullname is "foobar" and pkg is "foo", it enter the if while it should not.

Using `if fullname.split(".")[0] == pkg:` instead would fix the problem by only comparing pkg to the first path item

[2022-08-24 08:44] abravalheri commented on #3561
Thank you very much for reporting this @proto3, I am working on a PR.

[2022-08-24 10:14] hmc-cs-mdrissi commented on #3518
Can we specify more what .pth file lacks that json approach would support? Is the main one being able to import/include specific files and not whole directories? Main question is a new source of import information easier tooling change then a change to .pth file format?

[2022-08-24 10:26] #3561 closed

[2022-08-24 10:26] #3545 closed

[2022-08-24 10:42] raymanP commented on #3560
I installed setuptools using: `cross-python3.9 -m pip install -U setuptools`

Is very strange: I get still this after installation (no change)
/opt/cross_env/py3.9/build/lib/python3.9/site-packages/setuptools-58.1.0.dist-info

however at cross-python3.9 `setuptools.__version__` gives 65.2.0