[2022-01-04 23:47] #389 closed

[2022-01-05 00:01] abravalheri commented on #494
It is been a while now that `easy_install` is deprecated, and more recently setuptools also deprecated direct invocation of `python setup.py install`. Therefore the preferred way of installing Python packages (and generally recommended) is via `pip`.

`pip` in turn generates its own script wrappers (https://github.com/pypa/pip/issues/1067), and because `pip` is the reference implementation of Pyth

[2022-01-05 00:02] abravalheri commented on #495
Setuptools docs have been moved to the pypa.io domain 👏

[2022-01-05 00:02] #495 closed

[2022-01-05 00:06] abravalheri commented on #602
Since `python setup.py test` and `tests_require` have been deprecated for a while, it should be safe to close this issue, right?

We can always reopen it if there is some other information that should be considered...

[2022-01-05 00:06] #602 closed

[2022-01-05 00:10] abravalheri commented on #585
Hello, since `ez_setup` has been deprecated for a while, I assume it should be OK to close this issue for now.

If anyone would like to reopen it, please feel free to write a new comment with more information or other use cases that we might be missing 😄.

[2022-01-05 00:10] #585 closed

[2022-01-05 10:35] abravalheri commented on #2903
Hi @rashmirajanna98, I am afraid Python 2.7 is no longer supported by setuptools, so there is no much we can do about that (sorry).

Would you be interest in trying to run your package with Python 3.7 and the latest version of setuptools to see if the problem still persist?

[2022-01-05 10:48] abravalheri commented on #2898
Thank you very much @jon-marks for reporting this issue 😄

This seems to be related to an old version of `distutils` being used... I had a quick look on [pypa/distutils](https://github.com/pypa/distutils) and it seems that some of the items described in your patch were already applied.

Since the latest version of setuptools will try to use a more modern (vendored) version of `distutils` by defaul

[2022-01-05 11:32] not-my-profile opened #2999 "[Docs] Spaces in code blocks look like underscores"
### Summary

I was looking at the [Quickstart documentation](https://setuptools.pypa.io/en/latest/userguide/quickstart.html), where I saw the following:

![image](https://user-images.githubusercontent.com/73739153/148210654-e45172a7-207f-4524-b7f6-dfe45d6130e7.png)

I read this as `______docutils` and `______requests` and got confused wondering why there are so many underscores.

### Additional In

[2022-01-05 11:51] abravalheri commented on #2845
Hi @happysmash27, sorry to hear about your bad experience with GitHub :(

Following up our previous [discussion](https://github.com/pyscaffold/pyscaffold/discussions/484), I think this is a problem with the `setuptools-scm` plugin, not setuptools itself.

setuptools does not even have a `walk_recvtrl` function, so there is not much we can do in this repository... For this reason I think the best c

[2022-01-05 11:51] #2845 closed

[2022-01-05 12:23] abravalheri commented on #2999
Thank you very much @not-my-profile, that is a tricky one!

It seems that this happens because of a combination of problems with `pygments`:

![image](https://user-images.githubusercontent.com/320755/148215615-74783546-fe78-45cd-90ff-848460665806.png)

![image](https://user-images.githubusercontent.com/320755/148215512-343f371a-818a-440e-b20a-9813d8bb24c3.png)

I think the idea here is that the co

[2022-01-05 16:18] abravalheri commented on #2999
The issue seems to be fixed in `pygments`, hopefully everything should be fine as soon as they release a new version.

[2022-01-05 17:58] abravalheri commented on #2971
Recently @webknjaz has brought to my attention that the `sphinx` team [has already deprecated `build_sphinx`](https://github.com/sphinx-doc/sphinx/pull/10040).

So I think there is not much left to do from setuptools perspective?

It is likely that users seeking replacement will have to call `sphinx-build` directly.

[2022-01-05 18:27] kloczek commented on #2971
Issue is that sphinx it is not only tooling used to generate documentation.

[2022-01-05 18:55] abravalheri commented on #2971
In that scenario, I am afraid it will be necessary to analyse package by package. Hopefully most of them will have something like `tox -e docs` or `nox -s docs` available to be used, but it is currently impossible to guarantee all the packages will use the same tools and processes.

In fact, it is already currently impossible to guarantee all the packages rely on `build_sphinx` -- what might be ha

[2022-01-05 19:31] kloczek commented on #2971
Amongst +750 packaged module as rpm package probably only 3-5 have something like that.
All `tox -e docs` targets have fixed generate only html output. Every such example is done with noon declarative description which is hard to propagate across more modules and allows define that in every possible way. In case at least one of those modules when I've been pointing that on generate man output ther

[2022-01-05 19:37] abravalheri commented on #2819
Hi @markgras, thank you very much for opening this issue.

Any chance this is related to https://github.com/pypa/setuptools/issues/2491?

[2022-01-05 20:09] markgras commented on #2819
Not necessarily. This issue is that the documentation doesn't tell a user how to tag setup.cfg-only packages. If passing tags to `python -m build` is supposed to work and is the intended way that users are to tag setup.cfg-only packages, then #2491 is related. I did at one point try passing tags to `python -m build` and it didn't work, but it was unclear to me if I was supposed to be doing that.

[2022-01-05 20:17] abravalheri commented on #2971
I understand your position here, and I do value your effort in trying to bring documentation accessible via terminal (I am a huge fan of offline docs...).

However, after seeing your last comment, I am convinced that currently there is no silver bullet for your use case (`build_sphinx` is definitely not it...)

I encourage you to engage the community in https://discuss.python.org/c/packaging/14, h

[2022-01-05 20:34] abravalheri commented on #2819
Thank you very much for the clarification @markgras!
Yes, indeed this topic needs better docs, however it is likely that it will take a bit longer because there are some discussions going on.

Meanwhile, if you are using `build`, there is a hint on how this can be done in https://github.com/pypa/build/issues/202#issuecomment-757375626, but I suspect you can also try borrowing a bit of setuptools'

[2022-01-05 20:46] abravalheri commented on #2674
Hello @ananthp, @SnoopJeDi and @phetdam, thank you very much for bringing this issue up...

It seems that you guys have some ideas of useful links to include there, any chance one of you is interested in providing a PR? That would be really helpful!

[2022-01-05 20:48] SeanMooney commented on #2993
it looks like the release job failed  https://github.com/pypa/setuptools/actions/runs/1650359780

so while the tag is available on github its not published to pypi currently

[2022-01-05 20:56] abravalheri commented on #2660
Hi @dstromberg thank you very much for reporting this issue!

I am not entirely sure I understood your message, there seems to be an error where `pip` tries to import `NoReturn` from `typing`, is that it?

If that is the case, this issue is not related to setuptools, is it?

[2022-01-05 20:59] abravalheri commented on #2660
For the time being, I think I will close it, since I cannot see what `setuptools` can do to solve this problem (moreover, Python 3.6 is not supported, and `NoReturn` should definitely be present in Python 3.7...).

But please feel free to ping again if you have any information that relates this problem to `setuptools` (specially if it persists in Python >= 3.7)

[2022-01-05 20:59] #2660 closed

[2022-01-05 21:07] webknjaz commented on #2971
Action items:
* [ ] Drop calling `build_sphinx` from `upload_docs` (which only seems to be deprecated for uploading the docs to PyPI/pythonhosted but not other places): https://github.com/pypa/setuptools/blob/a4dbe3457d89cf67ee3aa571fdb149e6eb544e88/setuptools/command/upload_docs.py#L45-L62
* [ ] Close this issue as the actual command implementation exists in a plugin, not here

Not sure if this n

[2022-01-05 21:15] abravalheri commented on #2971
Thank you very much @webknjaz for summarising the future steps.

Should we deprecate `upload_docs` entirely?

[2022-01-05 21:22] abravalheri commented on #2587
Hi @alexreg thank you very much for bringing this topic.

I believe this is not the direction Python ecosystem is moving towards...

The latest PEPs (e.g. PEP 621) assume `scripts` are created via entry-points.
So for any new package I (personally) would recommend avoid creating script files, but instead relying on [`console_scripts`](https://setuptools.pypa.io/en/latest/userguide/quickstart.html?

[2022-01-05 21:24] zluudg opened #3000 "[BUG] ModuleNotFoundError when using cmdclass option in PEP517-style build"
### setuptools version

setuptools===60.2.0

### Python version

Python 3.8

### OS

Ubuntu 20.04

### Additional environment information

[build](https://pypi.org/project/build/) 0.7.0

### Description

Having the `cmdclass` option defined in `setup.cfg` causes `python -m build` to fail with a `ModuleNotFoundError`.

### Expected behavior

I expect to be able to customize/override `setuptools` co

[2022-01-05 21:45] abravalheri commented on #3000
Hi @zluudg, thank you very much for reporting this!

Unfortunately, this feature is not yet fully supported by setuptools via `setup.cfg` only via `setup.py`. The reason is that `build_meta` does not guarantee the project directory is appended to `sys.path` (only `build_meta:legacy` guarantees that).

As a workaround, you could try:
[code]

But the good news is that this problem might be solved in

[2022-01-05 21:56] abravalheri commented on #2513
Hi @martynbristow thank you for reporting this.

I am afraid Python 2.7 is no longer supported (and also your version of pip might be too old).

Do you still face these issues in Python >= 3.7?

For the time being, I think the best is to close this issue (I believe it should not be a problem for modern versions of Python and pip), but please feel free to "re-open" it (by commenting here with more

[2022-01-05 21:56] #2513 closed

[2022-01-05 21:57] webknjaz commented on #2971
I believe there's been an attempt in the past that was followed by some of the users giving feedback that they use it outside of the PyPI index that lead to it being kept. Maybe @jaraco remembers better.

[2022-01-05 21:59] abravalheri commented on #2446
For the time being, I will close this issue since I believe it was solved by #2844.
But please feel free to re-open it (by adding a comment with more information regarding a more recent version of setuptools).

[2022-01-05 21:59] #2446 closed

[2022-01-05 22:13] abravalheri commented on #2578
Hi @cbrnr, thank you very much for reporting this.

I believe `pip` (re-)generates wrappers on its own for both `console_scripts` and `gui_scripts` (see https://github.com/pypa/pip/issues/1067, https://github.com/pypa/pip/pull/1251), using [distlib](https://bitbucket.org/pypa/distlib).

So maybe it would be more appropriate reporting these issues there?
For the time being, I will close the ticket,

[2022-01-05 22:13] #2578 closed

[2022-01-05 22:16] zluudg commented on #3000
Thanks for the tips and for the quick reply! I think I'll go with the setup.py-approach for now while keeping an eye on your PR. Good luck with that!

[2022-01-05 22:20] abravalheri commented on #2269
Hi @antoniosap, the answer provided by @McSinyx explains what is happening and provides a nice workaround... I will close the issue for the time being, since the behaviour that you are facing is expected.

I haven't experimented a lot with that, but I suppose you could also try to use a `MANIFEST.in` file to control which files get included in the distribution... but that is much more cumbersome t

[2022-01-05 22:20] #2269 closed

[2022-01-05 22:31] abravalheri commented on #2053
Hi @SriZbi84, thank you very much for reporting this issue.

It seems that `pendulum` is a package that uses `poetry` instead of `setuptools`, so I don't understand exactly what is happening there...

Have you tried to use a more updated version of that package? Or maybe using the pre-build wheel?

[2022-01-05 22:35] abravalheri commented on #2049
Hi @jack1142, given @pganssle explanation I think we can close this issue for now right? (`pip` is the one generating the script wrappers, so the changes would have to implemented there... however this would need a standardisation effort to change the [entry-points specification](https://packaging.python.org/en/latest/specifications/entry-points/))

[2022-01-05 22:35] #2049 closed

[2022-01-05 22:45] abravalheri commented on #2045
Hi @Huang-TsungHsuan, I am afraid I cannot see how this example is related to setuptools... Do you have more information about how setuptools is being used here? (It seems that everything uses cmake instead...)

Given the error you are seeing, I guess your computer might have an old 3rd party [`enum`](https://pypi.org/project/enum/) package installed that is shadowing the `enum` module in the stdl

[2022-01-05 22:45] #2045 closed

[2022-01-05 22:48] abravalheri commented on #2027
Hi @pschanely and @fernandoTB, I am afraid the usage of setuptools as an installer (e.g. via `easy_install`) is deprecated, and therefore it would make very little sense to implement this feature :(

But since you have mentioned that `pip` supports the fragments, would it make sense for you to use `pip` instead?

[2022-01-05 22:48] #2027 closed

[2022-01-05 23:01] markgras commented on #2819
Understood. Thank you for sharing these workarounds.

[2022-01-05 23:14] abravalheri commented on #1958
Hi @felix-ht, thank you very much for the discussion.

My understanding is that Pipfile targets reproducible "applications", with pinned versions for their dependencies.
The major focus of setuptools would be "libraries", with ranges of versions for their dependencies.

There is some conceptual difference between the two that is explained in detail in https://caremad.io/posts/2013/07/setup-vs-requ

[2022-01-05 23:14] #1958 closed

[2022-01-05 23:19] abravalheri commented on #1939
Hi @guettli, thank you very much for pointing this out!

The mention about Python 2.4 seems to have been removed from the current docs 🎉
So I guess we can close this issue now 😄, but please let me know if I am missing something.

[2022-01-05 23:19] #1939 closed

[2022-01-05 23:25] abravalheri commented on #1879
Hi @mangin, thank you very much for filing this issue.

Since `easy_install` is deprecated, I think we should be able to close this issue now, right?
Moreover, direct invocation of `python setup.py` (which includes `setopt`) are also deprecated...

[2022-01-05 23:25] #1879 closed

[2022-01-05 23:33] abravalheri commented on #1808
Hi @limburgher, thank you very much for opening this issue.

I believe that lots of things have changed recently, which includes the deprecation of calling `python setup.py` and the fact that now fedora is using some other tooling for packaging/installing Python projects.

Could you confirm if the situation you described is still an issue?
If the rebuilding of RPMs into flatpaks is using `python s

[2022-01-05 23:33] #1808 closed

[2022-01-05 23:37] abravalheri commented on #1691
Hi @nonatomiclabs and @cvanelteren, `package_data` will only work for files that are placed **inside** the package directory (currently there is no support for files outside of it)

So in your example, the best would be moving `supporting_files` inside `src/mypkg`.

Please also notice that `data_files` is no longer recommended and will not work on `wheel`s.

[2022-01-05 23:37] #1691 closed

[2022-01-06 00:11] felix-ht commented on #1958
@abravalheri
The argument of the first article is that much that the requirements txt is supposed to be used as a lockfile while the setup tools should give a rough outline of the the requirements. This separation of concern is supposed to enable self hosted packages.

My two cents on this:
* Requirements txt sucks as a lockfile (no hashing)
* As a user i just don't want to specify the same thing

[2022-01-06 00:14] cowlinator commented on #1688
@CAM-Gerlach , what kind of smaller incremental subtasks should we break this up into?  What are the first steps?

[2022-01-06 00:35] abravalheri commented on #1958
Thank you very much for the feedback. I think your current approach is a very good one, poetry seems to be an excellent choice for this use case.

I just would like to point out that my idea on linking these articles was not suggesting to use 'requirements.txt', just provide a reference for the "conceptual" side of it. I completely agree that a lock file should have hashes...

(I also did not sugg

[2022-01-06 01:07] alexreg commented on #2587
@abravalheri Thanks for the reply. Thats sounds fair enough.

[2022-01-06 02:15] #2587 closed

[2022-01-06 02:57] jameskirkwood opened #3001 "[BUG] setup installs user egg links to python3.1 site under Python 3.10"
### setuptools version

setuptools===60.2.0

### Python version

Python 3.10

### OS

Manjaro Linux

### Additional environment information

_No response_

### Description

Using the deprecated workflow and Python 3.10, `python setup.py develop --user` attempts to install an egg link to ~/.local/lib/python**3.1**/site-packages (but aborts as Python will not find packages here).

Provided setup.py

[2022-01-06 03:01] jab opened #3002 "[BUG] latest setuptools release (60.3.0) broke pip?"
### setuptools version

60.3.0

### Python version

Python 3.10 (but also reproduces with other versions)

### OS

macOS (but also reproduces in GitHub Actions CI using ubuntu-latest)

### Additional environment information

_No response_

### Description

The new version of setuptools that was just released seems to have broken pip? After upgrading to latest setuptools, running pip commands is no

[2022-01-06 03:03] kratsg commented on #3002
Seen by @matthewfeickert and I as well. https://twitter.com/HEPfeickert/status/1478923370083545089

[2022-01-06 03:06] Patol75 opened #3003 "[BUG] setuptools 60.3.0 breaks pip on Ubuntu 20.04.3"
### setuptools version

setuptools==60.3.0

### Python version

Python 3.9

### OS

Ubuntu 20.04.3 LTS

### Additional environment information

_No response_

### Description

Updating `setuptools` from 60.2.0 to 60.3.0 yields the following error message after executing any `python3.9 -m pip` command:
`/usr/bin/python3.9: Error while finding module specification for 'pip' (AttributeError: module '

[2022-01-06 03:08] jab commented on #3002
@jaraco if you happen to see this before you go offline till tomorrow, would it be worth yanking 60.3.0 off PyPI?

[2022-01-06 03:09] allenatdecisiv opened #3004 "[BUG] setuptools 60.3.0 breaks pip-review (and -m pip) with AttributeError: module '__main__' has no attribute '__file__'"
### setuptools version

60.3.0

### Python version

Python 3.8.12

### OS

Windows 10 (CYGWIN_NT-10.0-19044 FOUREYES 3.3.3-341.x86_64)

### Additional environment information

_No response_

### Description

I upgraded from setuptools 60.2.0 to setuptools 60.3.0 and I get this error with running `pip-review --verbose --interactive`:
[code]

So I removed the `pip-review` command from the puzzle, ju

[2022-01-06 03:09] matthewfeickert commented on #3002
Something worth noting perhaps is that what is broken is explicitly `python -m pip`. Example:

You can break `python -m pip` with `setuptools` `v60.3.0`, but `pip` by itself will keep working fine, which is not great.

[code]

[2022-01-06 03:15] allenatdecisiv commented on #3004
I did check, but either it took me too long to compose the issue or it took the other folks too long. :-)

Closing b/c I think this is a dupe of:
https://github.com/pypa/setuptools/issues/3002
https://github.com/pypa/setuptools/issues/3003

[2022-01-06 03:15] #3004 closed

[2022-01-06 03:17] matthewfeickert commented on #3003
:wave: This is a duplicate of Issue #3002, so please follow along there for new information and consider closing this Issue to avoid confusion. :+1:

[2022-01-06 03:19] jameskirkwood commented on #3001
In setuptools.command.easy_install.easy_install.finalize_options, on lines 246-247, the second digit of the minor version number is ignored:
https://github.com/pypa/setuptools/blob/6092cdcbd659110e613e9841cdd5a0c43e61f33b/setuptools/command/easy_install.py#L241-L247

`py_version_short` is used to determine the site directory:
https://github.com/pypa/setuptools/blob/6092cdcbd659110e613e9841cdd5a0c4

[2022-01-06 03:21] Patol75 commented on #3003
Unfortunate timing on my side it seems, #3002 was not opened when I started writing this issue. Anyway, good to know I am not the only one and developers are aware of the issue. :)

[2022-01-06 03:21] #3003 closed

[2022-01-06 03:52] kloczek commented on #2971
That is true because still I have no full idea how to provide that kind functionality in first place :P

I'm only more or less aware that producing documentation using some standard procedure may not only simplify what I'm personally doing but it may generally improve accessibility and quality of the python modules documentation for end users/developers.
This is why I'm throwing some random (almos

[2022-01-06 04:00] ferrants commented on #3002
Experiencing this as well. Pinning to the previous setuptools gets around this issue until this is fixed:
[code]

[2022-01-06 04:02] jaraco commented on #3002
Yanked 60.3.0.

[2022-01-06 04:24] #3002 closed

[2022-01-06 09:27] cbrnr commented on #2578
Thank you @abravalheri – this issue is currently being discussed in https://github.com/pypa/pip/issues/10444.

[2022-01-06 09:48] abravalheri commented on #1901
Hi @Sebastiencreoff, thank you very much for reporting this problem.

I don't fully understand the error here... Would it be possible for you to provide the error logs (and maybe a simple git repository with code that replicates what you are trying to do, in a simplified way)?

[2022-01-06 09:48] abravalheri commented on #1901
Please also notice Python 2.7 is no longer supported.

[2022-01-06 09:53] abravalheri commented on #1875
Hi @Helveg, thank you very much for bringing up this topic!

I think the best place to discuss this idea would be https://discuss.python.org/c/packaging/14
(Unfortunately it is not trivial that setuptools can implement it alone -- some standardisation effort is needed, since it potentially would require changing the Core Metadata spec and what has been stablished in PEP 621).

[2022-01-06 09:53] #1875 closed

[2022-01-06 09:55] abravalheri commented on #1870
Hi @xiashaohua, thank you very much for reporting this issue.

Would it be possible for you to provide some way of reproducing the problem? (The best would be simple dummy git repository that we can clone and run a sequence of commands described in the README file to reproduce the error...)

[2022-01-06 10:21] abravalheri commented on #724
Hi @sivakhno, thank you very much for reporting this issue.

Does this problem still persist with the most updated versions of pip and setuptools?

[2022-01-06 10:28] abravalheri commented on #630
I can confirm that the comments are stripped from the file in other projects too (not only psycopg2).

@jaraco is this intentional design? Is there any desire to change this behaviour?

[2022-01-06 10:38] abravalheri commented on #2012
Hi @NorbertLindenberg, thank you very much for bringing this issue up.

Since this is part of a [packaging spec](https://packaging.python.org/en/latest/specifications/entry-points/), it would be necessary to discuss this issue in https://discuss.python.org/c/packaging/14 (so all the tools involved in the process, e.g. pip/build, can also be updated).

Could you please start a conversation about th

[2022-01-06 10:38] #2012 closed

[2022-01-06 10:40] abravalheri commented on #2012
(Please correct me if I understood something wrong here, if this is a setuptools specific problem, could you please provide an reproducible example that we can verify? I would be more than happy to re-open the issue)

[2022-01-06 10:47] Exagone313 commented on #3002
I still have this broken and yanked version being installed in a fresh environment, when creating a virtualenv. Any idea why? Running `pip install --upgrade setuptools==60.2.0` after activating the virtualenv fixes the issue but it can't be done in a CI job or in tox.

[2022-01-06 10:50] abravalheri commented on #3002
Any chance your CI job is accessing a package index that has a cache?

[2022-01-06 10:51] Exagone313 commented on #3002
I reproduce this at home with the `debian:buster-slim` Docker image.

[2022-01-06 10:52] abravalheri commented on #3002
Can you post here the commands/scripts you are using to reproduce this problem?

[2022-01-06 10:53] Exagone313 commented on #3002
[code]

[2022-01-06 10:58] Exagone313 commented on #3002
Bu running strace, it seems to check the version on https://pypi.org/simple/setuptools/ and the yanked version is still present.

[2022-01-06 11:08] abravalheri commented on #3002
Hi @Exagone313 I believe this issue is related to the fact that `apt install -y python3-virtualenv` install an old version of virtualenv...

If you try running:
[code]
You should not see this error.

---

If you inspect the HTML page you can see a `data-yanked="https://github.com/pypa/setuptools/issues/3002"` attribute that marks the version as yanked.

My guess is that the package in the apt repo

[2022-01-06 11:09] lhupfeldt commented on #3002
A newer version should probably be released with a fix. Applying workarounds like `--upgrade setuptools==60.2.0` is not feasible in automated builds. E.g. we have an RTD installation in docker, to apply that workaround I would have to hack the docker build. It can also be very difficult to remve all cached versions. I have to cleanup all pip caches on our RTD server plus caching in our pypi proxy.

[2022-01-06 11:22] pablogsal opened #3006 "[BUG] The `_distutils_hack` pth file causes significant startup slowdown"
### setuptools version

### Python version

ALL

### OS

ALL

### Additional environment information

_No response_

### Description

Since setuptools 60.0.0 has been released, Python startup has been impacted noticeably:

https://speed.python.org/timeline/#/?exe=12&ben=python_startup&env=1&revs=50&equid=off&quarts=on&extr=on

This is due to the new pth file that setuptools installs for injecting

[2022-01-06 11:24] pablogsal commented on #3006
CC: @brandtbucher @ericsnowcurrently @lpereira @markshannon @iritkatriel

[2022-01-06 11:40] lhupfeldt commented on #3002
Removing all caches and venvs that I know about did not solve my issue, `60.3` keeps comimng back :(
A quick re-branding of `60.2` as `60.3.1` would probably solve the problem and help a lot of people.

[2022-01-06 12:08] abravalheri commented on #3002
Hi @lhupfeldt thank you very much for the feedback, setuptools is working in a new version and it should be available soon.

Meanwhile, please consider the workaround previously discussed (i.e. installing the latest version of `virtualenv`, e.g. via `pip`/`PyPI`).

Please notice that using an outdated version of pip and virtualenv that are not able to handle the "yanked" metadata provided by the i

[2022-01-06 12:36] lhupfeldt commented on #3002
@abravalheri Thank you for the update.
We generally try to keep up to date with dependencies, but updating the RTD images is a little slower (more QA involved) than just updating package images.
However my problem here seems to be that Artifactory (which is used as a pypi proxy) keeps downloading 60.3. I'm not sure whether this is caused by the versions of pip/virtualenv used by RTD or if it is an

[2022-01-06 12:41] delicb commented on #3002
This change also breaks `python -m build` as well. Workaround is to add `requires = ["setuptools==60.2.0", "wheel"]` (as opposed to not specifying the version) as part of `[build-system]` in `pyproject.toml` (if used).

I have a similar problem as @lhupfeldt, but with AWS Code Artifact - it seems to be downloading 6.3.0 if the exact version is not specified, so it keeps coming back.

[2022-01-06 13:00] abravalheri commented on #3002
Hi @delicb, would you have a way of reproducing this behaviour? When I tried to install `build` in a brand new virtualenv here and run it against one of my packages, everything seems to be OK.

It might be the case the index server/cache-proxy does not handle "yanked" versions very well... If that is the case it would be good to report these issues to them so they can also investigate (just try fi

[2022-01-06 14:37] delicb commented on #3002
@abravalheri Thanks for the response. I understand this is 99% due to AWS Code Artifact.

I can not share the project (closed source), but it is a very simple library with the following section in `pyproject.toml` and standard nothing-fancy `setup.py`:
[code]

With those lines, `python -m build` fails with `ERROR Command '['/private/var/folders/xh/ltk6fjb55zv9ykn3k767lhvh0000gn/T/build-env-tzlc3ge

[2022-01-06 14:47] limburgher commented on #1808
I know RPM builds still use setup.py, but I'm no longer actively building flatpaks, so I can't say for sure.

[2022-01-06 14:54] jmroot opened #3007 "[BUG] Having setuptools installed causes cpython stdlib build to fail"
### setuptools version

setuptools>=60

### Python version

Python 3.9.9 (and probably others)

### OS

Probably affects all; reported on macOS

### Additional environment information

Originally reported in the context of MacPorts' python39 and py39-setuptools ports.

### Description

If you have setuptools installed and attempt to build cpython from source, setuptools' copy of distutils may be u

[2022-01-06 16:04] jaraco commented on #3006
Thanks for reporting. I was aware this was a risk.

I do believe the risk is justifiable, even at the reported level of 2x (11ms), given that:

- This hack is meant to be temporary. As soon as is achievable, Setuptools aims to deprecate the use of `import distutils` and obviate the need for the hack.
- Setuptools desires not to be installed at run time. It is now possible for most if not all envir

[2022-01-06 16:06] alex4200 commented on #3002
I am using `pip` and `setuptools` within a `tox` environment. Because the latest version 60.3.0 has a bug, the `tox` job fails. And I cannot just install version `60.2.0`, as version `60.3.0` has a bug.

Solution: I need to wait for a version >60.3.0. Until then, the gitlab CI job is broken

[2022-01-06 16:06] jaraco commented on #3006
For `importlib_metadata`, I developed [pytest-perf](https://pypi.org/project/pytest-perf) to exercise performance tests and prevent regressions. That could be employed here to (a) measure the performance and (b) prevent regressions as performance is improved.

[2022-01-06 16:07] jaraco commented on #3002
Setuptools 60.3.1 is going out now.

[2022-01-06 16:17] henryiii commented on #3002
Also, please use `requires = ["setuptools!=60.3.0", "wheel"]` if you have to avoid a bug like this in the future - that will not block future fixes, etc, so can be left in, while the pin has to be removed/updated. Don't worry, bugs will be fixed. :)

[2022-01-06 16:56] #2999 closed

[2022-01-06 19:09] abravalheri commented on #508
Since `ez_setup` is deprecated and both linked issues have been resolved (the first one indicates that users should use `virtualenv` and the second one indicates that a more recent version of setuptools solves the problem), I think we can close this ticket for now.

If anyone is still having problems, please feel free to comment bellow or open a new issue.

Thank you very much for the users that a

[2022-01-06 19:09] #508 closed

[2022-01-06 19:13] abravalheri commented on #47
It seems that setuptools no longer uses dependency_links to solve its dependencies (all of them seem to be vendored). So I assume we can close this issue for now?

[2022-01-06 19:13] #47 closed

[2022-01-06 20:51] tiran commented on #3006
You could reduce the impact on startup performance by not using ``contextlib`` and moving the import of ``re`` into the function body.

[2022-01-06 21:00] #2862 closed

[2022-01-06 21:57] gvanrossum commented on #3006
In order to avoid importing `re` you would also have to remove the `warnings.filterwarnings()` call -- that function uses `re`. What does that call do anyway?

How temporary is the hack? Will it be gone by the time 3.11 final is released (coming October)?

[2022-01-06 22:02] Safrone commented on #3002
CI Back to working, thanks everyone who contributed for the speedy fix

[2022-01-06 22:11] gvanrossum commented on #3006
If you wanted to make us really happy, you could get rid of the `filterwarnings` call, and delay importing of `warnings`, `re`, `importlib` and `contextlib`. That avoids any imports in the default `python -c pass` case that aren't already frozen.

[2022-01-06 22:25] gvanrossum commented on #3006
Answering my own question, this seems to get rid of the warning printed by importing `distutils` whenever `_distutils_hack` is imported. This could probably also be postponed, e.g. put this line in `spec_for_distutils()`.

(@jaraco, would it be helpful if I submitted a PR?)

[2022-01-06 22:46] tiran commented on #3006
The warnings filter is problematic for two reasons. It not only slows down startup. It also hides Python core's deprecation warning from *all* users that have a recent version of setuptools. Since the ``distutils-precedence.pth`` file loads the ``_distutils_hack`` package always, the filter gets installed every time, too. Virtually everybody has setuptools installed, too. This makes core's depreca

[2022-01-06 22:55] gvanrossum commented on #3006
Not quite. If you set `SETUPTOOLS_USE_DISTUTILS=stdlib`, `_distutils_hack` is not imported, and you *will* see the warning. However, I think your point remains -- a user who has old code that imports `distutils` will (likely) not get the warning when they have `setuptools` installed, *even if they're not using setuptools*. This seems to defeat the point of having the warning.

[2022-01-07 00:10] #2921 closed

[2022-01-07 00:13] #2950 closed

[2022-01-07 00:52] liskin commented on #2956
Somewhat related (just fyi): setuptools 60 defaulting to SETUPTOOLS_USE_DISTUTILS=local combined with https://github.com/pypa/pip/issues/6264 cause `AttributeError: install_layout` in `--system-site-packages` venvs. Reported as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1003252, although the primary cause is probably https://github.com/pypa/pip/issues/6264.

[2022-01-07 01:15] abravalheri commented on #2696
Hello, thank you very much for bringing this topic up.
As previously mentioned, the best place to discuss such change would be the https://discuss.python.org/c/packaging.

So I think I will close the issue for now, but please feel free to "re-open" it (or open a new one), if any action is needed from setuptools after some standardisation effort.

[2022-01-07 01:15] #2696 closed

[2022-01-07 08:46] ChihweiLHBird opened #3010 "[FR] Support Combination of Multiple `extras_require` Items in `setup.cfg`"
### What's the problem this feature will solve?

[code]

OR:

[code]

The `all` option that combines `a` and `b` in the first case is currently not available (if I didn't miss any docs).
So does `b` in the second case.

### Describe the solution you'd like

It would be very nice to support the `all` option mentioned above.

### Alternative Solutions

_No response_

### Additional context

_No resp

[2022-01-07 09:16] abravalheri commented on #3010
Hi @ChihweiLHBird thank you very much for bringing this up.

Since it is very likely that setuptools is going to move its configuration towards [PEP621](https://www.python.org/dev/peps/pep-0621/), I think it does not make much sense to implement this syntax in a `setup.cfg` basis...

Therefore, if you would to see this syntax change implemented in the future via `pyproject.toml`, I recommend posti

[2022-01-07 09:18] #3010 closed

[2022-01-07 10:52] tiran commented on #3006
## setuptools main branch

[code]

## with my fix

[code]

import of site went from 21774 to 8471.

[2022-01-07 12:44] ananthp commented on #2674
As [Python Packaging User Guide](https://packaging.python.org/en/latest/) is supposedly officially curated list of resources, and hopefully gets updated as things evolve, just mentioning about it here would be sufficient. I'll do that.

[2022-01-07 18:32] #2674 closed

[2022-01-07 18:38] luckman212 commented on #3002
In case anyone comes here because their `pipx` is broken on macOS (Homebrew) here's a set of steps I found that fixes it

[code]

[2022-01-07 19:31] abravalheri commented on #159
This issue seems to be mostly solved (thanks to the various contributions), right?

(... if we ignore the situations where the build frontend hides the warnings ...)

Is there anything left to do from the `setuptools` point of view?

[2022-01-07 19:44] abravalheri commented on #87
It's been a while that setuptools have this issue open but unfortunately all the attempts made to reproduce this problem seem to indicate it might be already solved in recent versions.

If anyone has more information on the undesired behaviour reported here, please feel free to comment bellow (preferably with an example and steps that would help to reproduce the result 😅), or open a new issue.

[2022-01-07 19:44] #87 closed

[2022-01-07 21:11] adamjstewart commented on #1930
Are there any setuptools developers who can take a look at this issue? Note that "easy_install is deprecated" is not an answer. We aren't trying to use easy_install, we're trying to install setuptools, but easy_install is being installed to a system location.

[2022-01-07 21:20] abravalheri commented on #1930
Hi @adamjstewart, thanks for bringing this subject forward.

If I understood correctly you are trying to install setuptools itself, and not calling `easy_install`.

Could you provide a little snippet that shows how you are installing setuptools?

[2022-01-07 21:21] adamjstewart commented on #1930
Yes, see the `spack-build-out.txt` file in https://github.com/spack/spack/issues/13738

[2022-01-07 21:34] abravalheri commented on #1930
I see... Thanks for that!
It seems that you guys are using `python setup.py install`.
I will try to have a look on that but I cannot promise I will manage it soon (unfortunately... sorry for that).

If you need something quick, I recommend having a look on https://installer.readthedocs.io/en/latest/.
Maybe you can write an auxiliary script and use it in your procedure (the maintainers are still tr

[2022-01-07 21:49] adamjstewart commented on #1930
Yes, we are planning on moving from `python setup.py install` to `pip install` in https://github.com/spack/spack/pull/27798. @LDAmorim @ax3l can one of you see if this issue still exists when using https://github.com/spack/spack/pull/27798?

I would love to use `build` and `installer` instead of `pip`, but unfortunately build/installer require build/installer to build and install all of their run-

[2022-01-07 21:55] abravalheri commented on #1930
Maybe copying `build/src/build/` and `installer/src/installer/` to a site-packages directory could work? (just guessing here...)

[2022-01-07 22:11] abravalheri commented on #1930
Wow, I see the egg/chicken problem now!

I wonder if this problem with `build`, `installer` is being discussed in https://github.com/pypa/packaging-problems or https://discuss.python.org/c/packaging/14...

[2022-01-07 22:28] abravalheri commented on #232
Thank you very much for pointing out at this problem!

I conducted some investigation, and my conclusions are as follow:

- `setuptools.commands.install` have a [`_called_from_setup` guard](https://github.com/pypa/setuptools/blob/a4c549dc8df0fd3f768283b5fdd7c90ab7cac43d/setuptools/command/install.py#L77).
  According to this guard, it will call `do_egg_install` (which delegates to `easy_install`)

[2022-01-07 22:28] #232 closed

[2022-01-08 00:06] abravalheri commented on #1930
Hi @adamjstewart, I tried to replicate (a simplified version of) this issue, using both a clone of the repository and the latest sdist in PyPI. You can follow the steps I took bellow:

#### git clone

[code]

[setuptools_clone_logs.txt](https://github.com/pypa/setuptools/files/7831912/setuptools_clone_logs.txt)

#### sdist

[code]

[setuptools_sdist_logs.txt](https://github.com/pypa/setuptools/fil

[2022-01-08 01:12] #3001 closed

[2022-01-08 10:15] Niccolum commented on #2988
Also created issue on pip repo

https://github.com/pypa/pip/issues/10770

[2022-01-08 10:45] pradyunsg commented on #2988
This is likely a bug with Debian's debundling of pip and how it handles virtualenv. See https://gist.github.com/tiran/2dec9e03c6f901814f6d1e8dad09528e for some more details on this.

The best folks to reach out to, are the maintainers for Debian's Python.

[2022-01-08 13:34] Niccolum commented on #2988
According previous issue, next steps solve problem:

- add deadsnake repo (default or nightly)
- `sudo apt install python3.10`
- `python3.10 -m pip`
- `git clone git@github.com:pypa/setuptools.git && cd setuptools && python3.10 setup.py install`
- `sudo apt install python3.10-distutils`
- `curl -sS https://bootstrap.pypa.io/get-pip.py | python3.10`

Don't know, is it needed to clone setuptools and

[2022-01-08 16:08] abravalheri commented on #2318
I believe that this issue can be solved by renaming the `fixtures.py` file to `conftest.py`, since pytest natively supports [per-dir local plugins](https://docs.pytest.org/en/stable/writing_plugins.html#conftest-py-local-per-directory-plugins).

I have a running proof of concept that expands upon https://github.com/pypa/setuptools/commit/645bda8220d80f402a7b7d8e04588bc8906cab59 with some minor cha

[2022-01-08 16:42] jaraco commented on #3007
I'm not sure what should happen here. Setuptools could potentially add another exclusion to the hack if there's a reliable signal to detect building CPython. Or maybe users should simply not add Setuptools to the site packages while building CPython. What's the motivation for having Setuptools present at this stage?

[2022-01-08 19:07] jmroot commented on #3007
There's no particular reason to want to be in this situation, it just happens sometimes when building python, usually a new version, after already having installed python and setuptools.

If the issue can be worked around in setuptools without too much effort, great; otherwise I guess it's sufficient to just document it somewhere. Presumably it will eventually go away when distutils is dropped fro

[2022-01-08 19:36] #3006 closed

[2022-01-08 20:55] ptmcg commented on #2988
I had to change the git clone line to:

    git clone https://github.com/pypa/setuptools.git && cd setuptools && sudo python3.10 setup.py install

But otherwise, this took care of things, thanks!!!

[2022-01-08 20:57] jaraco commented on #3007
I took a look at the traceback above, but by the time `import distutils` is encountered in the setup.py, it's too late, so there's very little signal for Setuptools to detect that it's Python. It could theoretically detect that 'setup.py' is in the call stack and open that file and parse it for `setup(name="Python")`, but that would be expensive and would have to be done anytime any project import

[2022-01-08 21:00] jaraco commented on #3000
Another option could be to supply the cmdclass as a plugin. If you were to implement `custom_build` as a library like `lzuudgs_custom_build`, then declare that dependency in your `build-system.requires` (pyproject.toml), then it would be available to the setup.cfg for PEP 517 builds.

[2022-01-08 21:31] jaraco commented on #2988
FYI, I would not invoke 'setup.py install'. Instead, use an installer like pip to install... or not install setuptools at all if you don't need it.

This issue is a duplicate of #1401.

[2022-01-08 21:31] #2988 closed

[2022-01-08 21:34] jaraco opened #3016 "Cygwin CI has started failing"
CI is failing during the install step with this output:

[code]

[2022-01-08 21:35] ptmcg commented on #2988
Jaraco - the problem is that pip is broken, otherwise I would do so.
Thanks for chiming in, though - I'll take all the help I can get!

[2022-01-08 21:39] jaraco commented on #3016
I manually released 60.4 and 60.5, which were blocked by this issue.

[2022-01-08 21:44] jaraco commented on #3016
@mkoeppe Would you be willing to look into the issue?

[2022-01-08 21:47] jaraco commented on #3001
Released with 60.4.0.

[2022-01-08 22:25] jaraco commented on #2988
I created this dockerfile to bootstrap pip:

[code]

And it runs to completion. From there, you can pip install setuptools. Maybe that helps?

If I leave out `python3.10-distutils`, then the pip invocation fails when `distutils.cmd` doesn't exist (different error than reported above). That seems to coincide with the answer in the pip issue.

In any case, hope that helps.

[2022-01-09 00:42] abravalheri opened #3017 "[BUG] Setuptools is including test files in its own wheel"
### setuptools version

main branch: 464568d

### Python version

Python 3.8

### OS

Ubuntu 20.04.3 LTS

### Additional environment information

_No response_

### Description

Setuptools own wheel contain some test files, which is undesirable.
Moreover it indicates that either:
1. `find_namespace_packages` is struggling to handle the exclude patterns, OR
2. the exclude pattern configuration is i

[2022-01-09 00:57] abravalheri commented on #3017
Currently the code for the package finder has the following comment:

[code]
So I assume that if the `exclude` matches a parent module, its children are not automatically excluded... (this is a bit confusing, but definetely intentional)

Therefore the solution would be adding `*.tests.*` to the exclude patterns.

[2022-01-09 01:28] abravalheri commented on #3017
@jaraco I am curious now...

What was the factor motivating the decision of not excluding "children" packages whose parents where excluded. Do you have any thoughts about that?

I understand that it brings more flexibility... but it is also more error prone.

Is it something we would like to change? (In terms of implementation, it all boils down to the indentation level of this [code block](https:

[2022-01-09 03:07] webknjaz commented on #3017
pytest emulates this through import hooks and rewriting bytecode IIRC

[2022-01-09 06:08] lazka commented on #3016
We could switch to the official action like in https://github.com/pypa/distutils/blob/788cc159e4d734b972e22ccf06dbcd8ed8f94885/.github/workflows/main.yml#L35 to avoid depending on choco

[2022-01-09 14:17] jinserk opened #3019 "[BUG] Permission denied error to install pkg editable and user mode"
### setuptools version

60.5.0

### Python version

3.10.1

### OS

Archlinux

### Additional environment information

_No response_

### Description

When I install a custom package with pip in user mode and editable, it produces permission denied error:
[code]

### Expected behavior

Install the package into `$HOME/.local/lib/python3.10/site-packages`

### How to Reproduce

1. Check you're using

[2022-01-09 16:06] abravalheri commented on #3019
Hi @jinserk, thank you very much for submitting this issue.
Could you please use the verbose mode in pip (`-vvv`) and also send us the log (not only the output)?
(you can specify a file to collect the logs with `--log`).

[2022-01-09 16:08] abravalheri commented on #3019
Also, what would be your output for the command `python3 -c 'import site; print(site.USER_SITE)'`?

[2022-01-09 16:31] abravalheri opened #3020 "[CI] Failing tests for PyPy shadowed by running tests wih `usedevelop=True`"
After some intense investigation in #3015, it seems that the following tests would fail for PyPy, if the test suite was run with the packaged version of setuptools instead of `usedevelop=True`:

PyPy3.7 for `SETUPTOOLS_USE_DISTUTILS=local` on OSX and Linux (Windows passes 😨)

  1. [The newly introduced performance regression test](https://github.com/pypa/setuptools/runs/4751302716?check_suite_focu

[2022-01-09 16:37] abravalheri commented on #3020
I can confirm that the same error happens with different approaches for test isolation:

1. If we rely on the ["bare" `pytest`](https://blog.ganssle.io/articles/2019/08/test-as-installed.html), move `{setuptools,pkg_resources}/tests` to `tests/{setuptools,pkg_resources}` and move `setuptools/tests/fixtures` to `tests/setuptools/conftest.py` to get rid of [the problems with the imports in the tests

[2022-01-09 16:40] abravalheri commented on #3020
So my conclusion is that it seems to be either:

1. a bug in `pkg_resources` for PyPy, OR
2. there is a problem with the way these tests are written (they need to be adjusted to better capture the functionality exposed in the code)

Both possibilities seem to be shadowed by the fact that we are testing in the develop mode.

[2022-01-09 17:05] abravalheri commented on #2318
After some investigation my thoughts are:

- Running the tests from the project root may be subject to implicit injection of `PYTHONPATH` for `subprocess.Popen` / `runpy` / etc ... So the isolation is leaky even if we rely on the "bare" `pytest` command technique described in the [linked article](https://blog.ganssle.io/articles/2019/08/test-as-installed.html)
- The `changedir` technique might int

[2022-01-09 18:14] jinserk commented on #3019
Thanks @abravalheri . Here is the log file using verbose option:
[code]

and the result of site.USER_SITE:
[code]

[2022-01-09 19:45] mkoeppe commented on #3016
I would think this was just an intermittent problem. Cygwin tests based on choco continue to work normally for us (https://github.com/sagemath/sage/runs/4752774122)

[2022-01-10 01:40] CAM-Gerlach commented on #1688
@cowlinator Well, that's what I was asking :slightly_smiling_face:  The high-level tasks are outlined [here](https://github.com/pypa/setuptools/issues/1688#issuecomment-645558322), but if the first steps could be broken down further into more atomic subtasks, perhaps it would be easier to get the ball rolling without committing the much larger time and effort to doing everything.

[2022-01-10 07:41] zluudg commented on #3000
That seems like an interesting option as well, @jaraco. But would I have to upload my `custom_build` library to PyPI? Or is there some way to keep it in the same repo as my project and still specify it as a dependency in `pyproject.toml`?

[2022-01-10 09:11] abravalheri commented on #1688
@CAM-Gerlach, @cowlinator would like to review https://github.com/pypa/setuptools/pull/2970?

Although it might be a bit dense (also because of the vendored dependencies), but I tried to break down to what would be equivalent to a few PRs (github does not offer native support to stacked PRs), and there are links and a diagram in the description showing so. (I did do a later rebase fixing some merg

[2022-01-10 11:03] takluyver commented on #2088
I believe you are mistaken. The files that setuptools calls `data_files` go into a folder called e.g. `foo-1.0.data/data` in the wheel, and should be installed from there to whatever directory the install scheme specifies for `data`.A lot of the wheel spec is quite vague and relies on existing knowledge of Python packaging, but the data directory is mentioned in [this section](https://packaging.py

[2022-01-10 11:08] frapa-az commented on #2965
Hi, I just got stuck in a similar error. On python 3.8 (which by the way is the default on ubuntu 20.04 LTS), with setuptools 60.x I am unable to install packages in editable mode without `SETUPTOOLS_USE_DISTUTILS=stdlib`. If I downgrade, install normally or add `SETUPTOOLS_USE_DISTUTILS=stdlib` the installation works as expected.

Here a reproducible example:

[setuptools_60_issue.zip](https://gi

[2022-01-10 12:05] abitrolly commented on #1688
Is there a forge that supports stacked PRs or MRs?

[2022-01-10 13:23] jaraco opened #3022 "Pip not available after get-pip with Setuptools 60.3"
Hmm, while `setuptools` v60.3 solved the reinstall failure, it became even worse as while `get-pip.py` run through without error `pip` remains uninstalled:
[code]
It says `Successfully installed pip-21.3.1` but in fact no trace of `pip` can be found, not the executable and also `/usr/local/lib/python3.9/dist-packages` contains `setuptools` and `wheel` modules only.

_Originally posted by @MichaIng

[2022-01-10 13:29] jaraco commented on #3000
It would have to be on PyPI or otherwise discoverable by pip, so not a good solution if the implementation is local to this one project.

[2022-01-10 15:50] zluudg commented on #3000
Ah, I see. I think I'll stick with my `setup.py`-approach for now since I have no hard requirements to be "pure PEP 517". But it's very good for me to know what options I have.

Thanks a lot for taking the time, @abravalheri and @jaraco. It's ok for me if you want to close this issue.

Cheers!

[2022-01-10 15:52] abravalheri commented on #3000
Thanks @zluudg, I think it is ok to leave it open now as a reminder to add a test case if #2970 gets merged 😝

[2022-01-10 16:03] zluudg commented on #3000
Sure, no probs!

[2022-01-10 16:27] abravalheri commented on #1688
@abitrolly according [to this article](https://muffinresearch.co.uk/how-do-you-deal-with-dependent-branches-on-github/) launchpad seems to support it (if I understood your question).

[2022-01-10 21:51] jaraco commented on #2993
In https://github.com/pypa/pip/issues/10775#issuecomment-1009375819, I summarize why I think the fix for this issue was inadequate:

I believe instead, the distutils hack should (a) detect get-pip, (b) detect "import setuptools", and in that case, satisfy "import setuptools" without actually importing anything and bypassing the distutils replacement.

[2022-01-10 22:14] jaraco commented on #3022
I believe this issue can be addressed by revisiting pypa/setuptools#2993.

[2022-01-10 22:14] #3022 closed

[2022-01-10 22:22] jaraco commented on #2993
In the 2993-redux branch, I've re-visited the approach, and I believe this branch also addresses the issue reported in #3022:

[code]

[2022-01-11 01:51] #2993 closed

[2022-01-11 14:27] r-bird opened #3024 "[FR] Constrain requirements to extras"
### What's the problem this feature will solve?

Consider you are using `package-a` and `package-c` in `install_requires` of your `setup.py` and `package-b` in `extras_require` as requirement for your `tests`:
[code]

`package-b` also requires `package-c`, but in a pinned down version `<=1.2.3` (because of a bug, removed feature, old python version, ...).

Now your project requires the awesome new

[2022-01-11 14:44] abravalheri commented on #3024
Hi @r-bird thank you very much for bringing this topic to discussion.

I am afraid, I don't understand exactly what is the feature you expect from setuptools...
Is the approach you describe related to a change the way the METADATA file is generated? If that is the case, for the given example, what would be your suggestion on how to generate the METADATA file?

(Is there any clear solution for the

[2022-01-11 15:28] #3024 closed

[2022-01-11 18:03] jonathf opened #3025 "Support for Gcov coverage in extensions"
### What's the problem this feature will solve?

I have a Python package with a Pybind11 extension and I'd like to create coverage reports for both the Python and the  C++ code. I can do this by doing the following running:
[code]
This works because `-coverage` adds `.gcno` files in the build directory, which `coverage` recognizes and creates `.gcda` files. Finally gcov is used to create gcov file

[2022-01-11 22:32] jaraco opened #3026 "ValueError: invalid variable 'py_version_nodot_plat' in easy_install"
The error persists with `setuptools==60.5.0`: https://github.com/Delgan/win32-setctime/runs/4750681694?check_suite_focus=true

_Originally posted by @Delgan in https://github.com/pypa/distutils/issues/103#issuecomment-1010303322_

[2022-01-12 04:39] CAM-Gerlach commented on #1688
Wow, thanks for the work, @abravalheri ! Unfortunately, I'm far less knowledgeable about Setuptools' internals than you, let alone a core developer or maintainer, so I'm afraid I'm not much more help on the review, but good on you for taking that on! However, I can _potentially_ help with some of the technical writing work, since that's closer to my expertise, though I'm already championing at lea

[2022-01-12 18:56] bostonrwalker commented on #2220
@embray I like this feature idea a lot. Did you start any work on it?

If possible, you should also be able to compile and include C libraries through the "libraries" argument.

[2022-01-12 20:16] jonathf commented on #3025
Okay.

Note that this is not about the copile flags per-say. Since this is a compiled component, I still need the setup.py, which I can configure to handle the CFLAGS. I added it to the example to make the example complete.

But irrespectively of how the compiler get the added flags, no gcno files are generated when compiling with pip, only through `python setup.py build_ext`, which as I understan

[2022-01-13 18:01] #151 closed

[2022-01-13 18:16] abravalheri commented on #119
Is it correct to assume that the problem here just concern the (gui-)script wrappers being generated and not the other files?

If that is the case, I think currently `pip` is the tool creating these wrappers (since running `python setup.py install` is no longer recommended)... We could raise this issue with pip, but considering the [current market share for Windows 8.1 seems to be very small](http

[2022-01-14 02:17] #3026 closed

[2022-01-14 04:05] scdub opened #3029 "[BUG] PE wrappers missing Address Space Layout Randomization (ASLR) and Data Execution Prevention (DEP)"
### setuptools version

60.5.0

### Python version

Version independent

### OS

Windows x64

### Additional environment information

_No response_

### Description

The PE file wrappers (cli-32.exe, cli.exe, gui-32.exe
gui.exe) for [`launcher.c`](https://github.com/pypa/setuptools/blob/main/launcher.c) were built with Visual Studio 2008, and the current [`msvc-build-launcher.cmd`](https://github.

[2022-01-14 14:41] #3017 closed

[2022-01-14 15:47] jaraco commented on #3029
I'm happy to update the script wrappers, although they're deprecated. I'd like to move to relying on distlib for script wrappers. There isn't any formal tool chain for building the wrappers. I do insist that I or one of the maintainers do the actual building, so what we need from you is (a) a PR with an update to the build scripts and (b) instructions or a Docker image that can build them.

[2022-01-14 23:39] jaraco commented on #2825
In pradysung/vendoring#37, I learned that the vendoring project is uninterested in supporting the complexity of Setuptools, so if Setuptools were to adopt vendoring, it would need to at the very least provide its own orchestration of invoking vendoring across multiple configurations, which is barely preferable and in some ways more duplicative to the current vendoring technique. Moreover, other is

[2022-01-16 18:28] djhedges opened #3030 "Trouble with the packaging tutorial (Exit Speed)"
### OS version

Raspbian GNU/Linux 10 (buster)

### Python version

Python 3.7

### Pip version

pip 21.3.1

### Guide link

https://packaging.python.org/tutorials/packaging-projects

### Problem description

I'm attempting to package the project I've been working at https://github.com/djhedges/exit_speed.

This commit shows the pyproject.toml and setup.cfg I wrote as well as the directory structu

[2022-01-16 19:21] merwok commented on #3030
The repo is linked in the OP

Commenting out the unneeded package_dir and find options should work.  Package next to setup.py is the default scenario!
https://setuptools.pypa.io/en/latest/userguide/quickstart.html#automatic-package-discovery

[2022-01-16 19:28] djhedges commented on #3030
Feel free to transfer.
https://github.com/djhedges/exit_speed

[2022-01-16 19:28] abravalheri commented on #3030
If you do
[code]
Then `python -m build --sdist` will work...
If you do `python -m build --wheel` after that, it should also work...

The weird part is why when you try to do the 2 at the same time, things don't work...

[2022-01-16 19:40] abravalheri commented on #3030
Ok @djhedges can you confirm that after the changes in `setup.cfg`, if you add a `MANIFEST.in` file with:

[code]

things work properly?
(this should not be necessary and `.py` files should be added by default, so I am still investigating).

[2022-01-16 20:46] jaraco commented on #3007
@tiran had this to contribute:

[2022-01-16 20:47] tiran commented on #3007
Any kind of workaround of CPython's setup.py will only land in future releases of CPython 3.9 and newer. Python 3.6 and earlier won't get any new releases because they are EOL. 3.7 and 3.8 are in security-only mode.

[2022-01-16 20:53] tiran commented on #3007
https://bugs.python.org/issue46401 is another case of the same issue.

[2022-01-17 00:40] #2965 closed

[2022-01-17 00:40] #3007 closed

[2022-01-17 05:31] djhedges commented on #3030
Yes to last two comments.

- Making the changes to setup.cfg and running `--sdist` followed by `--wheel` was successful.
- Also adding the `MANIFEST.in` allows me to run `python3 -m build`.

I tried some other combinations and found after a successful build I could remove `MANIFEST.in` and `python3 -m build` succeeds.  I'm guessing theres an artifact of some sort left behind after the successful b

[2022-01-17 05:49] merwok commented on #3030
I’m sorry but the suggested MANIFEST.in entries don’t make sense to me, and just hide the issue.

The `packages` entry tells setuptools which files to include in a built distribution (with the same relative path for sdist, in the `lib` directory for wheels), and where to install them (directly from setup.cfg options or indirectly with wheel because they are in the right directory).  Adding them in

[2022-01-17 06:23] djhedges commented on #3030
I was able to upload the package with twine and install it on another machine with pip3.
[code]

But I can load the module
[code]

This seems rather small
[code]

[2022-01-17 07:33] FRidh commented on #1930
@adamjstewart in Nixpkgs I've been experimenting with migrating from pip to build and installer. I strongly suggest to go that direction as well, in time. Currently we're stuck at requiring `--prefix` support. Could you also have a look at https://github.com/pradyunsg/installer/pull/94#issuecomment-1013876999. If I'm correct you need it as well.

Regarding this issue, here's what we do in Nixpkgs.

[2022-01-17 07:37] FRidh commented on #1930
This is a common issue with bootstrapping. Unfortunately, there are quite some packages involved in this case. It has been discussed a bit on Discourse, and it's primarily up to the distro maintainers to work this out. For non-distro Python it is easy; just use pre-built wheels.

[2022-01-17 08:22] abravalheri commented on #3030
I completely agree with you @merwok. It is just part of the debugging process (which I am still investigating). It seems that at the center of the problem is the fact that setuptools is not able to find the files and adding a MANIFEST.in is a way of forcing that (also, I wanted to give  @djhedges  a quick workaround while we investigate the problem and find a final solution)..

[2022-01-17 08:26] abravalheri commented on #3030
Please note that if you open a REPL at the root of the project and run `setuptools.find_packages()`, setuptools seems to be able to find the packages correctly.  Given that adding a MANIFEST.in is a dirty workaround, my guess is that there is a problem with setuptools finding which files should be included in the distribution archive.

This theory is also helped by the fact that `python -m build -

[2022-01-17 08:49] abravalheri commented on #3030
Sorry to ask you again @djhedges , does this also happens for the MANIFEST.in hack (which should be seen just a temporary workaround to allow you to proceed with your work while we keep investigating the issue, but is by no means the definitive solution)?

[2022-01-17 10:35] psarka commented on #2710
Just a note: currently it does not work without `include_package_data = True`, and I can't get it to work in any way, except by using the MANIFEST.in file. My repro:

`TESTFILE.md`:
[code]

`setup.cfg`:
[code]

`pyproject.toml`
[code]

Commands:

[code]

dist/mypackage-0.0.1.tar.gz does not contain TESTFILE.md :(

[2022-01-17 10:44] abravalheri commented on #2710
Hi @psarka, could you show us how your file tree looks like?

Please note that `include_package_data = True` will only affect files inside the actual package directory, not the directory tree.

If you want to avoid using `MANIFEST.in` you can also have a look on `setuptools-scm` or another plugin for you specific VCS.

[2022-01-17 10:51] psarka commented on #2710
Ah, I see, I missed that the files have to be in the package folder. I'll stick to MANIFEST.in then.

Just in case, my tree is just these three files.:

[code]

[2022-01-17 12:07] abravalheri commented on #2710
Sorry if that is confusing in the docs: https://setuptools.pypa.io/en/latest/userguide/datafiles.html

Both `include_package_data` and  `package_data` will only work with files inside the package directory (not the root of the project).

[2022-01-17 13:13] mgorny commented on #2912
The problem with build isolation affects "simpler" packages than that — basically any package that uses C extensions is affected. For example, if I take Pillow and run:

[code]
(this is with PyPy 3.8)

then the Python 3.8 wheel is going to incorrectly include extensions built for PyPy3:

[code]

[2022-01-17 14:06] kloczek opened #3032 "[BUG] 60.5.4: pytest is failing in few units"
### setuptools version

60.5.4

### Python version

3.8.12

### OS

Linux/x86_64

### Additional environment information

Full list of modules installed in build env:
[code]

### Description

Duting iupgrade from 60.1.0 to the latest 60.5.4 found that pytest is failing.

### Expected behavior

pytest should not fail.

### How to Reproduce

I'm using the typical PEP517 based build, install and test

[2022-01-17 15:33] jaraco commented on #3032
I see in at least one of the failures this traceback:

[code]

Setuptools 60.1 changed the hack to use `ensure_shim` but that approach turned out to be problemmatic, so in 60.2, that was changed back to `add_shim`. Therefore, if you have an environment that has Setuptools 60.1 installed, but then a version of Setuptools other than 60.1.x is present on sys.path, the .pth file will fail to find the

[2022-01-17 15:45] abravalheri commented on #2710
Hi @greyltc, I think this issue has been solved in #2844, and should already be fixed in the latest version of setuptools.

I tried to reproduce the problems with the commands bellow, and everything seems to be fine:

[code]

Please let me know if there is any problem left, otherwise we can close this issue.

[2022-01-17 15:46] jaraco commented on #3032
All of these issues seem to stem from the fact that setuptools is additionally installed in another location. Probably your best bet is to run setuptools' tests without having an older version of setuptools installed in the environment.

[2022-01-17 15:50] abravalheri commented on #3032
@jaraco would this be related to #3015 somehow?

However, the failures here are different from the ones I found in my investigation, which it seems to be caused by the update and `ensure_shim`.

[2022-01-17 16:01] adamjstewart commented on #1930
Yes, we first used Nix's approach for bootstrapping pip/wheel/setuptools from source, but eventually moved to self-installing wheels as suggested in https://discuss.python.org/t/bootstrapping-a-specific-version-of-pip/12306. We found this to be much simpler since we need to support a wide range of Python versions that aren't all supported by the latest versions of pip/wheel/setuptools.

We would l

[2022-01-17 16:03] adamjstewart commented on #1930
Getting back to the original issue, @LDAmorim @ax3l can you try to reproduce this with the tip of develop in Spack? If you can't reproduce the issue anymore then I'm guessing this has been fixed (either in setuptools or in Spack).

[2022-01-17 16:07] jaraco commented on #1662
Here's how I'd approach it: manually uninstall distribute. Upgrade pip. Install setuptools with pip. Install numpy.

I did not mean to let this issue become stale. I hope by now you've figured out a solution.

[2022-01-17 16:07] #1662 closed

[2022-01-17 16:07] kloczek commented on #3032
Ha .. and that is very importand detail.
I've assumend that `setuptools` pep517 build procedure requires installed `seruptools` 😄

Just made the test build without installed `setuptools` and build is OK however pytest fails like below:
[code]
I've tested and `--pyargs setuptools.tests` does not help.
May I ask what is (still) missing in case of my procedure? 🤔

[2022-01-17 16:12] abravalheri commented on #3032
Thanks @kloczek. Now it is the same errors I see in https://github.com/pypa/setuptools/pull/3015!

Please consider that the current layout of the setuptools directory does not allow you to run the tests with a installed version of setuptools (you can check the comments in the commit above for more details on why that happens).

Changing this requires a series of workarounds which increases complex

[2022-01-17 16:25] kloczek commented on #3032
Just found that because I'm building `setuptools` as rpm package and because I'm building as well documentation `sphinx` has run time/install time `setuptools` dependency.
So even if I've removed `BuildRequires: python3dist(setuptools)` actually that module has been installed ..
I've checked and looks like none of the `sphinx` code has "import setuptools" or similar.
So I've added patch to `sphinx

[2022-01-17 16:25] abravalheri commented on #1930
@adamjstewart @LDAmorim @ax3l, please also notice that using `python -s` might be problematic.
The current version of setuptools rely on a `.pth` file to load the correct version of distutils.
This is required during the transition period while distutils is deprecated and scheduled to be removed from the stdlib (i.e. will be necessary until the EoL of 3.11)

[2022-01-17 16:27] kloczek commented on #3032
So in this casa I should alter my testing procedure to nor use $PYTHONPATH and pointing to </install/prefis> sitelib directory.
Is that correct? 🤔

[2022-01-17 16:52] abravalheri commented on #3032
Sorry I don't think that be enough. The folder `setuptools/tests` has to be collocated with the rest of the `setuptools` package that you are testing against, moreover the `conftest.py` also needs to be properly placed.

I am afraid that this kind of test is not currently supported.

[2022-01-17 16:54] abravalheri commented on #3032
Please notice that `build_sphinx` has been deprecated by the `sphinx` team and should be removed soon.
You might have to replace calls to `build_sphinx` with their custom CLI client `sphinx-build`.

[2022-01-17 17:11] abravalheri commented on #3030
I found the problem 😄 ... It is very difficult to spot but there is a problem in the configuration:

[code]

The packages configuration needs to be included inside the `[options]` section. That was the thing causing trouble. Please note that this is covered by the [Packaging tutorial example](https://packaging.python.org/en/latest/tutorials/packaging-projects/#configuring-metadata).

@djhedges cou

[2022-01-17 18:23] djhedges commented on #3030
Haha, I had a feeling I was doing something silly.   Thanks for your help!  That indeed was the needed fix.

[2022-01-17 18:24] #3030 closed

[2022-01-17 18:33] lazka commented on #3016
I've created #3033 either way. Feel free to merge or close.

[2022-01-17 19:06] abravalheri commented on #3019
Hi @jinserk, thank you very much for providing the logs.

Unfortunately pip does not help a lot by hiding the stack trace of the error :(
So I will have to investigate it deeper. I am afraid it might take some time.

[2022-01-18 10:32] ashemedai commented on #1929
The PEAK link works when I just checked it.

[2022-01-18 10:36] ashemedai opened #3034 "[Docs] Update section about mailing list and bug tracker"
### Summary

Reading https://setuptools.pypa.io/en/latest/setuptools.html there's a section at the bottom:

Clicking around shows the mailing list is now defunct. Happy to adjust the documentation, but I have no idea what the process is now? Straight to issues, search, then file if not found?

### OS / Environment

_No response_

### Additional Information

N/A

### Code of Conduct

- [X] I agree

[2022-01-18 11:10] abravalheri commented on #3034
Thank you very much for spotting that @ashemedai!

I think the [`discussions`](https://github.com/pypa/setuptools/discussions) tab on GitHub are a good place to start, since it is specific to setuptools.

There are other channels, but this seems to be the more focused one in my opinion.

[2022-01-18 11:20] abravalheri commented on #1929
Thank you very much @louwers for spotting a potential problem and @ashemedai for checking it out.

I also confirm the link works...

However eggs are a very old format and since they were created the community devised 2, now standard formats, `sdist` and `wheel`... So I don't think that piece of text is relevant enough to be mentioned in the docs 😅

The part with "Automatically generate wrapper sc

[2022-01-18 11:20] abravalheri commented on #1929
Should we repurpose the issue with a new title to target the entire section being outdated?

[2022-01-18 11:24] ashemedai commented on #1929
I can try to submit a PR later in the week, but I profess not being fully up-to-date on all features/functionalities myself.

[2022-01-18 11:27] abravalheri commented on #1929
That would be super helpful @ashemedai, please feel free to submit something to your best knowledge, I or any other member of the community can take it from there :)

[2022-01-18 11:43] ashemedai commented on #1929
@abravalheri I know I should not have looked further, but here I am. If I look at pages like https://setuptools.pypa.io/en/latest/userguide/dependency_management.html they also still heavily refer to eggs and building eggs. I take it it would be nice if those could be polished/updated as well?

[2022-01-18 11:58] abravalheri commented on #1929
Thank you very much @ashemedai for spotting that also.

This is slight more difficult scenario right? I understand that [the entire section](https://setuptools.pypa.io/en/latest/userguide/dependency_management.html#dependencies-that-aren-t-in-pypi) is kept there mostly for supporting people maintaining old packages.

Maybe the best would be augmenting the warning and moving it to the bottom of the

[2022-01-18 12:35] ashemedai commented on #3034
I can create a PR for the discussions pointer at least. Can integrate other suggestions as needed.

[2022-01-18 16:26] MangelFdz commented on #436
So annoying this bug... I tried to delete the .egg-info directory and I can not update the files included in my python package by updating the MANIFEST.in. Even if I delete the whole MANIFEST.in file, when I rerun "$ python setup.py sdist" the SOURCE.txt include all the old files I included in the MANIFEST.in.

Is not there any fix for this bug yet?

[2022-01-18 16:40] abravalheri commented on #436
@MangelFdz do you have a reproduction? This does not seem to be the same problem described previously in this issue (for that problem things should work when you remove the `.egg-info` directory).

[2022-01-19 02:34] #3016 closed

[2022-01-19 12:05] abravalheri commented on #2407
Hi @Pike, distutils does print some logs as the previous comment pointed out, however data files are included in the final archive distribution even when implicit namespaces packages are being used.

I think the problem here is the way you are using `include_package_data`.

Setuptools works is by building distribution artifacts in 2 stages.
The first stage builds an archive called `sdist` that can

[2022-01-19 12:06] abravalheri commented on #2407
Please let us know if this works for you.
My conclusion is that this in not really a bug in setuptools (although distutils will be verbose about it).

[2022-01-19 13:49] abravalheri commented on #2790
Hi @mcarans, considering the latest developments and bug fixes in setuptools, [this experiment](https://github.com/abravalheri/experiment-setuptools-package-data) shows that `package_data` does affect both `sdist` and `wheel` (the previous behaviour was subject to a bug fixed in pypa/setuptools#2844.

Therefore currently it is possible to control everything from `setup.cfg`
(although I do agree wi

[2022-01-19 14:13] abravalheri commented on #2809
My understanding is that if/whenever setuptools adopts PEP 660, the responsibility for generating the script wrappers is transferred to the installer, right? (I believe that pip would generate wrappers as it does right now for regular wheels, based on the entry-points).

If that is the case, would it also be necessary for setuptools to generate those wrappers? Is there anything else I am missing h

[2022-01-19 14:18] abravalheri commented on #2807
This issue is related to #2892 (newer, but there is some discussion going on there).

[2022-01-19 14:47] abravalheri commented on #3032
Hi @kloczek, I believe that at this point we can say with confidence that the problems you are facing are the same ones described in #2318, and that the test mode you described is not currently supported by setuptools.

Since #2318 already exists and works as a request for implementing this feature, I will go ahead and close this issue as a duplicate.

You can subscribe to #2318 to receive updates

[2022-01-19 14:47] #3032 closed

[2022-01-19 14:54] kloczek commented on #3032
As Im using very simmilar %pytest rpm macro with what is used in Fedora looks l;ike that methodology which I've descriobed on top of this ticket goat of the #2318 goes in exactly the same direction.
So yea .. I agree with that 😄

[2022-01-19 15:00] abravalheri commented on #2967
Following up on Jason's comment, I can see in the provided logs the following errors:

[code]

I believe this is the same problem described in #3032.

There is an existing request for adding that support in #2318, so I think the best is to centralise all the attention in that ticket.

@kloczek I will go ahead and also close this ticket in favour of #2318. Please let me know if you think the errors

[2022-01-19 15:00] #2967 closed

[2022-01-19 15:03] kloczek commented on #2967
I've already sbscibed to #2318. Thank you 😄

[2022-01-19 15:07] abravalheri commented on #2318
Update: The investigation in #3015 was completed. The available PR implementation makes it possible to run the test suite against an installed version of setuptools, however:

- It adds complexity by employing a custom MetaPathFinder to workaround the "colocation" requirements
- It skips some tests in PyPy (performance and checkdocs), since PyPy seems to pre-load setuptools before the tests run an

[2022-01-19 15:48] balupton opened #3439 "`_distutils_hack` fails if called anything but `get-pip.py`"
### Description

Pip fails to install:

[code]

[code]

### Expected behavior

it to work fine

### pip version

latest

### Python version

3.9.10

### OS

21.2.0 Darwin Kernel Version 21.2.0: Sun Nov 28 20:28:54 PST 2021; root:xnu-8019.61.5~1/RELEASE_X86_64 x86_64

### How to Reproduce

this works fine:

[code]

this fails, which is common when say saving the installer to a randomly generated te

[2022-01-19 15:53] kloczek commented on #2318
Just tested that. Looks like negative result 😢
[code]

[2022-01-19 16:44] abravalheri commented on #2318
Hi @kloczek, I welcome you to post doubts and problems with the patch in the discussion of the PR itself: #3015. I will post me comments and recommendations for you there :)

[2022-01-19 17:21] webknjaz commented on #2318
@kloczek

This is a typical misconfiguration of the directory layout on your side. Caused by having two locations with copies of `setuptools` on `PYTHONPATH`.

[2022-01-19 21:59] dalcinl opened #3035 "[BUG] Issue with local distutils override, duplicate module entries"
### setuptools version

60.5.0

### Python version

3.9.9

### OS

macOS

### Additional environment information

edit(jaraco): ~~I explicitly state that I DO NOT AGREE with being forced to agree with the PSF Code of Conduct to submit this issue. I ticked the box just because I cannot continue otherwise. I hope this requirement for issue submission is an oversight. If not, please close this issue

[2022-01-20 14:04] kloczek opened #3037 "[FR] Add `pkg_resources` metadata"
### What's the problem this feature will solve?

I think that it would be good to add build and install `pkg_resources` module metadata.

### Describe the solution you'd like

With separated `pkg_resources` it would possible to add `pkg_resources` to build, runtime or test suite dependencies which could improve visibility what needs that module.

### Alternative Solutions

Alternativelely `pkg_res

[2022-01-20 14:59] #3034 closed

[2022-01-20 19:36] cboylan opened #3038 "[BUG] INFO log level is no longer default for some commands"
### setuptools version

60.0.0 and newer

### Python version

Python 3.8

### OS

OpenSUSE Tumbleweed

### Additional environment information

_No response_

### Description

When running certain commands setuptools seems to log at a `WARN` level and not `INFO` level which was the previous default. This appears to have changed with the switch from `stdlib` to `local` distutils vendoring in 60.0.0.

[2022-01-20 22:11] dalcinl commented on #3038
@cboylan I believe this is a duplicate of #3035

[2022-01-20 22:22] cboylan commented on #3038
I agree this seems to be the case. I'll leave this open as it has a bit of additional info, but won't be bothered if someone closes it. Or feel free to tell me I should close it and I'll do that.

[2022-01-21 15:13] dixonwhitmire commented on #2491
Hi @abitrolly so just to clarify for myself and possibly for others following this issue, is the next step here to discuss potential changes in  https://discuss.python.org/c/packaging/14 so that the PEP is updated with well defined statements?
Thank you!

[2022-01-21 15:49] abitrolly commented on #2491
@dixonwhitmire yes, that's correct.

[2022-01-22 13:05] abravalheri commented on #3038
Hi @cboylan, thank you very much for reporting this problem.

I believe I found the cause in #3042.

Could you provide a reproduction for this step:

so I can manually test if the fix I devised also applies to your use case?

(e.g. dummy package repository on GitHub).

[2022-01-22 13:35] abravalheri commented on #3037
Hi @kloczek, thank you for opening this issue.

Is this FR related to https://github.com/pypa/setuptools/issues/863 ?

If it is not related, what would be your request exactly? (I am afraid I don't understand what adding `pkg_resources` metadata means...)

[2022-01-22 14:21] kloczek commented on #3037
Yes. Simple I found type `A` has build or run time/install time dependency on `setuptools` when in reality it needs is needed `pkg_resources`.
At the moment `pkg_resources` is installed with own metadata
[code]
Those metadata provides module name which can be used in metadata of other modiles `Requires` fileds. If `pkg_resources` would be installed with its separated .dist-info metadata that visib

[2022-01-22 14:29] abravalheri commented on #3037
Thanks for the clarification @kloczek.

Creating a separated `.dist-info` directory for `pkg_resources` require distributing it as its own separated distribution archive (i.e. package file uploaded to PyPI), which is the request covered in #863. So I think we can consider this issue a duplicate.

Meanwhile if you are a maintainer of this package, please consider migrating over `importlib.metadata`

[2022-01-22 14:29] #3037 closed

[2022-01-22 17:13] jaraco commented on #3035
Thanks for the report. Unfortunately, all participants are expected to accept the code of conduct. I don't have any reason to exempt you from that otherwise uniform requirement. Since you appear to have some objection to that process, I recommend to (a) provisionally accept the code of conduct long enough to (b) file an issue with the [packaging discourse](https://discuss.python.org/c/packaging/14

[2022-01-22 18:51] kloczek commented on #3037
OK I understand.
Thank you.

[2022-01-22 20:47] CAM-Gerlach commented on #2971
@kloczek As several of the developers here have explained, standardizing a way to invoke building, and perhaps even packaging/installing docs (beyond just Sphinx, many projects nowadays use mkdocs or myST, and a handful use other builders) is a potentially valuable endevour worthy of discussion and listening to the needs of stakeholders like yourself (which, indeed, needs to happen before somethin

[2022-01-22 21:24] mgorny opened #3044 "[BUG] ensure_local_distutils is failing when pip is imported before setuptools"
### setuptools version

af875d6573c90c5df4a32f948dc65598c58dbf2b

### Python version

CPython 3.10.2

### OS

Gentoo Linux

### Additional environment information

_No response_

### Description

When `pip` is imported before `setuptools`, the `ensure_local_distutils` assertion fails.

### Expected behavior

No failing assertions ;-).

### How to Reproduce

[code]

### Output

[code]

### Code of

[2022-01-23 17:09] cboylan commented on #3038
In my case I just did a local modification to a small utility, bindep, that I happened to have on disk. I've pushed that modification up to https://review.opendev.org/c/opendev/bindep/+/825973. It has been so long since I wrote a proper setup.py that it would probably take me far too long to figure out so hopefully this works.

To grab this code yourself you can
[code]

If this doesn't work I can

[2022-01-23 17:36] pradyunsg commented on #3035
FWIW, for future reference, OP deleted their comment about refusing to follow the PSF CoC. You can see their comment quoted over on https://discuss.python.org/t/what-to-do-with-contributors-who-refuse-code-of-conduct/13287

[2022-01-24 12:20] abravalheri commented on #3038
Thank you very much @cboylan, I think the proposed patch #3042 does fix this problem.
These are the steps I took to confirm:
[code]

and this is the output:
[code]

[2022-01-24 12:44] #3038 closed

[2022-01-24 15:34] domdfcoding opened #3047 "[BUG] Setuptools handles MANIFEST.in different on Windows and Linux"
### setuptools version

60.5.0

### Python version

Python 3.6+

### OS

Windows 10

### Additional environment information

_No response_

### Description

If an entry is specified in `MANIFEST.in` with the path ending in a forward slash (e.g. `recursive-include shippinglabel/_vendor/ *` setuptools fails to include the files on Windows. When running on Linux and macOS (where the path separator is

[2022-01-24 17:06] abravalheri commented on #3047
Hi @domdfcoding thank you very much for reporting this and for all the effort you put into investigating it deeper.

This error seems to be an intentional validation, as documented in the docstring.

It is difficult to guess what were the initial motivations for the implementation, but I think we should give it the benefit of doubt.

Therefore my conclusion is that *setuptools does not currently s

[2022-01-25 11:37] mgorny commented on #2986
@jaraco, can this be solved by using the existing `setuptools.extern` mechanism to vendor wheel, or does "help wanted" mean you're looking for some other solution?

[2022-01-25 12:21] mgorny commented on #2986
Hmm, another interesting solution would be to switch wheel (and other vendored dependencies) to flit_core. It has much fewer dependencies and can be bootstrapped easily, so it would pave a clean way to bootstrapping setuptools without the necessity to bundle anything.

[2022-01-25 12:25] abravalheri commented on #2986
@mgorny, I think the long term plan is described in https://github.com/pypa/setuptools/issues/1386.

[2022-01-25 12:29] abravalheri commented on #2986
_Originally posted by @jaraco in https://github.com/pypa/setuptools/issues/1386#issuecomment-404719515_

Getting rid of this seems to be the desired outcome. (In this context https://github.com/pypa/packaging/pull/498 might be relevant).

[2022-01-25 12:46] kloczek commented on #2971
I know. I'm aware of that .. 😄
In meantime trying to package all stuff around `whey` (yet another pep517 backend) I found `sphinx-pyproject` module which IMO at least could be used as some example or staring point to implement something which I've sketched above.
However IMO that kind of functionality should be integrated at least into `build` module, and when it comes to installation `install`.
P

[2022-01-25 12:52] abravalheri commented on #1386
pypa/packaging#383 and pypa/packaging#498 might be relevant here.

[2022-01-25 17:56] lazka commented on #2946
https://github.com/pypa/distutils/pull/111 might help here

[2022-01-25 17:59] henryiii commented on #2946
Ah, that sounds promising.

[2022-01-25 20:57] mcarans commented on #2790
@abravalheri I have to admit that having examined what is included in my wheel, I found that the files I had listed in MANIFEST.in aren't there after all even though I have `include_package_data = True`.

I've realised though that my problem is more fundamental: I am not sure what _should_ be included in the sdist vs what _should_ be included in a wheel and don't know what gets included in each by

[2022-01-25 22:06] mgorny commented on #2986
I'm all for long term solutions but I think we need an immediate solution too, if only temporary.

[2022-01-25 22:25] mgorny commented on #2825
I would really love to see making unbundling easier without making bootstrap very hard. That said, as a distro packager I don't need it "perfect" from pure pip standpoint.

One possibility that I think might be worth exploring is trying to make a subset of setuptools needed for bootstrap work with smaller number of vendored dependencies, possibly via gracefully handling missing packages and runnin

[2022-01-26 00:38] CAM-Gerlach commented on #2971
The goal of `build` is to be a simple, correct PEP 517 build frontend, and `installer` a simple, correct wheel (PEP 427) installer, whereas this repo is that of Setuptools, a PEP 517 build backend. In order to implement it there (and in other frontends and backends), you'd first need to extend the wheel standard to support including and installing documentation (perhaps as a `.data` category, with

[2022-01-26 04:21] henryiii commented on #2912
I believe the ninja error will be fixed in the next scikit-build (you previously couldn't reuse a cached directory with a new venv, which this dual-usage was causing), but the underlying problem with reusing the same directory is still there, and will continue (as seen above, for example, with the extensions getting combined).

[2022-01-26 16:53] abravalheri commented on #2790
Hi @mcarans, I had a look in your project, tried to build it locally and it seems that both `MANIFEST.in` and `include_package_data = True` are working as expected.

I noticed that you have in your `MANIFEST.in`:
[code]
So I did:
[code]
and I noticed that all the files that are supposed to be in the wheel, are indeed in the wheel.

Please note that `package_data`, `include_package_data` and `exclu

[2022-01-26 18:19] mcarans commented on #2790
@abravalheri That is extremely helpful. The missing piece of knowledge you've filled for me here is that things outside the package directory (in my case `src/hdx`) will (intentionally) not be included in the wheel package.

[2022-01-26 19:03] abravalheri commented on #2790
Yeah, `package_data` will not help you with files outside of the package directory...

Think about the following:
- If you place your files inside the package directory you can use `importlib.resources` to locate them at runtime and read their contents.
- If you place your files outside the package directory how can you access them later? Each operating system can place them in a different locatio

[2022-01-26 19:11] abravalheri commented on #2790
This information *is supposed to* be available in https://setuptools.pypa.io/en/latest/userguide/datafiles.html. Please feel free to submit any improvement suggestions to the docs that you think would make them easier to understand 😄

[2022-01-26 22:40] th0ma7 opened #3055 "[BUG] [REGRESSION] Fails on cross-compiling when host = target x84_64"
### setuptools version

60.5.0

### Python version

3.10.2

### OS

Linux - Synology DSM toolchain

### Additional environment information

Part of the SynoCommunity ecosystem providing python package(s).
https://synocommunity.com/
Python 3.10 packages for all Synology NAS archs:
https://synocommunity.com/package/python310

Build using Synology toolchain.
Stages:
1. build host native
2. build cros

[2022-01-26 23:00] mcarans commented on #2790
Ok, will do

The issue is then that to have an sdist containing the recommended files like tests etc. requires having a MANIFEST.in (unless using setuptools_scm). It would be great if there were a flag in setup.cfg to say include all in sdist (as setuptools_scm does) and/or a way to specify everything in MANIFEST.in in setup.cfg. Given what you've said and what setuptools_scm does, I'd say the fla

[2022-01-27 09:55] abravalheri commented on #2790
@mcarans, just to make sure I would recommend you doing a `rm -rf build dist src/hdx_python_api.egg-info` before trying again.

[2022-01-27 10:14] dennlinger commented on #2988
FWIW, trying to run `sudo apt-add-repository -y ppa:deadsnakes` causes another issue for me:

[code]

[2022-01-27 10:44] abravalheri commented on #2790
Please note that I was describing my personal approach (and I also recommended using `setuptools-scm` for that). There are people in the community that may argue that you should only include the files your package need to run.

Regarding your new proposal: it is not trivial to implement a "include all" flag. There are lot of things happening in the developer's machine that create transient files.

[2022-01-27 11:00] imba-tjd commented on #2704
This can be closed.

[2022-01-27 11:04] #2704 closed

[2022-01-27 11:09] imba-tjd commented on #2898
The `MS_WIN64` needs to be defined in CPython. See https://github.com/python/cpython/pull/19326
Or you can define it by yourself.
`msc_ver()` has been updated. `dllwrap` has been removed.
This can be closed.

[2022-01-27 18:17] mcarans commented on #2790
@abravalheri I was caught out by failing to manually clean before building (not for the first time :-( ), something I hope will be resolved soon by the tools doing the cleaning (although it seems there is confusion about whether it is pypa build, wheel or setuptools that should do the cleaning: https://github.com/pypa/build/issues/206 https://github.com/pypa/wheel/issues/147#issuecomment-102156523

[2022-01-27 23:43] th0ma7 commented on #3055
After quick testing I can confirm that issue first appeared with version 60.3.0.
I'll try to see if I can bisect to the actual commit in the coming days (not sure exactly how, but will investigate)

[2022-01-28 09:13] abravalheri commented on #2986
Sorry @mgorny, I completely misunderstood your first comment in this thread, I thought you were interested in giving an alternative implementation a try 😅, so I went around collecting some links that could help...

I completely understand that, would you or @jameshilliard like to help implementing this temporary solution and helping to maintain it until we migrate to the long term vision?

[2022-01-28 09:15] mgorny commented on #2986
Sure, I just wanted to know if the `_vendor` approach is seen as a acceptable temporary solution.

That said, I'm currently a bit busy but I can give it a try once I manage some free time. No promises, though.

[2022-01-28 15:16] abravalheri commented on #2565
Hi @chmike, thank you very much for bringing this topic up!

Your problem description makes a lot of sense to me.
Would you be interested in providing a PR to add support for such a feature?

Just as a reference, these pieces of code might be relevant:

- [_distutils.command.sdist](https://github.com/pypa/setuptools/blob/1a1397a4ef0327ba09ddd4a3d0916af48d3be7ec/setuptools/_distutils/command/sdist.

[2022-01-28 15:34] abravalheri commented on #2563
Hi @homeworkprod, thank you very much for bringing this topic up.

I did a quick investigation and it seems that this problem has already been solved 👏

I tried to verify this problem, by using one of your opensource repositories in GitHub:

[code]

Is that the outcome you had in mind? Would this approach work for you?

---

Since it looks like this problem was solved, I will go ahead and close th

[2022-01-28 15:34] #2563 closed

[2022-01-28 15:55] abravalheri commented on #2630
Hi @omry, thank you very much for bringing this up.

I think it all boils down to the fact that you are using the [`include` parameter with `setup.py`](https://github.com/omry/python-build-tests/blob/b41f71606e27a639cf40c754baebaaa3afc2df7f/namespace_package_example/setup_py/setup.py#L10), but then you use [`exclude` with `setup.cfg`](https://github.com/omry/python-build-tests/blob/b41f71606e27a63

[2022-01-28 15:55] #2630 closed

[2022-01-28 16:03] abravalheri commented on #2624
Hi @jaraco, I investigated this in https://github.com/pypa/setuptools/pull/3018 and https://github.com/pypa/setuptools/issues/3017.

As noted in https://github.com/pypa/setuptools/issues/3017#issuecomment-1008202943, `find` and `find_namespace` will not automatically exclude sub-packages of a previously excluded parent package (this is explicitly mentioned in a code comment).

For the time being I

[2022-01-28 16:03] #2624 closed

[2022-01-28 16:07] abravalheri commented on #2610
Thank you very much @KOLANICH for bringing this up, and thank you @FRidh for giving us some pointers on where the discussions were happening.

So it seems that some part of this issue is being discussed in https://github.com/pypa/setuptools/issues/2491 and the other part should be taken to https://discuss.python.org/c/packaging, before we can proceed right?

[2022-01-28 16:10] abravalheri commented on #2609
Hi @Colin-b, thank you very much for bringing this issue up.

Can you provide a simple git repository with a reproduction so we can investigate this use case?

[2022-01-28 16:19] abravalheri commented on #2554
Hi @tovrstra, thank you very much for submitting this!

It seems that the problem has already been fixed in the [`pypa/distutils` repository](https://github.com/pypa/distutils/blob/bb018f1ac34bb638ef0aa76d7fff0fe7dace6754/distutils/unixccompiler.py#L239) (which is where setuptools pulls distutils from).

Could you confirm if my assumption is correct?

I will close this issue for the time being, bu

[2022-01-28 16:19] #2554 closed

[2022-01-28 16:30] abravalheri commented on #2400
Hi @webknjaz, is the idea here to also add PyPy 3.8, or are we good with the current configuration?

[2022-01-28 16:45] abravalheri commented on #2348
Hi @phetdam for reporting the problem and also the solution.

I use WSL all the time here and I have never faced such problem. I assume it might be related to the code editor or IDE?

I think we can close this issue now since it does not seem to be related to `setuptools` directly, but please let me know if I am wrong and I will re-open it (it would be nice to have some dummy repository with a rep

[2022-01-28 16:45] #2348 closed

[2022-01-28 17:15] abravalheri commented on #1914
Hi @Rezzie thank you very much for bringing this up.

Currently setuptools parses both [`setup_keywords`](https://github.com/pypa/setuptools/blob/d3124ac33e1407ced092deb2e8854471773786d4/setuptools/dist.py#L457) and [`finalize_options`](https://github.com/pypa/setuptools/blob/d3124ac33e1407ced092deb2e8854471773786d4/setuptools/dist.py#L821) extensions during object initialisation, while the config

[2022-01-28 17:27] abravalheri commented on #1852
Hi @williamjamir, thank you very much for bringing this issue up.
I tried to find your reproduction repository but I think you have removed it. As some time has passed -- sorry for that 😅 -- I assume you have already solved this issue, so I will go ahead and press the close button 😝.

Please let me know if it still persists, I can re-open the issue and investigate.

---
P.S.: @maphew comment is ve

[2022-01-28 17:27] #1852 closed

[2022-01-28 17:33] layday commented on #2610
The wheel standard has nothing to say about compression.  The wheel standard would need to be amended before PEP 517 can be amended (presumably with the addition of an optional parameter to `build_wheel`).  This is the wrong venue to pursue either change.

[2022-01-28 17:34] abravalheri commented on #1775
Hi @ohnozzy, thank you very much for bringing this topic up.

While I agree with your idea, I think this kind of functionality would be better implemented in a plugin... What do you think? Would you like to give it a try?

Alternatively, someone might consider a simple CLI tool to "bump" a git tag + `setuptools-scm` instead to read the version from git directly.

A quick search shows me that there

[2022-01-28 17:38] layday commented on #2610
Of relevance: https://discuss.python.org/t/making-the-wheel-format-more-flexible-for-better-compression-speed/3810.

[2022-01-28 17:53] abravalheri commented on #1245
Hi @fredrikaverpil, thank you for bringing this up. My understanding is that script/entry-point wrappers are generated by the package installer, not the backend.

I am also under the impression that, currently when you `pip install` a package, `pip` will be the software generating those executable wrappers around `console_scripts` and `gui_scripts` entrypoints.

[2022-01-28 17:57] abravalheri commented on #1245
To support this feature, (which in my view is outside of the scope of the setuptools project) it would be necessary to coordinate some sort of metadata (e.g. in the core metadata specification) with the package installer (e.g. pip).

So I think the best place to start a discussion would be in https://discuss.python.org/c/packaging.

---

I will close this issue by now since I don't see any action

[2022-01-28 17:57] #1245 closed

[2022-01-28 18:13] abravalheri commented on #991
Hi @Niedes and @NicolasGoeddel thank you very much for bringing this issue up.
I am sorry no maintainer had the time to come back to you before.

Since `easy_install` is currently [deprecated](https://setuptools.pypa.io/en/latest/history.html#v58-3-0) and setuptools are now supposed to be used together with a proper PEP 517 build backend, I think there is not much left to be done here, right? So I

[2022-01-28 18:13] #991 closed

[2022-01-28 18:17] abravalheri commented on #984
Since now Python 2 reached its EoL, I suspect it is safe for us to close this issue... (but please let me know if I am wrong here).

[2022-01-28 18:17] #984 closed

[2022-01-28 18:21] abravalheri commented on #727
Thank you very much for reporting this.

It seems that whatever error was happening, it might has been corrected in following versions... So I think we can close this issue now.

Please let me know if the issue persists in the latest versions of setuptools and I will re-open the ticket.

[2022-01-28 18:21] #727 closed

[2022-01-28 20:34] KOLANICH commented on #2610
I'm mostly interested in editing zip files in-place without unpacking and repacking and moving parts. I have half-created ctypes-based bindings to `libzip` and plan to reimplement `ZipFile` on top of it.

Currently wheels have the metadata compressed. I'd like to have them always uncompressed, because it'd allow me editing it in-place by offset as if I have used a hex-editor without any changes in

[2022-01-28 21:04] phetdam commented on #2348
No problem and thanks. I'm sure if someone else has the same issue their Google search will eventually lead them here.

[2022-01-29 13:24] Goobley opened #3058 "[BUG] `export_symbols` kwarg of Extension modifies argument on Windows"
### setuptools version

setuptools=='60.5.0'

### Python version

Python 3.10.2

### OS

Windows 10

### Additional environment information

_No response_

### Description

Setuptools/distutils mutates the list passed to `export_symbols` (adding the necessary `PyInit_{ModuleName}`). This causes issues when providing the same list of functions to export to multiple `Extension`.

### Expected behavi

[2022-01-29 13:40] th0ma7 commented on #3055
While doing more testing it looks like something fixed this issue between 60.5.3 and 60.5.4.
Using this successfully until next official release:
[code]

[2022-01-29 15:07] webknjaz commented on #2400
Yep, add 3.8 too. This issue was filed before 3.8 even existed.

[2022-01-29 16:33] jaraco commented on #3020
I believe there's also a fundamental problem with the way the distutils hack has been implemented. Because 'setup.py' only implements the `distutils-precedence.pth` file for regular installs (not editable installs), the hack is only activated by the presence of the override in 'import setuptools'.

[2022-01-29 17:46] jaraco opened #3059 "Some setuptools tests run against stale artifacts"
In #2968, the team introduced the `setuptools_wheel` fixture, but due to a possible deficiency in pytest, that fixture gets used across test runs, even with a clean checkout.

I discovered this issue while working on adding some new vendored dependencies that relied on their package_data being present. During early testing, the package data was missing, but even after correcting the issue in the S

[2022-01-29 18:41] jaraco commented on #3055
Looking at the [history for 60.3.0](https://setuptools.pypa.io/en/latest/history.html#v60-3-0), there were basically two changes. One was about the _distutils hack relating to get-pip, so seems unlikely. The other was a distutils change where config vars are now honored from sysconfig, which seems a likely culprit. Here's the [code changes](/pypa/setuptools/compare/v60.2.0...v60.3.0).

Oh, that's

[2022-01-29 18:41] #3055 closed

[2022-01-29 18:47] jaraco commented on #3058
Nice find. Especially the MWE (nice work making it fit into a single file). This behavior does look like a bug to me. I'm a little surprised/not-surprised this issue hasn't been found for so long. Perhaps other users encountered it and worked around it by wrapping each use of `extra_export` in a `list()` call.

I suspect the fix is straightforward and a test for it shouldn't be too terribly diffic

[2022-01-29 19:28] jaraco commented on #3044
Thanks for the report.

This behavior is by design, albeit a somewhat cobbled, reactive design.

The `_distutils_hack` aims to make the local copy of distutils the default, causing `import distutils` to bring in the local copy. However, doing so when running pip breaks pip's assumptions about how distutils works (pypa/pip#8761). Until pip can drop its reliance on distutils or add support for using

[2022-01-29 19:28] #3044 closed

[2022-01-29 22:32] jaraco commented on #2329
I'm inclined to stick with the current behavior. There's value in not requiring these metadata values to be supplied in cases where the metadata is unimportant (tests, for one). The default values supplied are good defaults (UNKNOWN for name, 0 for version). The pip/build controls already provide good guardrails on ensuring the basic assumptions are met.

I'd similarly like the validation to work

[2022-01-29 22:32] #2329 closed

[2022-01-30 00:58] layday commented on #2329
So the validation PR was merged without actually hooking the validation logic onto anything or have I misunderstood? Meaning that setuptools will continue to build dists out of thin air.

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Sunday, January 30th, 2022 at 00:32, Jason R. Coombs ***@***.***> wrote:

[2022-01-30 10:54] th0ma7 commented on #3055
I can't say wetter it's related or not, ain't sure.
I'll confirm with next stable release.

[2022-01-30 14:59] jaraco commented on #2329
Yes, that's right. I kept the code because I thought it might prove useful to have at some point, but you make a good point - it's probably not worth keeping that uncalled functionality around.

Correct. And after thinking about this more, I'm confident this approach is the right one. After all, there are already protections against building a dist out of an empty directory in the higher level bui

[2022-01-30 16:16] #2854 closed

[2022-01-30 22:29] mgorny commented on #1383
This still happens when unvendoring is done, i.e. after removing `pkg_resources/_vendor`.

My reproducer is:
[code]

Unfortunately, something similar happens in [polybar](https://github.com/polybar/polybar)'s sphinx logic. IIUC one `Version` is created early, another one much later and I suspect in between Sphinx imports `pkg_resources` somewhere.

[2022-01-31 00:53] #112 closed

[2022-01-31 07:59] tovrstra commented on #2554
Thanks for checking this out. The code looks good to me, and it even seems to be a better fix.

[2022-01-31 12:23] domdfcoding opened #3063 "easy_install doesn't handle sysconfig vars being integers."
In the `create_home_path` function of `setuptools/command/easy_install.py` the code fails with an AttributeError if `path` is not a string. Since #3027 `self.config_vars` has been created from `sysconfig.get_config_vars()`, where the values can be strings or integers, such as `'WITH_PYMALLOC': 1`.

https://github.com/pypa/setuptools/blob/b2ba0e39918d58bd6c6b15093ddcdc42605040ce/setuptools/command/

[2022-01-31 16:02] rbeauchemin commented on #3063
We are also seeing this issue where `path` seems to be an `int` (not sure how that can happen in the first place). This is breaking our CICD pipelines. For now, we will add `<=0.60.5`, but let us know when this is fixed!

[2022-01-31 17:31] seanbreckenridge commented on #3063
Ran into this issue trying to`pip install -e .` a module locally:

[code]

[code]

Found a temporary solution for this [here](https://github.com/jupyter-widgets/ipywidgets/pull/3360), by specifying the `--prefix` -- Both

- `pip install --prefix=$(python -m site --user-base) --editable .`
- `python3 setup.py develop --prefix=$(python -m site --user-base)`

seem to work

[2022-01-31 19:39] kwinkunks commented on #2710
I can't quite tell what was fixed, or if the docs were updated or not, but by way of another data point:

- I added a directory called `include` containing the files to include to the package directory, not the project root.
- I added this to `setup.cfg`:

    [options.package_data]
    * = include/*

And it worked: my files are included in `site-packages/mypackage/include`.

What did not seem to

[2022-01-31 19:51] abravalheri commented on #2710
Hi @kwinkunks thank you very much for the feedback.

Adding a MANIFEST.in or MANIFEST file containing graft include or any variants I could think of like include include/* etc.

If you are specifying all the non-Python files with `[options.package_data]`, then `include_package_data` should not make a lot of difference (I also seem to remember that files specified by `package_data` automatically ge

[2022-01-31 23:03] mgorny commented on #1383
Ironically, this bug is now causing 60.6.0 tests to fail:

[code]

[2022-02-01 13:35] mantkiew commented on #3063
@seanbreckenridge  thank you so much for the workaround!!! I was going crazy for hours yesterday because of this bug. I was also able to now install two packages I needed. On Ubuntu 20.04, used `pip3 install --prefix=$(python3 -m site --user-base) --editable.` The relevant error to help people find this is
[code]
Tried with both pip 20.0.2 and 22.0.2.

[2022-02-01 13:53] kwinkunks commented on #2710
Thank you very much for this explanation, and thanks for everything you're doing to make packaging easier.

Re the docs, at the top of the page it says this:

But that did not work for me. The only thing that worked, and it worked on its own (without either `include_package_data` or `MANIFEST.in`), was `options.package_data`.

I am using only `setup.cfg`, with only the package name being set in `s

[2022-02-01 14:15] kamikredstone commented on #2901
Hey! Just wondering if anyone is working on this issue?

[2022-02-01 15:18] KOLANICH commented on #2901
IDK about other people, but I am currently NOT.

[2022-02-01 15:54] abravalheri commented on #2710
Thank you for the kind words and for the feedback @kwinkunks. I will try to propose a change in the docs soon (I have to admit I managed to accumulate quite a few TODOs for my open source projects this week, so I might take some time, please feel free to submit a doc PR meanwhile!).

Since I fixed the previous issue, I keep a benchmark for this class of problems in https://github.com/abravalheri/e

[2022-02-01 16:05] abravalheri commented on #3063
Hi @domdfcoding, thank you very much for finding this out and for the extensive investigation!

Any chance you can help us out with a PR? 😝

[2022-02-01 22:14] kwinkunks commented on #2710
All good -- that table is gold. Thank you very much! (I was on v58.0.4, now updated.)

[2022-02-02 00:44] #3059 closed

[2022-02-02 01:14] #3063 closed

[2022-02-02 08:42] mgorny commented on #1383
If anyone else's still looking for a "good enough" hack, I've ended up taking unbundling one step further and removing `setuptools.extern` entirely:

[code]

[2022-02-02 12:40] cz6ace opened #3071 "[BUG] AttributeError: 'WindowsPath' object has no attribute 'read_text'"
### setuptools version

setuptools==60.7.0

### Python version

3.8.10

### OS

Windows 10

### Additional environment information

_No response_

### Description

There's regression in compare to previous setuptools==60.6.0  (which works)

E.g. installing latest setuptools and pip and then installing e.g. `pathlib` fails with following error: `AttributeError: 'WindowsPath' object has no attribute

[2022-02-02 13:17] abravalheri commented on #3071
Hi @cz6ace, that you very kcih for bringing this up.

Is this error related to the fact you are installing `pathlib` specifically?

Can you reproduce this error without installing an external `pathlib` (or any package with a dependency on it)?

`pathlib` is suppose to be provided by the stdlib. (I.e. it should come with the Python installation, not from a package in PyPI). Overwriting it with a 3r

[2022-02-02 13:27] parthea commented on #3071
@abravalheri, Is it possible that a breaking change was introduced in 60.7.0? I haven't figured out how to work around the issue yet. I only encountered this issue today after [60.7.0](https://pypi.org/project/setuptools/60.7.0/) was released. I think I'm going to try re-creating the issue with a fresh environment and see if the issue still exists. There are only [2 reports](https://github.com/sea

[2022-02-02 13:36] abravalheri commented on #3071
Hi @parthea every release has a chance of breaking something for someone, so I don't discard the possibility, but the way this particular issue is described sounds like the problem is caused by a replacement of a module in the stdlib with a non-API compliant 3rdParty.

Either that or the Python docs are extremely misleading, since https://docs.python.org/3/library/pathlib.html seems to indicate `r

[2022-02-02 13:48] abravalheri commented on #3071
@parthea, for the problems you are facing, can you check if anyhow `pathlib` gets pulled from PyPI instead of being used from the stdlib?

If that is not the case, I think the best is to consider it has a different origin from the issue described here and open another ticket with a minimal reproduction.

[2022-02-02 14:02] jaraco commented on #3071
No one should be using `pathlib`. It was abandoned years ago and it masks the stdlib module and it doesn't even install on Python 3.10. If you need backward compatibility for pathlib, you should use `pathlib2`.

The reason the issue triggered with Setuptools 60.7 was because this version vendors jaraco.text, which utilizes importlib.resources/importlib_resources, which utilizes pathlib.

I apologi

[2022-02-02 14:07] thinhha opened #3072 "[BUG] FileNotFoundError jaraco/text/Lorem ipsum.txt when importing pkg_resources"
### setuptools version

setuptools==60.7.0

### Python version

3.9

### OS

Debian 11

### Additional environment information

_No response_

### Description

FileNotFoundError when importing `pkg_resources`

[code]

### Expected behavior

Pinning setuptools==60.6.0 in requirements.txt works fine. This issue started with setuptools==60.7.0.

### How to Reproduce

Using Bazel and [rules_python](ht

[2022-02-02 14:13] parthea commented on #3071
I'm using the built-in pathlib so it is a different issue.

[2022-02-02 14:22] abravalheri commented on #3072
Hi @thinhha thank you very much for opening the issue.

I just double checked the `wheel` published on PyPI, and it seems to include the file:

![image](https://user-images.githubusercontent.com/320755/152170344-1a518235-4e61-4438-81a1-76f98f3f12f0.png)

If I build setuptools locally with `python -m build`, I am also able to find the file.

I also double checked in setuptools' own configuration fi

[2022-02-02 14:33] cz6ace commented on #3071
We have the `pathlib` as a dependency, probably from `hexrec` package. Now I can see the most recent version got rid of it: "Removed dependency of legacy pathlib package; using Python’s own module instead."

No, just with pathlib

At the end - we can easily fix to upgrade the `hexrec` package which do not rely on obsolete `pathlib` any more.

This ticket can be closed if I understand it correctly.

[2022-02-02 14:34] #3071 closed

[2022-02-02 18:49] microprediction commented on #436
I have this issue. I have fallen back to just adding back in empty directories corresponding to those that were once in the MANIFEST.in

Not a great solution, but moving on I guess.

[2022-02-02 19:51] edward-watson-oxb commented on #3072
This is linked to the issue that Bazel [does not play nicely with spaces in file names](https://github.com/bazelbuild/bazel/issues/4327).

I've just been bitten with this whilst using a Poetry rule from Bazel, with no way to pin the `setuptools` version that I can find right now. So much for my deterministic build!

I've confirmed that renaming the file to use an underscore allows Bazel to symlink

[2022-02-02 20:09] jjhelmus opened #3073 "[BUG] DistutilsMetaFinder breaks distutils submodule imports when old setuptools is higher on path"
### setuptools version

setuptools====60.7.0

### Python version

Python 3.7

### OS

macOS

### Additional environment information

Similar to #2957, this occurs when an old setuptools is on path but a newer setuptools (with a distutils shimming .pth file) is installed.

### Description

This is a followup to #2957 where the .pth shim broke distutils imports when an older setuptools is higher on

[2022-02-02 20:37] abravalheri commented on #3072
Thank you very much for the investigation @edward-watson-oxb !

Would you (or any other member of the community) be interested in providing a PR with the name change to https://github.com/jaraco/jaraco.text? (As a temporary workaround for the bazel limitation)

I think that if the reasons are well explained, the upstream project has good chances of accepting it... Otherwise I am afraid that the fi

[2022-02-03 00:05] jaraco commented on #3072
Actually, I'll be unlikely to accept a change to rename the file without spaces. Setuptools itself has files that have spaces in the name. See #134. Can you look into how it is that bazel is able to build setuptools<60.7 without the issue?

[2022-02-03 00:18] jaraco commented on #3072
One thing that makes this issue particularly problemmatic is that the behavior is invoked on import, and it's behavior that Setuptools doesn't even need. I'm slightly tempted to move the functionality to another library entirely. It just feels like a whole lot of overhead to create an entirely new project to host functionality to be shared by pkg_resources and setuptools.

[2022-02-03 00:19] jaraco commented on #3072
I may consider patching jaraco.text when it's vendored to eliminate the file or rename it.

[2022-02-03 00:26] jaraco opened #3076 "Changelogs named 'docs' are lingering"
I see there are some docs changelogs lingering in the [changelog.d](https://github.com/pypa/setuptools/tree/main/changelog.d) folder. I could use some help:

- [x] Locating the releases pertinent to those entries.
- [x] Rendering those entries into the appropriate release.
- [x] Write a check that fails if wrong files are added (improve existing check).
- [x] Review the guidance to see if maybe th

[2022-02-03 01:17] jaraco commented on #3072
I looked into [making that property lazy-loaded](https://github.com/jaraco/jaraco.text/tree/feature/lazy-property), but that only led me to a [deficiency in doctests](https://bugs.python.org/issue46619). I'd probably have just inlined those two lines of text, except Python linters are hostile to long lines (hobgoblins of our collective minds), and I want to cleanly present the content (without int

[2022-02-03 08:30] aragilar commented on #2854
Should this have been closed? I'm aware https://github.com/pypa/setuptools/pull/2897 adds a possible workaround, but it might be nice to leave this open to track exposing the `get_requires_for_build_wheel` and `get_requires_for_build_sdist` in a more "official" way.

[2022-02-03 09:43] edge0701 commented on #3072
As far as I can tell, the manifest file is [only used on Windows](https://github.com/pypa/setuptools/blob/763cf01ef7df80a5d0b64ec69427336a9cb419b8/setuptools/command/easy_install.py#L2237). If Bazel is running on a Linux host, there is no attempt for the file to loaded.

In some cases of Bazel rules, they [ignore these files entirely](https://github.com/martinxsliu/rules_python_poetry/blob/5676129

[2022-02-03 10:33] kloczek commented on #2318
As https://github.com/pypa/setuptools/pull/3015 has been closed and because this ticket still is opened my undestanding is that solution of the "test as installed" issue still is on ToDo list. Am I right? 🤔

Thank you 😄

[2022-02-04 12:27] abravalheri opened #3079 "[CI] Deprecations in `pytest==7.0.0` make tests fail"
[Pytest 7](https://pypi.org/project/pytest/#history) that just came out a few hours ago is currently issuing a deprecation warning for `pytest-flake8`, which makes `setuptools` tests to fail:

[code]

This problem seems to be already reported in the project issue tracker: https://github.com/tholo/pytest-flake8/issues/83.

As a temporary workaround I believe we can take one of the following approac

[2022-02-04 12:28] abravalheri commented on #3079
Note, this issue also seems to apply to `pytest-perf`:

[code]

[2022-02-05 00:18] jaraco commented on #3079
This issue probably affects every project based on jaraco/skeleton. Maybe it would be best to address it there.

[2022-02-05 02:12] jaraco commented on #3079
The issue also affects pytest-black and pytest-mypy, but those are still disabled on this project. It may also affect pytest-checkdocs.

[2022-02-05 02:21] jaraco commented on #3079
Reported the issue to https://github.com/jaraco/skeleton/issues/57.

[2022-02-05 02:49] jaraco commented on #3079
Merged as 8c0228f35.

[2022-02-05 02:49] #3079 closed

[2022-02-05 13:21] asottile opened #3084 "[BUG] PR #3061 breaks zip importing with "ImportError: The 'jaraco' package is required;""
### setuptools version

60.7.1

### Python version

3.8.10

### OS

ubuntu 20.04

### Additional environment information

n/a

### Description

this breaks virtualenv (and others as it seems from nuitka/nuitka#1406) https://github.com/pypa/virtualenv/runs/5077580857?check_suite_focus=true

[code]

via this subprocess call

[code]

note that this is exercising the zipimporter, so this likely breaks

[2022-02-05 14:32] jaraco opened #3085 "Setuptools should not rely on pkg_resources"
This issue basically tracks the root goal of obviating pkg_resources, in particular that Setuptools depends on it.

Over the past few years, myself and others have worked hard to create `importlib.resources` and `importlib.metadata` in the goal of superseding pkg_resources. These libraries are now very stable and replacing much of the functionality provided by pkg_resources.

In https://github.com

[2022-02-05 15:26] jaraco commented on #3079
I'm addressing a follow-up issue in https://github.com/pytest-dev/pytest/discussions/9616.

[2022-02-05 15:58] finswimmer opened #3088 "Wrong Version detected with project_wheel_metadata"
Hello,

I'm not sure whether this is a problem with `build`, `pep517`, `importlib.metadata` or something different.

I triaged a potential bug in poetry 1.2.0a2 and realized the following:

When I build a wheel for the current `sqlalchemy` from it's [main branch](https://github.com/sqlalchemy/sqlalchemy) - after cloning the repo - by `python -m build` the `Version` field in `METADATA` is `2.0.0b1.

[2022-02-06 15:19] jaraco commented on #3084
I suspect the issue here is that `jaraco` is a namespace package and that the zip importer doesn't support namespace packages in subpackages but the standard importer does, and all the tests rely on the standard importer. Should be an easy fix.

[2022-02-06 15:31] #3084 closed

[2022-02-06 15:32] jaraco commented on #3084
Fix releasing with 60.8.1.

[2022-02-07 06:14] jaraco commented on #3076
I reviewed the docs and they mention ‘doc’.

[2022-02-07 06:14] #3076 closed

[2022-02-07 20:45] lazka commented on #3029
This might be relevant: https://bitbucket.org/vinay.sajip/simple_launcher/issues/9/ci-and-meson-support

[2022-02-07 21:00] jaraco commented on #3088
A similar issue was [reported in this comment](https://github.com/pypa/setuptools/pull/2872#issuecomment-966518478). There may already be a bug reported about it. I'd appreciate help to triage.

[2022-02-08 00:18] xjcl opened #3089 "[BUG] ensure_local_distutils seems to fail inside PyInstaller .exe (for new setuptools versions >= 60)"
### setuptools version

60.5.0 (>= 60.0.0 seems affected)

### Python version

3.7.7 on win32 (3.7 - 3.10 seem affected)

### OS

Windows 10

### Additional environment information

_No response_

### Description

I described this issue in detail on StackOverflow: https://stackoverflow.com/q/71027006/2111778 Below a copy:

----

**I am trying to convert some Python code into an `.exe` with PyInsta

[2022-02-08 03:03] jaraco commented on #3089
Sorry for the trouble. There's a lot going on here that we'll need to tease apart.

That's not the case. The latest releases of Setuptools still support Python 3.7.

It is the case that starting with Setuptools 60, however, Setuptools is adopting distutils (because stdlib distutils is expected to go away in Python 3.12), supplying its own copy internally and using the `_distutils_hack` to ensure t

[2022-02-08 03:55] xjcl commented on #3089
Thanks a lot for the quick reply.

I agree. `distutils` is deprecated in favor of `setuptools` (I incorrectly remembered it the other way around), so we should migrate our code to `setuptools` anyway. Correct me if I'm wrong, but this means the StackOverflow answer [I linked above](https://stackoverflow.com/a/50314071/2111778) is also misguided and should be changed from the top into the bottom?:

[2022-02-08 07:09] xjcl commented on #3089
I was able to repro this on 3.7 - 3.10 and as you suggested this issue was introduced in setuptools==60.0.0

Below is a PowerShell script which downloads and installs Python, then installs setuptools and pyinstaller, and then creates an exe out of a file which just imports the two packages.

[code]

Results:

[code]

It might be worth trying different versions of PyInstaller. I know it extracts pa

[2022-02-08 07:48] xjcl commented on #3089
On second thought my PowerShell script might overcomplicate things, plus the Python installer fails with exit code 0x666 if there is already a newer version on the system. So here a short manual guide assuming a pre-existing Python install.

1) Install via pip
[code]

2) Create file `repro.py` with content
[code]

3) Run (the .exe should be in the Scripts directory of your Python install)
[code]
T

[2022-02-08 16:49] xjcl commented on #3089
I tried to look at this myself a bit and it appears the expected file location is

[code]

i.e. setuptools replaces distutils with its own bundled version. While the actual value we get in the exe is the original distutils

[code]

I tried to follow the call chain unsuccessfully

[code]

but sadly the trace runs dry there, in fact my print statements stop working inside of `_boostrap.py`. I assume

[2022-02-08 17:26] xjcl commented on #3089
I was able to do some additional debugging by replacing

[code]

with

[code]

inside of `importlib/__init__.py`

----

**Findings:**

In Python, `sys.meta_path` is a list of importer objects (`BuiltinImporter`, `FrozenImporter`, `SourceFileLoader`, etc.) which are walked in order to find a module.
- `setuptools._distutils_hack` defines a `DistutilsMetaFinder` and appends it to the front of this l

[2022-02-08 17:31] maciejp-ro opened #3090 "[BUG] 60.7.0 breaks gevent monkeypatching"
### setuptools version

setuptools>=60.7.0

### Python version

Python 3.x (tested on 3.9 & 3.10)

### OS

Any (tested on Linux and MacOS)

### Additional environment information

_No response_

### Description

Recent changes in Setuptools, introduced in version 60.7.0, break `gevent` concurrent networking library. When `setuptools>=60.7.0` is installed, `gevent` is unable to monkey-patch the sta

[2022-02-08 18:01] xjcl commented on #3089
I'm noticing another issue. The `_distutils_hack.DistutilsMetaFinder` is actually at the front of the list TWICE in a normal run and ONCE during an exe run, in fact even before `import setuptools` is executed. Also any print statements inside of `_distutils_hack\__init__.py` do not get executed.

So I am perplexed how the `_distutils_hack.DistutilsMetaFinder` ends up at the front of the `sys.meta_

[2022-02-08 18:39] FFY00 commented on #3089
Are you sure the code isn't being loaded from a cache? What is the value of `_distutils_hack.__spec__.origin`?

[2022-02-08 18:43] xjcl commented on #3089
The value is `C:\Users\<omitted>\AppData\Local\Temp\_MEI57922\_distutils_hack\__init__.pyc`. The problem with PyInstaller is you get these temp files and don't know where they are from. I already tried deleting `_distutils_hack\__pycache__\*.pyc` files earlier with no success.

[2022-02-08 20:40] xjcl commented on #3089
There is a function `_find_spec` inside of `_bootstrap.py`. And this is called with a `path` argument, which is an array of str. In vanilla Python this is

[code]

as expected. Inside the exe the path also seems correct

[code]

The only problem is that the directory does not exist by the time `_find_spec` is entered.

Which makes no sense to me because I thought our call stack looked like this
[c

[2022-02-08 20:53] xjcl commented on #3089
Yeah I'm giving up on this now. Nothing here makes sense to me.

[2022-02-08 21:37] jaraco commented on #3090
Thanks for the thorough report and investigation and especially acknowledging:

I wanted to make that point too, that `pkg_resources` is largely deprecated and `importlib metadata` provides better performance and experience. `importlib_metadata` is even available on Python 2. I'd be happy to advise the gevent project in an effort to drop the dependency on pkg_resources.

I also agree that the intr

[2022-02-08 22:39] maciejp-ro commented on #3090
[`importlib_metadata` on pypi](https://pypi.org/project/importlib-metadata/) is marked as "Python :: 3 :: Only", and I couldn't find a Python 2 backport. However `pkg_resources>=60.7` won't be present on Python 2 either. I thought of adding `importlib_metadata` as a dependency for Python 3.6-3.7 and doing something like

[code]

[2022-02-08 22:53] #3090 closed

[2022-02-08 23:31] jaraco commented on #3090
The metadata is misleading. The latest releases of importlib_metadata support python 3.7 only, but there are older versions, still supported, that support Python 2.7+. The concern an implementer might encounter is that importlib_metadata 3.6 added a change to the API and deprecated an older API, but even there, [backports.entry_points_selectable](https://pypi.org/project/backports.entry-points-sel

[2022-02-09 10:40] stanislavlevin opened #3092 "[BUG] logging regression 60.6.0"
### setuptools version

60.6.0+

### Python version

3.10

### OS

ALTLinux

### Additional environment information

_No response_

### Description

With setuptools 60.6.0 one of the self-tests of tox fails.
This happens due to different outputs (stdout) of the same command between two setuptools versions.
Some of the expected logging records are missing in verbose mode.  These loggings are still

[2022-02-09 10:59] stanislavlevin commented on #3092
cc @abravalheri

[2022-02-09 11:05] stanislavlevin commented on #3092
ofc `distutils.dir_util.log = distutils.log` helps, but
[code]
may be affected (depends on import order).

[2022-02-09 11:39] abravalheri commented on #3092
This is related to https://github.com/pypa/setuptools/issues/3035.

Ideally we have to solve the problems identified in https://github.com/pypa/setuptools/pull/3046, but I don't have a clear idea on what is causing things to be imported twice...

Any help here would be more than welcome!

[2022-02-11 03:16] jaraco opened #3093 "Setuptools consuming excessive CI resources"
@jaraco I think the large # of jobs this introduces to setuptools' GitHub workflows is slowing down builds for other PyPA projects. There is a [limit of 20 concurrent jobs](https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration) org-wide for our plan, and setuptools has gone from 36 jobs in #3078 to 119 jobs here. I've noticed a significant backlog over at

[2022-02-11 03:19] jaraco commented on #3093
I too have noticed that Setuptools tests now take forever to run, and turning down concurrency, if that would help the other projects would only throttle Setuptools.

Maybe the new platform tests could be set up to be run only for tagged commits (releases) or for PRs with a particular tag to drastically limit the scope of these platform tests.

[2022-02-11 03:22] jaraco commented on #3093
I believe that push should limit the execution of these tests. Let's see if that improves the situation.

[2022-02-11 13:33] di commented on #3093
Thanks!

[2022-02-11 15:12] jaraco commented on #3073
Thanks for your patience. I'm getting ramped up on this issue today and I'd like to come up with a robust fix.

Thanks for your investigation and linking to prior issues. I'll continue to explore this issue here.

[2022-02-11 16:40] jaraco commented on #3073
I put together this patch:

[code]

It does have the desired effect of working around the issue, but it has the undesirable effect that it breaks pip upgrades of setuptools from source (because the directory with the .pth file is different from the source directory, so the distutils hack doesn't load, and setuptools assertion to ensure_local_distutils fails).

In other words, some workflows are ac

[2022-02-11 20:36] blink1073 commented on #3093
I'm happy to open a PR to add [Using concurrency to cancel any in-progress job or run](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-concurrency-to-cancel-any-in-progress-job-or-run) as well

[2022-02-11 21:27] jaraco commented on #3093
Sure. Let’s give it a try!

[2022-02-12 15:03] con-f-use commented on #2671
Just for clarification, because true to my nick, I'm a little bit confused. Can I put core metadata from PEP 621 into my `pyproject.toml` and expect that work with setuptools? What happens today (version 60.8.2) if I put core metadata into `pyproject.toml` and delete the duplicates from `setup.cfg`?

[2022-02-12 15:14] abravalheri commented on #2671
Hi @con-f-use, not yet. This feature is still under active development/review.

[2022-02-12 18:38] jaraco commented on #3093
Something else I'd like to consider - the matrix of tests is doubled by the SETUPTOOLS_USE_DISTUTILS=local/stdlib. Soon I'd like to remove that matrix, maybe to replace it with a single job to capture regressions in that space.

[2022-02-12 18:49] blink1073 commented on #3093
You can leave it out of the matrix and add an explicit include entry with that option.

[2022-02-12 18:50] blink1073 commented on #3093
(I'm happy to do that as well)

[2022-02-12 20:50] jaraco opened #3100 "Sage CI tests failing on bootstrap"
In 03ca0a3b34cf4edf23cb689301f9cf657b3faac8, I removed the bootstrap module from the project. This removal seems to have broken the Sage CI workflows ([example](https://github.com/pypa/setuptools/actions/runs/1834542049)).

The bootstrap script has been deprecated and issuing warnings since https://github.com/pypa/setuptools/commit/e3e7ff854038788d56d6d7f6624357b81341e876.

[2022-02-12 20:51] #3100 closed

[2022-02-13 16:59] mara004 commented on #2847
I am still experiencing this warning with setuptools 60.8.2 when using `bdist_wheel`.
(The project in question is [pypdfium2](https://github.com/pypdfium2-team/pypdfium2), just clone the project and call `pip3 install . -v` to reproduce)

[2022-02-13 17:28] abravalheri commented on #2847
@mara004, this seems to be related to the way `pip` is working internally.

I recon the project needs to adhere to PEP 517 and PEP 518, i.e. a `pyproject.toml` file needs to be present in the root of the project with contents similar to the following:

[code]

`pypdfium2` in particular seems to depend on the `__legacy__` behaviour, and also explicitly require the `wheel` dependency to run.

[2022-02-13 17:56] mara004 commented on #2847
@abravalheri First of all, thanks for the response.

I am already running the latest pip version 22.0.3

In what way is `pyproject.toml` related to the said deprecation warning? Why should `setup.cfg` not be sufficient?

What would I have to change so that the project does not rely on legacy behaviour?

[2022-02-13 18:11] mara004 commented on #2847
@abravalheri First of all, thanks for the response.

I am already running the latest pip version 22.0.3

Adding the above `pyproject.toml` breaks the build with obscure errors. Anyway, I don't quite understand the background - why should `setup.cfg` not be sufficient?

What would I have to change so that the project does not rely on legacy behaviour?

[2022-02-13 18:49] abravalheri commented on #2847
Hi @mara004,

The thing `pyproject.toml` would do is to change the way `pip` is building the project.
It seems to me that `pip` tries to run `python setup.py` when it does not find `pyproject.toml`.
When `pyproject.toml` exists, it will run the functions in `setuptools.build_meta` instead.

Recently, `setuptools` reserved to itself the capacity of executing `setup.py` files directly ("demoted" it

[2022-02-13 19:39] mara004 commented on #2847
Thanks for the help, this is really appreciated.
I'll have to look into `pyproject.toml` and the related PEPs more thoroughly to see if I can change my setup infrastructure. This will be quite complex since pypdfium2 has multiple setup files for different platforms, and it's totally built around some peculiarities of `setup.py`. (pypdfium2 uses external binaries, which is at thing that no other Py

[2022-02-13 20:22] pradyunsg commented on #2329
I'm a bit saddened to see this closed as no-action. ☹️

I'd argue this is a significantly worse experience than: if you build a degenerate project, you get an error telling you where you went wrong.

---

I still feel that adding a clear failure mode that "you're missing a name and/or version" instead of a default `UNKNOWN-0.0.0` distribution would be extremely helpful to users, especially for dia

[2022-02-13 20:24] abravalheri commented on #2847
@mara004, there are 3 things to consider in the case of `pypdfium`.

* The `setup.py` script is importing from the `platform_setup` folder as if it was a package. However, it does not contain a `__init__.py` file.

* The `sdist` does not seem to contain the `platform_setup` folder.
  * The installers are very likely to consider the sdist as an intermediate step to obtain the wheel. So they will cr

[2022-02-13 21:07] mara004 commented on #2847
You probably mean only if switching to the `pyproject.toml` build system? When I run `python3 platform_setup/setup_sdist.py sdist`, the `platform_setup` folder is included as expected, without the need for additional configuration.

[2022-02-14 08:50] jaraco commented on #1942
Setup.py invocations are largely deprecated and Python 3.7 is the minimum supported version, so this issue is double-obsolete. Thanks for the report and understanding.

[2022-02-14 08:51] jaraco commented on #2971
I don’t see or recall any attempts to deprecate/remove upload docs, but it does seem like the right thing to do.

[2022-02-14 10:48] kasium opened #3102 "[BUG] vendored importlib.metadata of setuptools 60.9.0 fails with 'PathDistribution' object has no attribute '_normalized_name'"
### setuptools version

setuptools==60.9.0

### Python version

3.7.1

### OS

Linux

### Additional environment information

Pip freeze

[code]

### Description

If I use the below python dependencies (mainly virtualenv, setuptools and importlib.metadata), setuptools fails with an error.

It works fine with the previous version of setuptools and newer versions of importlib.metadata. It seems like

[2022-02-14 10:50] kasium commented on #3102
I'm very sorry if this belongs to nox or virtualenv, but I have no clue where to start

[2022-02-14 11:22] Goobley commented on #3058
So, I ended up in the distutils codebase for other reasons, but tracked this down.
The offending line is [here](https://github.com/pypa/distutils/blob/bb74c98df88d072b83963a916ac3d749b1aa20e0/distutils/command/build_ext.py#L703) as `Extension` simply sets `self.export_symbols` to the list that is passed, and that list is extended here. I don't really know what the convention in the rest of the dis

[2022-02-14 12:08] judahrand opened #3103 "[BUG] Entry points are missing when supplied as a string."
### setuptools version

setuptools==60.9.0

### Python version

3.8.12

### OS

Debian

### Additional environment information

_No response_

### Description

When installing a Python package which uses `setuptools` and has at least one `entry_point` directly from Git the `entry_point` script is not created with `setuptools==60.9.0`.

I have verified that this does work with `setuptools=60.8.2` b

[2022-02-14 13:04] jitheshksn opened #3104 "databricks cli is not installing with latest setuptools version"
Facing issue with latest version of setuptools. databricks cli (latest version released on 4th Feb 2022) is not getting installed properly with latest version of setuptools (latest version today - 14 Feb 2022). It was working fine till 9th Feb 2022. Please look into this.
As a work around we are hardcoding the setuptool version to 60.8.1

[2022-02-14 14:32] jiyongjung0 commented on #3104
We are facing the same issue with [tfx](https://github.com/tensorflow/tfx) CLI using setuptools 60.9.0. (60.8.2 is fine). I'm not sure this is related but I could find `ttx` instead of `tfx` in the expected binary directory.

[2022-02-14 15:10] armanckeser commented on #3102
I have the same issue

[2022-02-14 17:31] ketozhang opened #3105 "Barebones setuptool docs for "Using setuptools to package and distribute your project""
### Summary

This documentation page is barebones and leaves the user staring at a blank wall. Last this was updated was 2020 September.

* https://setuptools.pypa.io/en/latest/userguide/functionalities_rewrite.html#
* https://github.com/pypa/setuptools/blob/abbaacc62aa26c611d68b935363765af702c0861/docs/userguide/functionalities_rewrite.rst

### Code of Conduct

- [X] I agree to follow the PSF Cod

[2022-02-14 17:38] romuald commented on #3085
This somehow breaks projects entry points to pyramid/paste it seems, which aren't able to find their entry point anymore (I have no idea what's the cause)

Error for Google:

[2022-02-14 17:46] armanckeser commented on #3085
The same pr causes this issue I think #3102

[2022-02-14 19:32] rsyring commented on #3104
Dups? https://github.com/pypa/setuptools/issues/3103

[2022-02-14 20:23] bchopson commented on #3103
I encountered something similar. The project used `setup.py`, but had a `pyproject.toml` for black config. Either removing `pyproject.toml` or running `pip install --no-use-pep517 -e .` worked for me. I suspect it's something packaging related.

[2022-02-14 22:18] jaraco commented on #3102
I was able to replicate the error with these steps:

[code]

The issue is that `importlib_metadata` is expected to exist at exactly one version, but now that there's a vendored copy in Setuptools, one could encounter multiple, perhaps incompatible versions. The `Distribution._normalized_name` property was added in `importlib_metadata` 4.3, so the presence of `importlib_metadata` 4.2 causes its [Me

[2022-02-14 22:23] jaraco commented on #3103
It seems likely that the changes to how entry points are processed in Setuptools 60.9 have broken some assumption that wasn't captured by the tests. More investigation is needed.

[2022-02-14 22:25] jaraco commented on #3104
Likely duplicate. Assuming so until I find otherwise.

[2022-02-14 22:25] #3104 closed

[2022-02-14 22:40] jaraco commented on #3103
I have a clue as to what's going on. The thread/pipelinewise-tap-postgres project defines entry points as a string, and when I was debugging, I found that `importlib_metadata.EntryPoints._from_text()` doesn't return an `EntryPoints` instance as I'd expected, but instead returns an iterable... and when passed through [`validate()`](https://github.com/pypa/setuptools/blob/abbaacc62aa26c611d68b935363

[2022-02-14 23:04] alex opened #3107 "[BUG] setuptools._vendor.pyparsing.ParseException on pypy wiht tox with setuptools 60.9.0"
### setuptools version

60.9.0

### Python version

pypy 3.7

### OS

ubuntu linux

### Additional environment information

_No response_

### Description

Runnign tox with pypy and setuptools 60.9.0 produces:

[code]

The full traceback can be seen in this CI run: https://github.com/pyca/cryptography/runs/5192122892?check_suite_focus=true

Pinning to a previous version of setuptools resolves this

[2022-02-14 23:21] jaraco commented on #3107
I'm guessing that the relevant change ([history](https://setuptools.pypa.io/en/latest/history.html#v60-9-0)) is the bump of packaging.

[2022-02-14 23:22] jaraco commented on #3105
I'm unsure the history of that doc. I welcome investigation or edits.

[2022-02-14 23:28] jaraco commented on #3103
Verified that the fix works:

[code]

[2022-02-14 23:30] ketozhang commented on #3105
Good first issue?

[2022-02-14 23:57] rsyring commented on #3103
I work with @bchopson and can confirm our entry points were defined as a string.

[2022-02-15 00:11] jaraco commented on #3102
I can confirm that the proposed (ugly) workaround does address the issue:

[code]

[2022-02-15 01:01] jaraco commented on #3107
This repro is quite difficult to follow given that it requires pypy, rust, openssl, and still the error happens in an isolated pip environment without any access to the source.

[2022-02-15 01:07] alex commented on #3107
Would it be helpful if I put together a Dockerfile that built an environment for reproducing this?

There's unfortunately not much I can do about the moving pieces here, they're what's involved in reproducing this. (As for the isolated pip environment, I can take even less responsibility for that!)

[2022-02-15 01:11] jaraco commented on #3107
I've made some progress, but thanks. Still working on it...

[2022-02-15 01:14] jaraco commented on #3107
I'm now confident 2d6cc80fae6d17455a124391eab39eb4eddfee2f is implicated.

[2022-02-15 02:00] jaraco commented on #3107
The issue stems from the fact that importlib_metadata returns different types for `cffi`'s requires:

[code]

[2022-02-15 02:06] alex commented on #3107
Hmmm, on pypy cffi is pre-installed and ships with the interpreter AFAIK (it's for this reason that we don't even list it as a dependency on pypy! https://github.com/pyca/cryptography/blob/main/pyproject.toml#L8). Where does the metadata come from in that case?

I guess in the first instance the question is whether PyPy is in the _wrong_ for this to be an empty string, or whether it's an edge case

[2022-02-15 02:15] jaraco commented on #3107
My guess is the use-case is under-specified. What I can say is that the data is coming from the egg-info path:

[code]

[2022-02-15 02:52] #3103 closed

[2022-02-15 02:55] #3102 closed

[2022-02-15 02:55] #3107 closed

[2022-02-15 08:16] Sinyuk opened #3110 "[BUG] The error associated with the inability to use the installed tools with the setuptools 60.9.0 version (Released: 14.02.2022 00:00 ) Command not found"
### setuptools version

setuptools == 60.9.0

### Python version

Python 3.7-3.9

### OS

Linux, Windows

### Additional environment information

_No response_

### Description

The error associated with the inability to use the installed tools with the setuptools 60.9.0 version (Released: 14.02.2022 00:00 ) Command was not found. Work with any version to 60.6.0.

After installation, the package i

[2022-02-15 09:48] abravalheri commented on #3110
Hi @Sinyuk, thank you for bringing this issue up, however I don't know if I understand your problem description and the steps you provided to reproduce the problem...

I am afraid `setuptools` never provided a CLI command called `test` that you could run in your own. I can validate this belief by running:

[code]

Could you please expand more your problem description and clarify that?
Also could y

[2022-02-15 15:25] Sinyuk commented on #3110
Dear, @abravalheri
**How to Reproduce:**
1. git clone https://github.com/epam/aws-syndicate
2. Add the 'setuptools==60.9.0' field to install_requires in setup()
3. pip install --force-reinstall -e .
4. execute 'syndicate'

Maybe resolved in 60.9.1 - _Fixed issue where string-based entry points would be omitted._
The 60.9.1 version works as expected.

[2022-02-15 15:28] abravalheri commented on #3110
Ah perfect!

Thank you very much @Sinyuk for the clarification @Sinyuk.
Looking at the project you shared I can see that it relies on [`entry_points` being specified as a string](https://github.com/epam/aws-syndicate/blob/3f95c645602c1196fa155a939f3d16ffc0d93021/setup.py#L43). Indeed v60.9.0 had problems with those, as reported in #3103.

This bug was fixed in v60.9.1. So I will go ahead and close

[2022-02-15 15:28] #3110 closed

[2022-02-15 16:45] Sinyuk commented on #3110
Ok, thanks

[2022-02-15 18:44] abravalheri commented on #2847
Hi @mara004, please find my comments bellow:

When I run:

[code]
I cannot find the `platform_setup` folder inside the distribution.
When moving towards PEP 517, `python setup.py sdist` is what effectively runs, so I believe it will produce an `sdist` without the required files.

This statement is incorrect, please check https://setuptools.pypa.io/en/latest/deprecated/distutils/sourcedist.html#spe

[2022-02-15 19:27] mara004 commented on #2847
That is confusing. I cannot reproduce the behaviour you are experiencing, at least not with the latest state of the repository. When running your sequence of commands, I get a tarball including all directories and files that are not excluded in `.gitignore` (sample: [pypdfium2-0.13.1.tar.gz](https://github.com/pypa/setuptools/files/8074012/pypdfium2-0.13.1.tar.gz)).
However, as mentioned previousl

[2022-02-15 19:42] mara004 commented on #2847
It is not, because it means the code will eventually stop working, should the setuptools comman-line really be removed some day.

The warning is there for a reason. Filtering it won't help anyone.

[2022-02-15 19:45] mara004 commented on #2847
Sure, but the current approach of PEP 517 has serious limitations that cause a lot of problems for downstream packagers.
The rationale is very vague and theoretical; not sufficiently backed by practical use cases.

[2022-02-15 19:49] abravalheri commented on #2847
One pratical use case is the future removal of easy_install.

[2022-02-15 19:59] mara004 commented on #2847
What pybind does looks interesting, but from what I can see it's not about dealing with pre-built binaries.
In addition to its main `setup.py`, pybind has `setup_global.py.in` and `setup_main.py.in`, but I don't quite understand under which circumstances these take effect and how they play together with the main `setup.py`.

[2022-02-15 20:33] jaraco commented on #3092
I'm going to do-dupe this to #3035 and re-open that one.

[2022-02-15 20:33] #3092 closed

[2022-02-16 00:00] jaraco commented on #3035
I've confirmed the issue and localized where the module appears:

[code]

With those two asserts, the first one passes and the second one doesn't. It's interesting and a little surprising that `import distutils.core` triggers the creation of both `distutils.log` and `setuptools._distutils.log`.

[2022-02-16 02:15] #3035 closed

[2022-02-16 03:14] nitzmahone commented on #3073
(original reporter of this issue here): Yeah, we're also still hitting different permutations of this with current setuptools where the "wrong distutils" assert is firing in mixed situations where it shouldn't (usually when a system-site-packages venv with ancient setuptools is involved)- we're doing the envvar hack disable to limp along, but we really need to figure out a broader solution before

[2022-02-16 11:59] mara004 commented on #2847
The problem is that this reduction in complexity of the setuptools codebase greatly increases the difficulty for downstream packagers. With the old `setup.py` approach, there was a lot of flexibility, and yet the interface could be kept relatively high-level so I only needed a small, easy to overview amount of code.
As PEP 517 essentially renders the high-level API unusable for cross-packaging, I

[2022-02-16 12:17] abravalheri commented on #2847
Hi @mara004, locally I was able to use [`python -m build`](https://pypa-build.readthedocs.io/en/stable/) to create both a `.tar.gz` and `.whl` files for pypdfium2, by implementing the changes I discussed in https://github.com/pypa/setuptools/issues/2847#issuecomment-1038404625. Off course this does not imply that those artifacts are correct (I am a user of the project, not I have knowledge about i

[2022-02-16 12:24] sphuber opened #3113 "[BUG] Vendoring of `importlib_metadata` is shadowing actual package"
### setuptools version

setuptools==60.9.1

### Python version

Python 3.8 and Python 3.9

### OS

Ubuntu 20.04

### Additional environment information

_No response_

### Description

Since `setuptools` started vendoring `importlib_metadata` it is shadowing the actual package. This means that the type of entry points are no longer the class provided by the original `importlib_metadata` but the ve

[2022-02-16 13:56] jaraco commented on #3093
It seems the release process is broken due to concurrency cancellation:

![image](https://user-images.githubusercontent.com/308610/154278836-aa912e33-a5a1-470c-957c-1844a8e1b0af.png)

Because a tagged commit is also a mainline commit with the same SHA hash, the second one without the tag takes precedence, so the tagged commit gets cancelled and no release happens.

I'm not sure what needs to be do

[2022-02-16 13:58] mara004 commented on #2847
That's very interesting, thanks for trying this! Could you please submit a PR so I can take a look?

The test suite should be fairly easy to use: Just install the artifact that corresponds to your platform and run `python3 -m pytest tests/`. You can also inspect the artifacts with an archiver tool and see if the `pypdfium2/` directory contains the files `_pypdfium.py` and one-of `pdfium` / `pdfium

[2022-02-16 14:00] blink1073 commented on #3093
We were discussing this on the original [PR](https://github.com/pypa/setuptools/pull/3097#issuecomment-1040377788).  I can move the release job to a separate workflow.  We lose the `needs` safety check, but tagging is an explicit action.

[2022-02-16 14:09] abravalheri commented on #3093
@blink1073, @jaraco is a new workflow the best approach here or would it be better to add, for example `github.ref_type` to the group key?

separate workflow
  - pros: the tests don't need to run twice.
  - cons: currently the `integration` tests just run on tags, so it might cause a situation where the tag is being published with integration tests never being checked against the last commits...

[2022-02-16 14:10] blink1073 commented on #3093
We could move the `integration` tests to that new workflow

[2022-02-16 14:16] abravalheri commented on #3093
Yeah, that would work!

I am trying to think if there is another situation when tests other than integration might be skipped.

I suppose if someone creates a few commits in a row, create a tag and than publishes that can happen.

So this change would imply people with commit rights follow a more strict discipline, which is very reasonable. But probably it is good to check Jason's opinion first.

[2022-02-16 14:42] blink1073 commented on #3093
I can submit a PR, but I'll be afk for the next couple of hours.

[2022-02-16 15:40] mara004 commented on #2847
Okay, I see. This means your changes do not solve the problem - I already tried your suggestions from https://github.com/pypa/setuptools/issues/2847#issuecomment-1038404625.
As outlined previously, I need to run the various setup files in `platform_setup` to create the 8 platform-specific wheels I upload to PyPI, but you created only a single wheel using `setup.py`, right?

Well, this is the proce

[2022-02-16 15:49] abravalheri commented on #2847
This reminds me the way `pybind11` uses an environment variable to select which setup file to use. Maybe you could try that?

[2022-02-16 15:50] mara004 commented on #2847
How does that work?

[2022-02-16 15:55] abravalheri commented on #2847
Build will not do that *automatically* for you.
The guys in `pybind11` came up with this [strategy](https://github.com/pybind/pybind11/blob/009ffc336299f58dcb439fae278eb135150b71c1/setup.py#L50) of using the main `setup.py` to select another file to run. It is quite ingenious.

They are `exec-ing` the secondary files, because they are creating them dynamically from templates, but in your case, sin

[2022-02-16 20:17] pradyunsg commented on #2971
I think this issue can be retitled to "Deprecate and drop `upload_docs` command", which is reasonably the only bit that setuptools can action on.

[2022-02-16 22:01] mgorny opened #3115 "[BUG] Stray files in 60.9.2 release"
### setuptools version

60.9.2

### Python version

n/a

### OS

n/a

### Additional environment information

_No response_

### Description

The `setuptools-60.9.2.tar.gz` (sdist) archive seems to include some stray files:

[code]

### Expected behavior

No stray files ;-).

### How to Reproduce

[code]

### Output

[code]

[2022-02-16 22:34] fluffyball9 commented on #2475
In the `__init__` function for `SystemInfo` in msvc.py, it uses the variable `vc_ver` if you go up the call stack through `EnviromentInfo` to `msvc9_query_vcvarsall`, you see that `vc_ver` is actually the minimum version required.

[2022-02-16 22:50] jaraco commented on #3115
Well, that's annoying and unintended. I cut the release from my laptop due to issues in the CI release pipeline (https://github.com/pypa/setuptools/issues/3093#issuecomment-1041517254). I probably should have cleaned up ignored files first. Nothing I can do about it for this release and I do prefer to use the CI pipelines for releases in general. I do have plans to adopt `setuptools_scm` (#2656),

[2022-02-16 22:50] #3115 closed

[2022-02-16 23:05] jaraco commented on #3113
Are you sure? Setuptools started vendoring `importlib_metadata` in 6.8.0. It started using it in 6.9.0, and it specifically took precedence over a base install in 6.9.1 due to #3107.

It'd be good to know if 6.9.0 experiences the undesirable behavior you report.

This issue is particularly tricky because:

- Setuptools can't have real dependencies (#2825).
- Any copy of importlib_metadata (even ve

[2022-02-16 23:16] jaraco commented on #3093
I have a couple of objections to creating a separate workflow.

- This project attempts to align with the principles in jaraco/skeleton. It can deviate, but I'd like to avoid creating a whole different experience here than with other projects derived from skeleton.
- I don't want the release workflow to bypass checks. The test suite should be checked and pass on the code before it's released and s

[2022-02-16 23:32] mgorny commented on #3115
Nah, just wanted to give you a heads up in case you changed the release process and something went wrong.

[2022-02-17 07:20] sphuber commented on #3113
Thanks @jaraco for the detailed comment.

I am not an expert, so I probably described the exact cause incorrectly. But what I reported as the observed behavior seems to be reproducible. It seems then maybe that when setuptools started using it, the behavior was triggered.

I will do this test later and report back with the results.

We discovered the problem, because in our application we have the

[2022-02-17 08:27] sphuber commented on #3113
The behavior for 60.9.0 is identical to that of 60.9.1:
[code]

[2022-02-17 09:21] giuseppefilippone opened #3117 "[FR] Ability to compiler a static library with the class Mingw32Compiler on Windows 10"
### What's the problem this feature will solve?

Hi, everyone!

I use `Python 3.8`, `setuptools v60.9.1`, and `mingw32` installed with [MSYS2](https://www.msys2.org/).

I noticed that the class `Mingw32CCompiler` in `setuptools/_distutils/cygwinccompiler.py` has the following two lines:
[code]

Hence, every module compiled with this class must be a shared library. The above lines put the flags `-s

[2022-02-17 10:36] C-nit opened #3118 "build with setup.py errors with 60.9.1 [BUG]"
### setuptools version

setuptools==60.9.1

### Python version

Python 3.7.6

### OS

Linux

### Additional environment information

This was encountered on TravisCI using the pypi deployment provider, happens with multiple linux versions from precise to xenial.
Not tested on Linux outside of Travis. Cannot reproduce it on MacOS.

### Description

Running `python setup.py sdist bdist_wheel` errors

[2022-02-17 10:44] C-nit commented on #3118
also setuptools==60.9.0 and setuptools==60.9.2

[2022-02-17 10:53] mara004 commented on #2847
FYI, I started working on PEP517-compliance in a branch: https://github.com/pypdfium2-team/pypdfium2/pull/68/files
The environment variables were a really nice idea.

[2022-02-17 16:22] emirkmo commented on #1316
10 years later, and the stack overflow question on this is still full of misleading answers. The solutions here also require specific python versions. Very sad that this did not get considered.

https://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined-in-setup-py-setuptools-in-my-package

It is full of boilerplate code hacks to do something that should ideally be read_version(

[2022-02-17 23:34] lorengordon commented on #3118
Yep, we've been seeing the same behavior with 60.9. Will continue to remain pinned to 60.8.2 for now.

[2022-02-18 01:15] jaraco commented on #3118
A similar issue was reported in #2029. In that case, the problem came from inconsistencies found between two different versions of 'setuptools'. That hook was added to Setuptools around v42 and removed in c71969013d726c5cbd06dc81770ab064f3e783ff for v46. So my guess is there's another copy of setuptools on the path from which the metadata is taking precedence.

[2022-02-18 02:08] lorengordon commented on #3118
Well it's not a Dockerfile, but it is reproducible in our CI config, and it is isolated to the bump of setuptools... https://github.com/plus3it/watchmaker/pull/1958

Fwiw, it also seems specific to python 3.7 and 3.8.

[2022-02-18 02:20] jaraco commented on #3118
I appreciate that it's reproducible in your CI environment. Unfortunately, unless we can somehow ascertain the factors that make it fail in CI and reproduce those in a local environment, it will be near impossible to diagnose. I do suspect there's something about having two different versions of setuptools installed, on of which is >42,<46. I just yet don't know what other factor(s) are relevant.

[2022-02-18 02:26] lorengordon commented on #3118
Oh I totally understand. I didn't mean to imply that it was somehow on you to figure out from our setup! 😆 It's been failing for a bit, but I've only just started looking into it (pinning CI dependencies makes it not critical for us!). I'll post here if I figure out how to reproduce more simply.

[2022-02-18 02:57] lorengordon commented on #3118
The mentions of focal and xenial above got me to check our travis-ci config, and it was still using bionic. Updated that to focal and the error went away. So makes sense to me that the interaction of the older bionic worker and its bundled packages, and our pinned virtualenv and setuptools versions resulted in the error. Anyway, sorry for the noise, but hopefully that's enough of a clue to help so

[2022-02-18 14:52] mara004 commented on #2847
Ah, yes. Sorry, I overlooked you already mentioned this. I will see what I can do with `importlib` or `sys.path`.
You're right that adding the CWD sys.path is not a nice solution, for it would include all the other files and subdirectories.

[2022-02-18 15:22] pradyunsg commented on #1995
FWIW, after #2671 is resolved, this will have a universal cross build-backend answer:

[code]

[2022-02-18 16:13] henryiii commented on #1260
Pip 21.2 allows self dependencies: https://github.com/pypa/pip/issues/10393

The interpolation workaround is appearing in more places - https://github.com/ipython/ipython/pull/13471 and in Twisted. With setup.cfg possibly having numbered days, I'd probably recommend not deprecating the interpolation (https://github.com/pypa/setuptools/issues/889). But that doesn't solve the issue for PEP 621, such

[2022-02-18 16:16] pradyunsg opened #3119 "[BUG] setuptools does not protect against race conditions on parallel builds"
### setuptools version

setuptools == 60.9.3

### Python version

3.9, although this is Python version agnostic

### OS

MacOS, although this is OS-agnostic

### Additional environment information

_No response_

### Description

I have a Makefile that tries to build multiple wheels for a Python package, in parallel. This fails, with weird errors such as the following (from a `pip wheel . --log ou

[2022-02-19 00:41] jaraco commented on #3119
I was able to replicate the behavior, and setting PIP_USE_PEP517=1 dosen't work around the issue. Is that because build isolation isolates the Python environment but not the source? I thought it also copied the source (though I understand why it might not). Aha! I see that [pip 21 dropped support for isolated builds](https://github.com/pypa/pip/issues/8165#issuecomment-621149465). If I downgrade t

[2022-02-19 06:55] pradyunsg commented on #3119
Yea, 21.3 switched to in-tree builds, instead of copying to a randomised build directory.

[2022-02-20 14:44] gst opened #3126 "[BUG] easy-install.pth when updated during installation is overwritten without the recently added changes"
### setuptools version

setuptools==60.9.3

### Python version

CPython 3.8

### OS

Ubuntu 20.04

### Additional environment information

Used in combination/on top of a CMake project using sub-projects via cmake FetchContent module : https://cmake.org/cmake/help/git-stage/module/FetchContent.html#fetchcontent

### Description

Basically : my setup.py is calling cmake to build a cmake project wit

[2022-02-20 17:09] gst commented on #3126
could make a fix that's doing what I was eventually expecting :

[code]

[2022-02-20 17:55] gst commented on #3126
should I make/propose an MR ?

[2022-02-20 20:11] abravalheri commented on #1688
If anyone would like to help testing the feature (to see if anything breaks in existing packages), I posted some information on the [Python Discourse](https://discuss.python.org/t/help-testing-experimental-features-in-setuptools/13821).

[2022-02-21 22:45] amalachow opened #3129 "[BUG] build_scripts.py incorrectly handles shebang lines with DOS line endings"
### setuptools version

setuptools 60.9.3

### Python version

Python 3.8.10

### OS

NT-10.0-19042

### Additional environment information

_No response_

### Description

shebang using DOS line endings causes the shebang regular expression to fail resulting in redirection to the python interpreter used for the installed script to not behave as expected.

### Expected behavior

The shebang is rew

[2022-02-22 00:51] imba-tjd commented on #3117
Is it possible to compile a module statically under, for example, MSVC, or gcc on linux?

[2022-02-22 03:33] bjodah opened #3130 "[BUG] CC="ccache gcc" stopped working for C++ builds since setuptools-60.0.0"
### setuptools version

setuptools>=60.0.0

### Python version

CPython 3.9

### OS

Ubuntu 20.04 LTS

### Additional environment information

-

### Description

Running setup.py build_ext with CC set to "ccache gcc-11" causes this to happen when building a c++ extension module:
[code]
Setting `SETUPTOOLS_USE_DISTUTILS=stdlib` yields the expected linkline:
[code]

The compile comands look alright

[2022-02-22 09:16] bmerry commented on #3130
I can reproduce this with `CC="ccache gcc" pip install --no-binary spead2 spead2==3.7.0`, although it has a sizable compile time so one can probably find simpler packages to exhibit the same behaviour.

[2022-02-22 10:17] abravalheri commented on #3126
Hi @gst, thank you very much for bringing this discussion.

As I pointed out in the PR, I probably lack the knowledge to assess this issue, so I will just ask for general information that would help the other maintainers.

I have some questions (sorry if they are already in your original text and I missed them):

- Did this used to work in old versions of `setuptools`?
- If that is the case, do yo

[2022-02-22 12:10] gst commented on #3126
Hi @abravalheri ,

I don't know / that is a good question I guess. maybe, maybe not.

yes. even though it does not change the picture ; it's basically this:

[code]

Now my setup.py is thus calling my CMakeLists.txt (via/using .. well cmake calls).
In that main/top level CMakeLists.txt I include other cmake projects (having basically the same structure, which does not matter). Using cmake FetchCon

[2022-02-22 13:25] C-nit commented on #3118
Sorry this took me a while.

In the environment I encountered the issue, that is Travis CI, we are automatically running in a virtualenv.
Deactivating this virtualenv indeed shows there is a setuptools==44.1.1 apparently in a python2 system environment

[code]

[2022-02-22 14:04] jaraco commented on #3118
That's interesting. I wouldn't expect a Python 3 virtualenv to be finding metadata for a version of Setuptools found in Python 2. Can you run this in the failing environment:

[code]

[2022-02-22 14:14] KOLANICH opened #3131 "[BUG] Editable install has recently stopped working in Ubuntu 21.10 Impish when run from root"
### setuptools version

latest from git, but I have rolled back to ancient ones and the issue persists, the issue is likely not in setuptools itself

### Python version

CPython 3.9

### OS

Kubuntu 21.10 Impish

### Additional environment information

_No response_

### Description

`sudo pip3 install --upgrade -e .` doesn't result in package becoming importable. Installing from a user works fine

[2022-02-23 12:20] C-nit commented on #3118
So you were right, nothing to do with python2.

Running
[code]
at 2 times:

<details>
  <summary>1. in the virtualenv, with setuptools==60.5.0</summary>

[code]
</details>

[code]

<details>
  <summary>2. in the virtualenv, updated to setuptools==60.9.2</summary>

On the update, following TravisCI's steps on the deploy phase, we get a new version of pip.
[code]

there is actually a dependency conf

[2022-02-24 09:45] bartmao opened #3132 "[BUG] Failed to install pathlib: 'PosixPath' object has no attribute 'read_text'"
### setuptools version

setuptools>=60.9.0

### Python version

3.7

### OS

Debian

### Additional environment information

pip 22.0.3

### Description

Failed to install pathlib in force mode

### Expected behavior

pathlib successfully installed

### How to Reproduce

[code]

### Output

[code]

[code]

[2022-02-24 10:12] abravalheri commented on #3132
Hi @bartmao, I am under the impression that the package `pathlib` is *discontinued* and should not be used.

You can directly `import pathlib` in Python, because it is now part of the standard library.

You can also use [`pathlib2`](https://pypi.org/project/pathlib2/) instead.

[2022-02-24 10:12] #3132 closed

[2022-02-24 15:20] abravalheri commented on #3129
Hi @amalachow, thank you very much for bringing this up.

Does this issue also happens when using the `console_scripts` [entry-point](https://setuptools.pypa.io/en/stable/userguide/entry_point.html)?

[2022-02-24 15:37] abravalheri commented on #2738
Hi @kujiu, would it be possible for you to check if [this experimental branch](https://github.com/pypa/setuptools/tree/separte-setup-cfg-config) works for your package?

To do that you have to modify your `pyproject.toml` to get setuptools directly from github:

[code]

[2022-02-24 15:44] abravalheri commented on #2688
Hi @KOLANICH, thank you very much for bringing this topic for discussion.

The current implementation specifically suggests that this behaviour is intentional, although I don't know what is the rationale behind it. So I will re-label this from `bug` to `enhancement`.

(I can conjecture that if the exclusion is automatically recursive there is no way of "re-including" a nested package, so in some s

[2022-02-24 18:53] gst commented on #3126
@pjeby @webknjaz @agronholm @jaraco @RonnyPfannschmidt

please have a look at this issue and the related proposed fix/MR.

Thank you.

[2022-02-24 19:49] amalachow commented on #3129
@abravalheri took a quick look at this and on Windows the `console_scripts` entry-point is generating a Windows executable.

Taking much of the same logic in the original bug report and modifying setup.py to use and including an empty `__init__.py`
[code]
Does this align with what you were expecting?

[2022-02-24 20:11] abravalheri commented on #3129
Yes, exactly. Thank you very much for testing that! I was just wondering if `pip` also re-creates the script wrappers, but it seems that this is not the case.

@amalachow would you like to submit the proposed patch to https://github.com/pypa/distiutils? I think that repository would be the best place to address the error... From times to times it get merged in setuptools, if we change something di

[2022-02-24 21:38] agronholm commented on #3126
Why did you ping so many people? I for one am not working on setuptools.

[2022-02-25 01:04] gst commented on #3126
I only ping the ones I can find with git blame related to this repository and this specific change/file.

[code]

Regards.

[2022-02-25 15:05] hexagonrecursion commented on #3019
Ref: https://github.com/pypa/pip/blob/6d1c027ec877f9a52bd7e7d3ff53e3a4ca7e9cea/src/pip/_internal/operations/install/editable_legacy.py

[2022-02-25 15:20] abravalheri commented on #3019
Thank you very much for the reference @hexagonrecursion, I still haven't had the time to dive into the issue, but this link will definitely be useful!

[2022-02-25 15:23] hexagonrecursion commented on #3019
I have found a workaround:
[code]

I do not know why ENABLE_USER_SITE is false when `setup.py develop` is executed via pip. Gotta run. Will look into this later.

[2022-02-25 17:07] abravalheri opened #3135 "[CI] `test_build_ext.py` is regularly failing on Windows: `Microsoft Visual C++ 14.0 or greater is required`"
The CI is regularly failing with the following [message](https://github.com/pypa/setuptools/runs/5335642042?check_suite_focus=true#step:5:187):

This does not seem to be directly related to any recent change to setuptools code in particular.
Maybe it is related to changes in GitHub's infrastructure?

[2022-02-25 17:49] abravalheri commented on #3135
It seems to be related to changes on the windows-2022 host: https://github.com/actions/virtual-environments/issues/5141

[2022-02-25 19:20] hexagonrecursion commented on #3019
https://github.com/pypa/setuptools/blob/00fbad0f93ffdba0a4d5c3f2012fd7c3de9af04d/setuptools/command/easy_install.py#L272-L277

[2022-02-25 19:31] abravalheri commented on #3019
@hexagonrecursion thank you very much for investigating that and solving it!
Would you like to open a PR?

[2022-02-25 19:36] hexagonrecursion commented on #3019
What PR? I'll open one once I have figured out how to **fix** it. For now I only know how to hack around the issue and even then I am not sure that my hack works properly. I am, havever, making progress towards uncovering the root cause.

[2022-02-25 19:42] hexagonrecursion commented on #3019
sys.flags.no_user_site is true for some reason

[code]

ref https://github.com/python/cpython/blob/eb002dbe0da9622245a355db5f0cd5aa2fc70b40/Lib/site.py#L242-L243

[2022-02-25 20:28] hexagonrecursion commented on #3019
two questions for tomorrow me:
- [ ] why does ENABLE_USER_SITE=False cause setuptools to try installing in /usr/local? Note: I have so far been unable to reproduce this effect outside pip: somehow `python -s setup.py develop` still works.
- [ ] why is sys.flags.no_user_site True?

[2022-02-26 01:14] jaraco commented on #3129
I'll move this issue to the distutils project.

[2022-02-26 01:20] jaraco commented on #3129
That's weird - I don't seem to have distutils access:
![image](https://user-images.githubusercontent.com/308610/155823095-345d5f0e-32c4-4fd7-b9bf-dd66490ec9c2.png)

[2022-02-26 01:30] jaraco commented on #3130
It's quite possible that something evolved in the distutils implementation after it was adopted from the stdlib. Setuptools' own copy of distutils has been around since v50 (IIRC), but was opt-in with `SETUPTOOLS_USE_DISTUTILS=local`. Maybe it would make sense to bisect those versions to see which version of setuptools introduced the change. But before we could do that, we'd need a good minimal re

[2022-02-26 01:33] jaraco commented on #3131
Debian still needs to provide patches to support distutils as found in Setuptools. See #2996.

[2022-02-26 01:33] #3131 closed

[2022-02-26 01:56] jaraco commented on #3126
Do I understand correctly that the issue is that multiple PthDistributions objects are being created at the same time and overwriting the changes of the other? Can you explain a bit more about what conditions cause two PthDistribution objects to be interleaved?

[2022-02-26 08:06] gst commented on #3126
@jaraco you understand correctly.

I tried to explain it in the following post : https://github.com/pypa/setuptools/issues/3126#issuecomment-1047733071

well. the following simple code demonstrates the issue :

[code]

with that the `something` was lost previously.

[2022-02-26 08:31] bjodah commented on #3130
@jaraco , thanks, I created a reproducer:

https://github.com/bjodah/reproducer-setuptools-ccache-gh3130

My findings are as follows:
When setting `SETUPTOOLS_USE_DISTUTILS=local`, then:
- Using (latest) NumPy (1.22.2):
  - 58.0.4 is OK
  - 58.1.0 is bad
- Using no numpy:
  - 58.0.4 is OK
  - 58.1.0 is bad

Hope this is of any help.

[2022-02-26 09:17] RonnyPfannschmidt commented on #3126
I'd say it's absolutely OK to break that way when people run hacked up nested editable installs instead of running the installs in order

[2022-02-26 11:45] gst commented on #3126
@RonnyPfannschmidt

it's not really _hacked_. it's just/only a cmake build .. which includes/builds other sub-projects (as part of its own build).

for my point of view : it doesnt work previously :)

because the save() method should check the pth file has not been modified since it was loaded and in the case it has, I think merging new content is what's the user is expecting ?

As I said: everyth

[2022-02-26 13:03] cdce8p opened #3136 "[FR] Include type information by default (`*.pyi`, `py.typed`) - PEP 561"
### What's the problem this feature will solve?

[PEP 561](https://www.python.org/dev/peps/pep-0561/) specifies how type information should be included in a distributions. Namely package authors may choose to add `py.typed` files to fully typed packages and / or include `.pyi` stub files. By default, those files won't be included in the sdist / wheel distribution packages.

To add them, a package

[2022-02-26 15:57] jaraco commented on #3130
That's a huge help. You've narrowed the problem to [these changes](https://github.com/pypa/setuptools/compare/v58.0.4...v58.1.0). From there, I was quickly able to find f182b5e2f6e492cd13eed98d7f248d4146456d8c, which is almost certainly implicated in the regression. I'll transfer this issue to distutils.

[2022-02-26 16:01] jaraco commented on #3130
That commit was added in pypa/distutils#54.

[2022-02-26 16:06] jaraco commented on #3130
@isuruf Would you be willing to work out a solution that captures this regression and restores the prior expectation?

[2022-02-26 16:36] jaraco commented on #3126
I meant to ask for more detail regarding how Setuptools loses control of the file mid-operation. You've described the use of cmake, but that's not an option that Setuptools invokes, so I'd like more detail about how one would replicate the behavior at the project level. I understand you've traced the symptom and you're addressing the symptom at the level of the PthDistribution behavior, and that's

[2022-02-26 16:48] gst commented on #3126
well : I guess the exact thing happening is this :

1) I do pip install -e .  of the main/top-level project. that setup.py is building python pybind11 extension. but the related project, includes others cmake sub-projects (that I maintain), theses sub-projects also contain pybind11 extension(and have their own setup.py each).
2) the top level setup.py is thus calling cmake on the main/top level pr

[2022-02-26 16:50] gst commented on #3126
personally I don't see why it could not be an accepted use case though.. even if new and/or unexpected.. it's happening :)

[2022-02-26 17:07] isuruf commented on #3130
Sure. I'll look into it

[2022-02-26 17:23] jaraco commented on #3126
That's fair and deserves an explanation. I'm disinclined to add complexity (new boolean flags that touch the code in multiple places) to support an idiosyncratic use-case that's needed by only one person, especially when it's supporting a usage that I would discourage and especially if the intended outcome can be achieved by a different approach.

I appreciate the fact that the proposed PR is limi

[2022-02-26 17:28] gst commented on #3126
sure. I followed same principle than here : https://github.com/pybind/cmake_example/blob/master/setup.py

[2022-02-26 17:44] isuruf commented on #3130
See https://github.com/pypa/distutils/pull/117

[2022-02-27 11:53] gst commented on #3126
@jaraco you added "Needs repro" tag.. but I don't know what I could give more than the test and all the description/explanation I already gave here..

what kind of repro ?

[2022-02-27 20:31] jaraco commented on #3126
Thanks for that link. From there, I can see that the setup.py is implementing a custom `build_ext`, so now it's more clear that the reason the operations are interleaved is because the technique is invoking cmake from within a setuptools build_ext operation, and cmake is invoking additional setuptools operations.

I'm tempted to say that the right thing to do here is to document that `build_ext` s

[2022-02-27 22:34] gst commented on #3126
That's what my proposed is proposing.. to support this approach / use-case :)

Can you please clarify what complexity you talk about ? I only refresh the file content before saving it basically.. I'm not sure how complex that is...

ho well..

[2022-02-28 02:35] jaraco commented on #3126
The PthDistribution class and its usage are already overly-complex. Even though PthDistribution is constructed just once, it's passed values from EasyInstall.all_site_dirs, which is derived from various sources. PthDistribution extends Environment, but it's not clear how much of Environment is relevant to the usage here. And as much as I try, the existing save/load functionality is difficult to si

[2022-02-28 12:56] gst commented on #3126
ok but I was more asking what complexity **I** added.. ?

For the fact that PthDistribution extends/subclass Environment .. yes and ? I don't see how it's relevant to what I changed.. which actually only concerns the PthDistribution save() behavior basically.

well the load is done in the `__init__.py` method and the save in the `save()` one.. I don't see how that's not simple or complicated too h

[2022-02-28 13:22] gst commented on #3126
I _could_ build a full reproducer and publish it. I cannot release/publish the projects on which I'm working 'cause it's for my employer obviously ;)

But that would take me quite some time. And it would involve/include cmake.

Basically that would be :

[code]

where the `parent_project/CMakeLists.txt` thus _includes_ the child project (actually via git clone in the build directory). AND also cal

[2022-02-28 22:38] eggplants opened #3139 "[FR] Default tag to install all extras"
### What's the problem this feature will solve?

I would like to install all extras by using default tag like `[all]`, or `[all_extras]`.

In many projects, this feature is often implemented like this in `setup.py`:

[code]

But this way is not available in `setup.cfg`.
So, I would like to have a default tag that can install all extras.

### Describe the solution you'd like

- declare a default ta

[2022-03-01 06:12] charlieman opened #3140 "[BUG] sys.stderr is None when running generated exe in bash on Windows"
### setuptools version

setuptools===60.9.3

### Python version

Python 3.10

### OS

Windows 10

### Additional environment information

This is happening in Bash (using bash that comes with [git for windows](https://gitforwindows.org/)

### Description

On Windows running a terminal with bash, when I run the exe files generated from entry_point configurations (for example pip.exe or ipython.exe)

[2022-03-01 14:40] gst commented on #3126
otherwise I was thinking :

maybe we can make this "refresh & merge" in the save() method optional then.. and default it to disabled and so only opt-in for it explicitly ?

[2022-03-02 15:03] hroncok opened #3143 "[BUG] `setup.py install --prefix ...` uses easy_install -- breaks completely with setuptools 80+"
### setuptools version

60.9.3

### Python version

3.10.2

### OS

Fedora Linux 35

### Additional environment information

This is only happening with `SETUPTOOLS_USE_DISTUTILS=local` i.e. the default.

### Description

With a very simple setup.py script like this:

[code]

When I install the package with `python setup.py install --prefix <custom_value>` the installation warns me about missing s

[2022-03-02 22:10] mgorny opened #3146 "[BUG] pkg_resources do not handle "new" escaping of .dist-info names correctly"
### setuptools version

60.9.3

### Python version

3.8.12

### OS

Gentoo Linux

### Additional environment information

_No response_

### Description

The [wheel spec](https://packaging.python.org/en/latest/specifications/binary-distribution-format/) says:

However, pkg_resources doesn't seem to correctly handle package names containing `.` if it is escaped into `_`.

### Expected behavior

[co

[2022-03-03 06:28] PolyacovYury commented on #2491
Just encountered this.
My use-case was to pass `--quiet` from `python -m build` call.

First there is an issue with build itself: passing `-C--global-option=--quiet` *once* causes an error, since `config_settings['--global-option']` becomes a string, and setuptools expects a list. Maybe change `_fix_config()` to something like:
[code]

Second issue is that setuptools does NOT conform to https://ww

[2022-03-03 07:45] befeleme opened #3147 "[FR] Tests: provide a way to point to a custom setuptools wheel"
### What's the problem this feature will solve?

I want to update setuptools to 60.9.3 in Fedora. In our build environment there's no internet access. This means that tests using among others a newly added fixture [`setuptools_wheel`](https://github.com/pypa/setuptools/blob/main/setuptools/tests/fixtures.py#L81) have to be disabled, as this fixture uses module `build` which needs internet to insta

[2022-03-03 08:40] abravalheri commented on #3147
Hi @befeleme , thank you very much for bringing this up.

Would something like I did here https://github.com/pypa/setuptools/blob/4b5baaa91ea439fc629fe50e8450077ebf061580/setuptools/tests/conftest.py in the context o #3049 work for you?

[2022-03-03 09:06] abravalheri commented on #2491
Hi @PolyacovYury , I think the first part of the problem you described was solved in
https://github.com/pypa/setuptools/pull/2876, wasn't it?

Regarding the second part:

It is not immediately clear to me that the spec mandates that `--global-option` should come before `setup_command`... Is there any specific part of the document or is this something you concluded is necessary for `--quiet` to wor

[2022-03-03 11:55] layday commented on #2491
I commented on this upthread:

----

This is all setuptools-specific stuff, the spec has no notion of global options.

[2022-03-03 15:50] hexagonrecursion commented on #3019
I have excluded pip and reduced it to:
* Fails: `python -s setup.py develop --user`
* Works: `python setup.py develop --user`
[code]
# setup.py
[code]

[2022-03-03 16:07] hexagonrecursion commented on #3019
pip is innocent: we hide the stack ourselves:

https://github.com/pypa/setuptools/blob/e30999503add90052a1bbf4526c3025baed947f7/setuptools/command/easy_install.py#L483-L484

[2022-03-03 17:17] hexagonrecursion commented on #3019
I have figured out the pip side of the equation: PYTHONNOUSERSITE is set to 1 causing sys.flags.no_user_site = 1 in setup.py

https://github.com/pypa/pip/blob/d35bedc5cbb9f19217f6a42a68ab3c7f010fe694/src/pip/_internal/build_env.py#L141-L147
[code]

[2022-03-04 09:50] befeleme opened #3149 "[BUG] test_pip_upgrade_from_source fails if no internet connection is available"
### setuptools version

60.9.3

### Python version

Python 3.10.2

### OS

Fedora Linux 35

### Additional environment information

This happens when no internet connection is available.

### Description

There is a [test_pip_upgrade_from_source](https://github.com/pypa/setuptools/blob/main/setuptools/tests/test_virtualenv.py#L84) that parametrizes pip versions and tries to detect whether the netw

[2022-03-04 11:01] befeleme commented on #3147
Hi @abravalheri, thank you, we could definitely utilize those bits in our environment! :)

[2022-03-04 11:05] abravalheri commented on #3147
Perfect, let's extract that part of the PR in a separated one.

[2022-03-04 11:14] abravalheri commented on #3149
Hi @befeleme thank you very much for pointing that problem out.

So if I understood correctly the problem comes from these 2 lines right?

https://github.com/pypa/setuptools/blob/e30999503add90052a1bbf4526c3025baed947f7/setuptools/tests/test_virtualenv.py#L92

https://github.com/pypa/setuptools/blob/e30999503add90052a1bbf4526c3025baed947f7/setuptools/tests/test_virtualenv.py#L102

I wonder if coul

[2022-03-04 11:25] befeleme commented on #3149
Hi, @abravalheri, do you have another suggestion? Skipping it altogether was the first thing that came to my mind seeing the network failure (that's what we're about to do in Fedora). Even if I point to an already pre-built sdist, the test will attempt to build a wheel from it, failing again on the `wheel` installation.

[2022-03-04 11:37] abravalheri commented on #3149
The more stable solution would be also *XFAIL-ing* this test in case of no internet (we can mention #3149 and #2986[^1] in the reason).

@befeleme would you like to give it a try?

[^1]: As pointed out in #2986 in the case setuptools decides to vendor `wheel` or re-implement `bdist_wheel`, then `wheel` would be no longer a dependency for the build and therefore we could perform the test offline.

[2022-03-04 16:43] amalachow commented on #3129
Moved manually to https://github.com/pypa/distutils/issues/124

[2022-03-04 16:43] #3129 closed

[2022-03-04 21:01] PolyacovYury commented on #2491
Looks like it was, yes. Might need to update my venvs then, but when I tested this (the day before the comment was posted) this was either not published to PyPI or somehow managed to not get pulled by my pip. Me still having python 3.6 is to blame, perhaps?..

---

Is there any specific part of the document...?

Oops. Was kinda frustrated after a 2-day-long debug session, which resulted in me not

[2022-03-04 21:20] lostmsu opened #3150 "[BUG] Wrong libpython library name on Windows with debug Python build"
### setuptools version

60.9.3

### Python version

3.10.2

### OS

Windows 10

### Additional environment information

This only happens when trying to install CFFI on a debug build of Python.

### Description

`setuptools` appears to try to link against wrong python lib when debug build of CPython is used. It attempts `python310.lib` while the real lib is called `python310_d.lib`

Related issue

[2022-03-05 06:42] hexagonrecursion commented on #3019
# Summary of my debugging so far:

* Without pyproject.toml `pip install -e .` runs setup.py 2 times:

    1. `setup.py egg_info --egg-base /tmp/pip-pip-egg-info-twrrxz0k`
    2. `setup.py develop --no-deps --user --prefix=`

    This appears to work fine. Both times `~/.local/lib/python3.9/site-packages` is in sys.path

* With pyproject.toml `pip install -e .` runs setup.py 3 times:

    1. egg_i

[2022-03-05 11:52] hexagonrecursion commented on #3019
Related:
1. 05ddf95fbac925bed8a75497e48a72e1d0ff6fdb
2. 152c6fa220df3ce8c3f211d490bfe547b155b0e2
3. 9456da484efba996b190310fa39dca7db2c8ea81
4. d52f1865ccc7cc10389ff731ff4e84302fd83010
5.  #1941

[2022-03-05 12:26] RonnyPfannschmidt commented on #3019
I absolutely don't remember, this happened 12 years ago on bit bucket when it still supported mercurial, and it was on distribute prior to the re merge of the 2

[2022-03-06 16:23] Arun-Karunakaran commented on #2741
Even I ran in this error ,

Traceback (most recent call last):
  File "setup.py", line 85, in <module>
    setup(
  File "/usr/local/lib/python3.8/site-packages/setuptools/__init__.py", line 153, in setup
    return distutils.core.setup(**attrs)
  File "/usr/local/lib/python3.8/distutils/core.py", line 148, in setup
    dist.run_commands()
  File "/usr/local/lib/python3.8/distutils/dist.py", line

[2022-03-06 22:54] jaraco commented on #2741
Hi Arun. Your traceback provides no insight that changes any of the analysis previously done above. I've requested additional information from the original poster without response. If there's going to be any progress on this issue, it's going to require someone to come up with a reproducer that demonstrates what inputs are necessary to trigger the error.

[2022-03-07 04:49] mattslezak-shell opened #3154 "[FR] Switch Windows builds to use LLVM (opensource Apache 2.0) instead of Visual Studio modules - clang-cl.exe and lld-link.exe"
### What's the problem this feature will solve?

The current builds of Python for Windows use the MSVC 14.X libraries which are covered under the Microsoft Visual Studio licenses.  This means that any extension modules that are generated also fall under the same Microsoft licenses.  Which is contrary to the the whole point of Python in general - the whole library should be OPEN SOURCE.  So the ver

[2022-03-07 04:53] mattslezak-shell commented on #3154
[code]

[2022-03-07 18:51] ilCatania commented on #1806
As a workaround while this is implemented, I've done the following, it might be useful to someone else (note the example uses `src` layout but is easy to tweak):
[code]
and if you have this project structure:
[code]
then the package data will expand to:
[code]

[2022-03-07 21:41] AndydeCleyre opened #3157 "[BUG] Generated console scripts which depend on pkgs with dots in name fail if the dep was specified in setup.py with dashes instead"
### setuptools version

60.9.3

### Python version

3.9.7

### OS

Arch Linux

### Additional environment information

_No response_

### Description

I think the issue is really that `dist.key`'s normalization should converge dots and dashes, as they are interchangeable.

When:
- a `setup.py` file specifies a "normally" dotted requirement (with a `.` in its name), but uses a dash instead
- that r

[2022-03-07 22:41] abravalheri commented on #3139
Hi @eggplants, thank you very much for bringing this up.

I think that a better forum for discussing this change would be https://discuss.python.org/c/packaging, since it may involve other parts of the ecosystem and require standardisation.

[2022-03-08 09:13] befeleme commented on #3149
@abravalheri Thank you very much for taking this issue forward!

[2022-03-08 09:19] imec-cloudt84 opened #3159 "[BUG] egg_info run stage writes files to local directory as of verison 60.0.0"
### setuptools version

setuptools>=60.0.0

### Python version

3.8.12

### OS

Linux (unknown dist)

### Additional environment information

Conda: 4.9.2

pip list output:
[code]

### Description

I am trying to run:
[code]

to install a package from a directory to which I do not have any write permissions (it is not an option to change the permissions). As of version 60.0.0 the installation fail

[2022-03-08 18:17] AndydeCleyre commented on #3157
Also including here a quote from [PEP 503](https://www.python.org/dev/peps/pep-0503/):

[2022-03-09 05:53] yeolep opened #3160 "Incompatible install in (summarize your environment)"

[2022-03-09 06:57] tristanlatr commented on #1139
Here is my hack to quickly implement such feature within the `setup.py`.

[code]

[2022-03-09 19:33] grahamcarman commented on #3140
I'm getting the same issue. Unfortunately, it prevents me from running `server.py`, which outputs logs via `stderr`. Thank you so much for posting this.

[2022-03-10 07:55] chrisburr opened #3165 "[BUG] Unable to import pkg_resources before setuptools"
### setuptools version

60.9.3 (also affects the main branch)

### Python version

Python 3.7 from PyPy 7.3.7

### OS

macOS

### Additional environment information

Using packages from conda-forge.

### Description

Importing `pkg_resources` before `setuptools` results in `setuptools` being broken with `AttributeError: module 'setuptools' has no attribute 'version'`.

### Expected behavior

The i

[2022-03-10 09:12] abravalheri commented on #3165
I wonder if that could be related to the fact that PyPy 3.7 imports `distutils` in its `sysconfig`, which triggers `_distutils_hack` and potentially mess things around...

- https://foss.heptapod.net/pypy/pypy/-/blob/8301595a71447bbe58bb61c5ecd83d93cfda5eb0/lib-python/3/sysconfig.py#L461-473
- https://foss.heptapod.net/pypy/pypy/-/blob/8301595a71447bbe58bb61c5ecd83d93cfda5eb0/lib_pypy/_sysconfigda

[2022-03-10 09:14] delijati opened #3166 "[BUG] wheel install_as_egg does not honor file mode"
### setuptools version

 setuptools.__version__ '60.2.0'

### Python version

### OS

Manjaro

### Additional environment information

_No response_

### Description

Files installed via `Wheel.install_as_egg` have the same file mode as installed via `pip install`

### Expected behavior

Files installed via `Wheel.install_as_egg` have the same file mode as installed via `pip install`

### How to R